<ul class="product-variants-list{% if is_contain_color %} color-select{% endif %}{% if is_contain_variant_image %} color-select color-media{% endif %}">
  {% for value in option.values %}
    {% liquid
      assign value_variant = value.variant
      assign custom_swatch_color = null
    %}
    {% assign custom_colors = settings.custom_colors | newline_to_br | split: '<br />' %}
    {% for color in custom_colors %}
      {% assign color_code = color | strip | split: ':' %}
      {% assign color_name = color_code.first | downcase | strip | remove: ' ' %}
      {% assign value_normalized = value | downcase | remove: ' ' %}
      {% if color_name == value_normalized %}
        {% assign cc_val = color_code.last | strip %}
        {% if cc_val contains '#' %}
          {% assign custom_swatch_color = cc_val %}
        {% endif %}
        {% break %}
      {% endif %}
    {% endfor %}
    <li
      class="product-variant-item"
      variant-option-item
      title="{{ value }}">
      <input
        type="radio"
        id="{{ option_input_name }}-{{ value }}"
        name="{{ option_input_name }}"
        value="{{ value }}"
        {% if value == option.selected_value %}
        checked
        ="checked"
        {% endif %}
        aria-labelledby="label-{{ value }}">
      <label
        for="{{ option_input_name }}-{{ value }}"
        id="label-{{ value }}"
        class="variant-label"
        {% if is_contain_color %}
        {% if value.swatch.image %}
        style="background-image:url({{ value.swatch.image | image_url: width: 70 }}); background-position:{{ value.swatch.image.presentation.focal_point }};"
        {% elsif value.swatch.color %}
        style="--swatch-color: rgb({{ value.swatch.color.rgb }});"
        {% else %}
        {% if custom_swatch_color %}
        style="--swatch-color: {{ custom_swatch_color }}"
        {% else %}
        data-pallet-color="{{ value | handleize }}"
        style="--swatch-color: {{ value | handleize }}"
        {% endif %}
        {% endif %}
        {% endif %}
        {% if is_contain_variant_image %}
        {% if value.variant.featured_media != blank %}
        style="background-image:url({{ value.variant.featured_media | image_url: width: '70' }});"
        {% else %}
        {% if value.swatch.image %}
        style="background-image:url({{ value.swatch.image | image_url: width: 70 }}); background-position:{{ value.swatch.image.presentation.focal_point }};"
        {% elsif value.swatch.color %}
        style="--swatch-color: rgb({{ value.swatch.color.rgb }});"
        {% else %}
        {% if custom_swatch_color %}
        style="--swatch-color: {{ custom_swatch_color }};"
        {% else %}
        data-pallet-color="{{ value | handleize }}"
        style="--swatch-color: {{ value | handleize }};"
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}>
        <span class="tooltip">{{ value }}</span>
      </label>
    </li>
  {% endfor %}
</ul>