{% comment %} Check if Reima style is active {% endcomment %}
{% assign is_reima_style = false %}
{% if section.settings.menu_type == 'reima_mega_menu' %}
  {% assign is_reima_style = true %}
{% endif %}

{% comment %} Collect Reima nav tab blocks for mobile menu {% endcomment %}
{% assign reima_nav_tabs = section.blocks | where: "type", "reima_nav_tab" %}

<mobile-menu class="drawer-wrapper open-left mobile-menu-side-drawer scheme-{{ settings.mb_menu_color_scheme }}{% if is_reima_style %} reima-mobile-menu{% endif %}" id="MobileDrawer"
    data-section-id="{{ section.id }}"
    data-drawer="mobile-menu-drawer"> 
    <div class="close-drawer" data-close-drawer=""></div>
    <div class="drawer-container">
      <div class="drawer-inner">
            <div class="drawer-head">
                <div class="drawer-head-content border-bottom">
                    <close-drawer class="drawer-close-main" data-drawer-close>
                        <button class="close-button" aria-label="Close drawer" aria-hidden="true">
                            {% render 'svg-icons'
                            , icon: 'close' %}
                          {% render 'svg-icons'
                            , icon: 'close-bg' %}
                  
                        </button>
                    </close-drawer>                        
                  </div>
            </div>
           <div class="mobile-menu-content-wrapper">
            <div class="mobile-menu-utility-links">
              <a href="{{ routes.search_url }}" class="mobile-menu-utility-link" data-source="search-drawer">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                  <path d="M23.707 22.293L17.738 16.324C19.3646 14.3346 20.1644 11.7961 19.9719 9.23359C19.7793 6.67106 18.6092 4.28056 16.7036 2.55655C14.798 0.832537 12.3026 -0.0930816 9.73367 -0.0288498C7.16472 0.035382 4.71873 1.08455 2.90164 2.90164C1.08455 4.71873 0.035382 7.16472 -0.0288498 9.73367C-0.0930816 12.3026 0.832537 14.798 2.55655 16.7036C4.28056 18.6092 6.67106 19.7793 9.23359 19.9719C11.7961 20.1644 14.3346 19.3646 16.324 17.738L22.293 23.707C22.4816 23.8892 22.7342 23.99 22.9964 23.9877C23.2586 23.9854 23.5094 23.8803 23.6948 23.6948C23.8803 23.5094 23.9854 23.2586 23.9877 22.9964C23.99 22.7342 23.8892 22.4816 23.707 22.293ZM10 18C8.41778 18 6.87106 17.5308 5.55546 16.6518C4.23987 15.7727 3.21449 14.5233 2.60899 13.0615C2.00349 11.5997 1.84506 9.99115 2.15374 8.4393C2.46243 6.88746 3.22435 5.46199 4.34317 4.34317C5.46199 3.22435 6.88746 2.46243 8.4393 2.15374C9.99115 1.84506 11.5997 2.00349 13.0615 2.60899C14.5233 3.21449 15.7727 4.23987 16.6518 5.55546C17.5308 6.87106 18 8.41778 18 10C17.9976 12.121 17.154 14.1545 15.6542 15.6542C14.1545 17.154 12.121 17.9976 10 18Z" fill="currentColor"/>
                </svg>
                <span>Search</span>
              </a>
              {% if shop.customer_accounts_enabled %}
                <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="mobile-menu-utility-link">
                  <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M12 12C13.1867 12 14.3467 11.6481 15.3334 10.9888C16.3201 10.3295 17.0892 9.39246 17.5433 8.2961C17.9974 7.19975 18.1162 5.99335 17.8847 4.82946C17.6532 3.66558 17.0818 2.59648 16.2426 1.75736C15.4035 0.918247 14.3344 0.346802 13.1705 0.115291C12.0067 -0.11622 10.8003 0.00259972 9.7039 0.456726C8.60754 0.910851 7.67047 1.67989 7.01118 2.66658C6.35189 3.65328 6 4.81331 6 6C6.00159 7.59081 6.63424 9.11602 7.75911 10.2409C8.88399 11.3658 10.4092 11.9984 12 12ZM12 2C12.7911 2 13.5645 2.2346 14.2223 2.67412C14.8801 3.11365 15.3928 3.73836 15.6955 4.46927C15.9983 5.20017 16.0775 6.00444 15.9231 6.78036C15.7688 7.55629 15.3878 8.26902 14.8284 8.82843C14.269 9.38784 13.5563 9.7688 12.7804 9.92314C12.0044 10.0775 11.2002 9.99827 10.4693 9.69552C9.73836 9.39277 9.11365 8.88008 8.67412 8.22228C8.2346 7.56449 8 6.79113 8 6C8 4.93914 8.42143 3.92172 9.17157 3.17158C9.92172 2.42143 10.9391 2 12 2Z" fill="currentColor"/>
                    <path d="M16.4922 14H7.50778C6.04757 14.0016 4.64767 14.5244 3.61514 15.4536C2.58261 16.3829 2.00176 17.6428 2 18.957L2 24H4.22222V18.957C4.2231 18.173 4.56954 17.4213 5.18551 16.867C5.80148 16.3126 6.63667 16.0008 7.50778 16H16.4922C17.3633 16.0008 18.1985 16.3126 18.8145 16.867C19.4305 17.4213 19.7769 18.173 19.7778 18.957V24H22V18.957C21.9982 17.6428 21.4174 16.3829 20.3849 15.4536C19.3523 14.5244 17.9524 14.0016 16.4922 14Z" fill="currentColor"/>
                  </svg>
                  <span>{% if customer %}Account{% else %}Login{% endif %}</span>
                </a>
              {% endif %}
            </div>
            <hamburger-menu-drawer class="hamburger-menu-content-wrapper">
                {% comment %} Use Reima nav tabs if available, otherwise fall back to standard menu {% endcomment %}
                {% if is_reima_style and reima_nav_tabs.size > 0 %}
                    <ul class="hamburger-menu-list main-menu reima-mobile-nav">
                        {% for block in reima_nav_tabs %}
                            <li class="hamburger-menu-item menu-item-{{ forloop.index }} focus-inside{% if block.settings.is_sale %} reima-sale-item{% endif %}"
                                data-hamburger-item
                                {% if block.settings.has_dropdown %} data-menu-item tabindex="0" {% endif %}>

                                <{% if block.settings.has_dropdown %}span{% else %}a href="{{ block.settings.tab_link | default: '#' }}"{% endif %}
                                    class="main-menu-link hamburger-menu-link text-md body-font cursor-pointer focus-inside{% if block.settings.is_sale %} sale-link{% endif %}">
                                    {{ block.settings.tab_title }}
                                    {% if block.settings.has_dropdown %}
                                        <span>
                                            <svg width="6" height="9" viewBox="0 0 6 9" fill="none">
                                                <path d="M1.02943 9L-8.99959e-08 7.97057L3.34383 4.61943L-6.75927e-07 1.2683L1.02943 0.238867L5.41 4.61943L1.02943 9Z" fill="currentColor"/>
                                            </svg>
                                        </span>
                                    {% endif %}
                                </{% if block.settings.has_dropdown %}span{% else %}a{% endif %}>

                                {% if block.settings.has_dropdown %}
                                    <div class="hamburger-menu-submenu pos-absolute left-0 top-0 width-100 height-100" data-has-child>
                                        <button class="hamburger-menu-back width-100" data-back-to-menu>
                                            <svg width="6" height="9" viewBox="0 0 6 9" fill="none">
                                                <path d="M4.97057 9L6 7.97057L2.65617 4.61943L6 1.2683L4.97057 0.238867L0.590001 4.61943L4.97057 9Z" fill="currentColor"/>
                                            </svg>
                                            <span>Back</span>
                                        </button>
                                        <ul class="hamburger-menu-submenu-list">
                                            {% comment %} Column 1 links {% endcomment %}
                                            {% if block.settings.col1_menu != blank %}
                                                {% for link in linklists[block.settings.col1_menu].links %}
                                                    <li class="hamburger-menu-item focus-inside">
                                                        <a href="{{ link.url }}" class="hamburger-menu-link text-md body-font focus-inside">{{ link.title }}</a>
                                                    </li>
                                                {% endfor %}
                                            {% endif %}
                                            {% comment %} Column 2 links {% endcomment %}
                                            {% if block.settings.col2_menu != blank %}
                                                {% for link in linklists[block.settings.col2_menu].links %}
                                                    <li class="hamburger-menu-item focus-inside">
                                                        <a href="{{ link.url }}" class="hamburger-menu-link text-md body-font focus-inside">{{ link.title }}</a>
                                                    </li>
                                                {% endfor %}
                                            {% endif %}
                                            {% comment %} Column 3 links {% endcomment %}
                                            {% if block.settings.col3_menu != blank %}
                                                {% for link in linklists[block.settings.col3_menu].links %}
                                                    <li class="hamburger-menu-item focus-inside">
                                                        <a href="{{ link.url }}" class="hamburger-menu-link text-md body-font focus-inside">{{ link.title }}</a>
                                                    </li>
                                                {% endfor %}
                                            {% endif %}
                                            {% comment %} See all link {% endcomment %}
                                            <li class="hamburger-menu-item focus-inside reima-see-all-mobile">
                                                <a href="{{ block.settings.tab_link }}" class="hamburger-menu-link text-md body-font focus-inside" style="color: #c41230; font-weight: 500;">See All</a>
                                            </li>
                                        </ul>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% elsif section.settings.menu != blank %}
                    <ul class="hamburger-menu-list main-menu">
                        {% for link in section.settings.menu.links %}
                            {% liquid
                                assign mega_menu_status = false
                                assign block_mega_menus = '' 
                                assign show_menu_default_image = false  
                                assign menu_default_image = '' 
                                assign check_mega_menu_images = false
    
                                assign link_title = link.title | handleize
                                for block in section.blocks
                                assign block_label = block.settings.title | handleize
                                if block_label == link_title and block.type == 'mega-menu'
                                    if block.settings.content_image_1 != blank
                                    assign check_mega_menu_images = true
                                    endif
                                    assign mega_menu_status = true
                                    assign block_mega_menus = block.settings.mega_menu
                                    if block.settings.show_menu_images
                                      assign show_menu_default_image = true
                                      assign menu_default_image = block.settings.menu_default_image 
                                    endif
                                endif
                                endfor
                            %} 
                            <li class="hamburger-menu-item menu-item-{{ forloop.index }} focus-inside" data-hamburger-item {% if link.links.size > 0 or mega_menu_status %} data-menu-item tabindex="0" {% endif %}>
                            <{% if link.links.size > 0 or mega_menu_status %}span{% else %}a href="{{ link.url }}"{% endif %} class="main-menu-link hamburger-menu-link text-md body-font cursor-pointer focus-inside">
                                {{- link.title }}
                                {% if link.links.size > 0 or mega_menu_status %}
                                    <span>
                                        <svg width="6" height="9" viewBox="0 0 6 9" fill="none">
                                        <path d="M1.02943 9L-8.99959e-08 7.97057L3.34383 4.61943L-6.75927e-07 1.2683L1.02943 0.238867L5.41 4.61943L1.02943 9Z" fill="currentColor"/>
                                        </svg>
                                    </span>
                                {% endif %}
                            </{% if link.links.size > 0 or mega_menu_status %}span{% else %}a{% endif %}>
    
                            {% if link.links.size > 0 or mega_menu_status %}
                                <div class="hamburger-menu-submenu pos-absolute left-0 top-0 width-100 height-100" data-has-child>
                                    <button class="hamburger-menu-back width-100" data-back-to-menu>
                                        <svg width="6" height="9" viewBox="0 0 6 9" fill="none">
                                        <path d="M4.97057 9L6 7.97057L2.65617 4.61943L6 1.2683L4.97057 0.238867L0.590001 4.61943L4.97057 9Z" fill="currentColor"/>
                                        </svg>
                                        <span>Back</span>
                                    </button>
    
                                    <ul class="hamburger-menu-submenu-list">
                                        {% if block_mega_menus == blank %}
                                        {% for childLink in link.links %}
                                            {% assign childIndex = forloop.index %}
                                            <li class="hamburger-menu-item menu-item-{{ childIndex }} focus-inside" {% if childLink.links.size > 0 %} data-menu-item tabindex="0" {% endif %}>
                                                <{% if childLink.links.size > 0 %}span{% else %}a href="{{ childLink.url }}"{% endif %} class="hamburger-menu-link text-md body-font cursor-pointer focus-inside">
                                                {{- childLink.title -}}
                                                {% if childLink.links.size > 0 %}
                                                    <span>
                                                        <svg width="6" height="9" viewBox="0 0 6 9" fill="none">
                                                            <path d="M1.02943 9L-8.99959e-08 7.97057L3.34383 4.61943L-6.75927e-07 1.2683L1.02943 0.238867L5.41 4.61943L1.02943 9Z" fill="currentColor"/>
                                                        </svg>
                                                    </span>
                                                {% endif %}
                                            </{% if childLink.links.size > 0 %}span{% else %}a{% endif %}>
                                            {% if childLink.links.size > 0 %}
                                                <div class="hamburger-menu-submenu inner-submenu pos-absolute left-0 top-0 width-100 height-100" data-has-grandchild>
                                                    <button class="hamburger-menu-back width-100" data-back-to-menu>
                                                        <svg width="6" height="9" viewBox="0 0 6 9" fill="none">
                                                            <path d="M4.97057 9L6 7.97057L2.65617 4.61943L6 1.2683L4.97057 0.238867L0.590001 4.61943L4.97057 9Z" fill="currentColor"/>
                                                        </svg>
                                                        <span>Back</span>
                                                    </button>
                                                    <ul class="hamburger-menu-submenu-list inner-submenu-list">
                                                        {% for grandChildLink in childLink.links %}
                                                            {% assign grandchildIndex = forloop.index %}
                                                            <li class="hamburger-menu-item menu-item-{{ grandchildIndex }} focus-inside">
                                                                <a href="{{ grandChildLink.url }}" class="hamburger-menu-link text-sm body-font focus-inside" aria-label="{{ grandChildLink.title }}">{{- grandChildLink.title -}}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                        {% endif %}

                                        {% if mega_menu_status %}
                                            {% if block_mega_menus != blank %}
                                                {% for mega_menus in block_mega_menus.links %}
                                                    <li class="hamburger-menu-item megamenu-menu-wrapper focus-inside" {% if mega_menus.links.size > 0 %} data-menu-item tabindex="0" {% endif %}>
                                                        <{% if mega_menus.links.size > 0 %}span{% else %}a href="{{ mega_menus.url }}"{% endif %} class="hamburger-menu-link{% if show_menu_default_image %} menu-with-image{% endif %} text-md body-font cursor-pointer focus-inside">
                                                            {% if show_menu_default_image %}
                                                                {% assign childlink_object = mega_menus.object %}
                                                                  {% if childlink_object.image != blank or childlink_object.featured_image != blank or menu_default_image != blank %}
                                                                    <div class="nav-megamenu-image-wrapper">
                                                                      <div class="media" style="--image-ratio:100%">
                                                                        {% if childlink_object.featured_image != blank %}
                                                                          {% render 'lazy-images', image: childlink_object.featured_image, sizes: '(max-width: 768px) 100vw, 300px', loading: 'lazy' %}
                                                                        {% elsif childlink_object.image != blank %}
                                                                          {% render 'lazy-images', image: childlink_object.image, sizes: '(max-width: 768px) 100vw, 300px', loading: 'lazy' %}
                                                                        {% else %}  
                                                                          {% render 'lazy-images', image: menu_default_image, sizes: '(max-width: 768px) 100vw, 300px', loading: 'lazy' %}
                                                                        {% endif %}
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                            {% endif %}
    
                                                            {{- mega_menus.title -}}
                                                            {% if mega_menus.links.size > 0 %}
                                                                <span>
                                                                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none">
                                                                        <path d="M1.02943 9L-8.99959e-08 7.97057L3.34383 4.61943L-6.75927e-07 1.2683L1.02943 0.238867L5.41 4.61943L1.02943 9Z" fill="currentColor"/>
                                                                    </svg>
                                                                </span>
                                                            {% endif %}
                                                        </{% if mega_menus.links.size > 0 %}span{% else %}a{% endif %}>
    
                                                        {% if mega_menus.links.size > 0 %}
                                                            <div class="hamburger-menu-submenu inner-submenu pos-absolute left-0 top-0 width-100 height-100" data-has-grandchild>
                                                                <button class="hamburger-menu-back width-100" data-back-to-menu>
                                                                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none">
                                                                        <path d="M4.97057 9L6 7.97057L2.65617 4.61943L6 1.2683L4.97057 0.238867L0.590001 4.61943L4.97057 9Z" fill="currentColor"/>
                                                                    </svg>
                                                                    <span>Back</span>
                                                                </button>
                                                                <ul class="hamburger-menu-submenu-list inner-submenu-list">
                                                                    {% for childLink in mega_menus.links %}
                                                                        {% assign childLinkindex = forloop.index %}
                                                                        <li class="grandchildlink-child-wrapper hamburger-menu-item menu-item-{{ childLinkindex }}" {% if childLink.links.size > 0 %} data-grandchild-child{% endif %}>
                                                                            <{% if childLink.links.size > 0 %}span{% else %}a href="{{ childLink.url }}"{% endif %} class="hamburger-menu-link text-md body-font focus-inside" {% if childLink.links.size > 0 %} data-grandchild-child-trigger tabindex="0"{% endif %} aria-label="{{ childLink.title }}">
                                                                                {{- childLink.title -}} 
                                                                                {% if childLink.links.size > 0 %}
                                                                                    <span>
                                                                                        <svg width="6" height="9" viewBox="0 0 6 9" fill="none">
                                                                                            <path d="M1.02943 9L-8.99959e-08 7.97057L3.34383 4.61943L-6.75927e-07 1.2683L1.02943 0.238867L5.41 4.61943L1.02943 9Z" fill="currentColor"/>
                                                                                        </svg>
                                                                                    </span>
                                                                                {% endif %}
                                                                            </{% if childLink.links.size > 0 %}span{% else %}a{% endif %}>
                                                                            {% if childLink.links.size > 0 %}
                                                                                <ul class="hamburger-menu-submenu-list inner-submenu-list">
                                                                                    {% for grandchildLink in childLink.links %}
                                                                                        <li class="hamburger-menu-item focus-inside">
                                                                                            <a href="{{ grandchildLink.url }}" class="hamburger-menu-link text-sm body-font focus-inside" aria-label="{{ grandchildLink.title }}">{{ grandchildLink.title }}</a>
                                                                                        </li>
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            {% endif %}
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            {% endif %}
                                            {% if check_mega_menu_images %}
                                        <li class="hamburger-menu-item menu-item-{{ link.links.size | plus: 1 }} mega-menu-hamburger-images-wrapper">
                                            {% assign link_title = link.title | handleize %}
                                            {% for block in section.blocks %}
                                            {% assign block_label = block.settings.title | handleize %}
                                            {% if block_label == link_title and block.type == 'mega-menu' %}
     
                                                {% if block.settings.image_ratio == 'landscape' %}
                                                    {% assign image_ratio = '75'  %}
                                                  {% elsif block.settings.image_ratio == 'square' %}
                                                    {% assign image_ratio = '100' %}
                                                  {% elsif block.settings.image_ratio == 'portrait' %}
                                                    {% assign image_ratio = '120' %}
                                                {% endif %}
    
                                                {%- for i in (1..2) -%}
                                                {%- liquid
                                                    assign image_id = 'content_image_' | append: i
                                                    assign heading_id = 'content_heading_' | append: i
                                                    assign heading_size_id = 'heading_size_' | append: i
                                                    assign description_id = 'content_description_' | append: i
                                                    assign description_size_id = 'description_size_' | append: i
                                                    assign link_id = 'content_link_' | append: i
                                                -%}
    
                                                {% if block.settings[image_id] != blank %} 
                                                <{% if block.settings[link_id] != blank %}a href="{{ block.settings[link_id] }}"{% else %}div{% endif %} class="header-mega-menu-images-item-inner">
                                                  {% if block.settings.image_ratio == 'auto' %}
                                                    {% assign image_ratio = 1 | divided_by: block.settings[image_id].aspect_ratio | times: 100 %}
                                                  {% endif %}
                                                  <div class="header-menu-menu-img media-wrapper media-overlay">
                                                    <div class="media" style="--image-ratio:{{ image_ratio }}%;">
                                                      {% render 'lazy-images', image: block.settings[image_id] %}
                                                    </div>
                                                  </div>
                                                  {% if block.settings[heading_id] != blank or block.settings[description_id] != blank or block.settings[button_id] != blank %}
                                                  <div class="header-menu-menu-image-content d-bottom-left d-text-{{ block.settings.desktop_text_alignment }}">
                                                    {% if block.settings[heading_id] != blank %}
                                                    <h5 class="{{ block.settings[heading_size_id] }}">{{ block.settings[heading_id] }}</h5>
                                                    {% endif %} 
                                                    {% if block.settings[description_id] != blank %}
                                                      <p class="{{ block.settings[description_size_id] }}">{{ block.settings[description_id] }}</p>
                                                    {% endif %}         
                                                  </div>
                                                {% endif %}
                                                </{% if block.settings[link_id] != blank %}a{% else %}div{% endif %}>
                                              {% endif %}
                                                {%- endfor -%}
                                            {% endif %}
                                            {% endfor %}
                                        </li> 
                                        {% endif %}
                                    {% endif %}
                                    </ul>
                                </div>
                            {% endif %}
    
                            </li>
    
                        {% endfor %}
                    </ul>
                {% endif %}
    
                {% if section.settings.category_menus != blank %}
                  <ul class="hamburger-menu-list hamburger-category-menus">
                    {% for link in section.settings.category_menus.links %}
    
                        {% liquid
                            assign category_menu_status = false
                            assign link_title = link.title | handleize
                            for block in section.blocks
                            assign block_label = block.settings.title | handleize
                            if block_label == link_title and block.type == 'category_mega_menus' and block.settings.content_image_1 != blank
                                assign category_menu_status = true
                            endif
                            endfor
                        %} 
                        <li class="hamburger-menu-item category-menu-item-{{ forloop.index }} focus-inside" data-hamburger-item {% if link.links.size > 0 or category_menu_status %} data-menu-item tabindex="0" {% endif %}>
                            <{% if link.links.size > 0 or category_menu_status %}span{% else %}a href="{{ link.url }}"{% endif %} class="hamburger-menu-link text-md body-font cursor-pointer focus-inside">
                                {{- link.title }} 
                                {% if link.links.size > 0 or category_menu_status %}
                                    <span>
                                        <svg width="6" height="9" viewBox="0 0 6 9" fill="none">
                                        <path d="M1.02943 9L-8.99959e-08 7.97057L3.34383 4.61943L-6.75927e-07 1.2683L1.02943 0.238867L5.41 4.61943L1.02943 9Z" fill="currentColor"/>
                                        </svg>
                                    </span>
                                {% endif %}
                            </{% if link.links.size > 0 or category_menu_status %}span{% else %}a{% endif %}>
    
                            {% if link.links.size > 0 or category_menu_status %}
                                <div class="hamburger-menu-submenu pos-absolute left-0 top-0 width-100 height-100" data-has-child>
                                    <button class="hamburger-menu-back width-100" data-back-to-menu>
                                        <svg width="6" height="9" viewBox="0 0 6 9" fill="none">
                                        <path d="M4.97057 9L6 7.97057L2.65617 4.61943L6 1.2683L4.97057 0.238867L0.590001 4.61943L4.97057 9Z" fill="currentColor"/>
                                        </svg>
                                        <span>Back</span>
                                    </button>
                                    <ul class="hamburger-menu-submenu-list">
                                        {% for childLink in link.links %}
                                           {% assign childIndex = forloop.index %}
                                        <li class="hamburger-menu-item menu-item-{{ childIndex }} focus-inside" {% if childLink.links.size > 0 %} data-menu-item tabindex="0" {% endif %}>
                                            <{% if childLink.links.size > 0 %}span{% else %}a href="{{ childLink.url }}"{% endif %} class="hamburger-menu-link text-md body-font cursor-pointer focus-inside">
                                                {{- childLink.title -}}
                                                {% if childLink.links.size > 0 %}
                                                    <span>
                                                        <svg width="6" height="9" viewBox="0 0 6 9" fill="none">
                                                            <path d="M1.02943 9L-8.99959e-08 7.97057L3.34383 4.61943L-6.75927e-07 1.2683L1.02943 0.238867L5.41 4.61943L1.02943 9Z" fill="currentColor"/>
                                                        </svg>
                                                    </span>
                                                {% endif %}
                                            </{% if childLink.links.size > 0 %}span{% else %}a{% endif %}>
                                                {% if childLink.links.size > 0 %}
                                                    <div class="hamburger-menu-submenu inner-submenu pos-absolute left-0 top-0 width-100 height-100" data-has-grandchild>
                                                        <button class="hamburger-menu-back width-100" data-back-to-menu>
                                                            <svg width="6" height="9" viewBox="0 0 6 9" fill="none">
                                                                <path d="M4.97057 9L6 7.97057L2.65617 4.61943L6 1.2683L4.97057 0.238867L0.590001 4.61943L4.97057 9Z" fill="currentColor"/>
                                                            </svg>
                                                            <span>Back</span>
                                                        </button>
                                                        <ul class="hamburger-menu-submenu-list inner-submenu-list">
                                                            {% for grandChildLink in childLink.links %}
                                                                {% assign grandchildIndex = forloop.index %}
                                                                <li class="hamburger-menu-item menu-item-{{ grandchildIndex }} focus-inside">
                                                                    <a href="{{ grandChildLink.url }}" class="hamburger-menu-link text-sm body-font focus-inside" aria-label="{{ grandChildLink.title }}">{{- grandChildLink.title -}}</a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                {% endif %}
                                        </li>
                                        {% endfor %}
                                        {% if category_menu_status %}
                                             <li class="hamburger-menu-item menu-item-{{ link.links.size | plus: 1 }} mega-menu-hamburger-images-wrapper">
                                                {% render 'category-mega-menu', link_title: link_title, section: section %}
                                            </li>
                                        {% endif %}
                                     </ul>
                                </div> 
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                 {% endif %}
                </hamburger-menu-drawer>
            </div>

            {% if section.settings.show_location_and_language or section.settings.enable_social_icons  %}
            <div class="mobile-menu-footer-content-wrapper">
                {% liquid
                    assign social_icons = true
                    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_linkedin_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
                      assign social_icons = false
                    endif
                %}
                {% if social_icons and section.settings.enable_social_icons %}
                <div class="mobile-menu-icons social-icons text-center">
                    {% render 'social-icons' %}
                </div>
                {% endif %}

                {% if section.settings.show_location_and_language %}
                    <div class="mobile-menu-localization-form">
                      {% render 'localization-form', section: section %}
                    </div>
                  {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</mobile-menu>