<div class="product-pricing" id="price-{{ section.id }}">
  {%- liquid
    if use_variant
      assign target = product.selected_or_first_available_variant
    elsif placeholder
      assign target = null
    else
      assign target = product
    endif

    assign compare_at_price = target.compare_at_price
    assign price = target.price | default: 1999
    assign price_min = product.price_min
    assign price_max = product.price_max
    assign available = target.available | default: false
    assign money_price = price | money
    assign money_price_min = price_min | money
    assign money_price_max = price_max | money

    if target == product and product.price_varies
      assign money_price = 'products.product.price.from_price_html' | t: price: money_price
    endif
  -%}

  {%- unless target == null and placeholder == null -%}
    <div class="
        d-flex price price-show-badge align-items-center
        {%- if price_class %} {{ price_class }}{% endif -%}
          {%- if available == false %} price-sold-out{% endif -%}
          {%- if compare_at_price > price and product.quantity_price_breaks_configured? != true %} price-on-sale{% endif -%}
          {%- if compare_at_price > price and product.quantity_price_breaks_configured? %} volume-pricing-sale-badge{% endif -%}
          {%- if product.price_varies == false and product.compare_at_price_varies %} price-no-compare{% endif -%}
      ">
      <div class="price-container">
        <div class="price-regular">
          {%- if product.quantity_price_breaks_configured? -%}
            {%- if show_compare_at_price and compare_at_price -%}
              {%- unless product.price_varies == false and product.compare_at_price_varies %}
                <span class="hidden">
                  {{- 'products.product.price.regular_price' | t -}}
                </span>
                <span>
                  <s class="price-item price-item--regular variant-item__old-price text-sm">
                    {{ compare_at_price | money }}
                  </s>
                </span>
              {%- endunless -%}
            {%- endif -%}
            <span class="hidden">{{ 'products.product.price.regular_price' | t }}</span>
            <span class="price-item price-item--regular selling-price text-md">
              {{- 'products.product.volume_pricing.price_range'
 | t: minimum: money_price_min, maximum: money_price_max
              -}}
            </span>
          {%- else -%}
            <span class="hidden">{{ 'products.product.price.regular_price' | t }}</span>
            <span class="price-item price-item--regular selling-price text-md">
              {{ money_price }}
            </span>
          {%- endif -%}
        </div>

        <div class="price-sale">
          <span class="hidden">{{ 'products.product.price.sale_price' | t }}</span>
          <span class="price-item price-item--sale price-item--last selling-price text-md">
            {{ money_price }}
          </span>
          {% if block.settings.hide_compare_price == false %}
            {%- unless product.price_varies == false and product.compare_at_price_varies %}
              <span class="hidden">{{ 'products.product.price.regular_price' | t }}</span>
              <span>
                <s class="price-item price-item--regular text-sm">
                  {{ compare_at_price | money }}
                </s>
              </span>
            {%- endunless -%}
          {% endif %}
        </div>
        <small class="unit-price caption{% if product.selected_or_first_available_variant.unit_price_measurement == nil %} hidden{% endif %}">
          <span class="hidden">{{ 'products.product.price.unit_price' | t }}</span>
          <span class="price-item price-item--last">
            <span>{{- product.selected_or_first_available_variant.unit_price | money -}}</span>
            <span>/</span>
            <span class="hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
            <span>
              {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
                {{- product.selected_or_first_available_variant.unit_price_measurement.reference_value -}}
              {%- endif -%}
              {{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}
            </span>
          </span>
        </small>
      </div>
      {% if block.settings.hide_compare_price == false %}
        <span class="badge price__badge-sale">
          {{ 'products.product.on_sale' | t }}
        </span>
        <span class="badge price__badge-sold-out">
          {{ 'products.product.sold_out' | t }}
        </span>
      {% endif %}
    </div>
  {% else %}
    <span class="price-item price-item--regular selling-price text-md">{{ 1999 | money_with_currency }}</span>
  {% endunless %}
</div>
{% unless placeholder %}
  {% if block.settings.hide_shipping_content == false %}
    <div class="product-tax-info-box text-xs">
      {%- if cart.taxes_included -%}
        {{ 'products.product.taxes_included' | t }}
      {%- endif -%}
      {%- if shop.shipping_policy.body != blank -%}
        {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
      {%- endif -%}
    </div>
  {% endif %}
{% endunless %}