<div class="product-quantity" id="quantity-main-product-{{ section.id }}">
  {%- assign cart_qty = cart | item_count_for_variant: product.selected_or_first_available_variant.id -%}
  <quantity-input>
    <div class="product-quantity-inner d-flex align-items-center">
      <button
        type="button"
        class="quantity-btn quantity-down"
        aria-label="decrease"
        name="decrease"
      >
        <svg
          width="18"
          height="2"
          viewBox="0 0 18 2"
          fill="none"
        >
          <path d="M10 2H18V0H8H0V2H10Z" fill="currentColor" />
        </svg>
      </button>
      {% comment %} <label class="hidden" for="Quantity-{{ section.id }}">Quantity</label> {% endcomment %}
      <input
        class="quantity-input"
        type="number"
        name="quantity"
        id="Quantity-{{ section.id }}"
        data-cart-quantity="{{ cart_qty }}"
        data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
        min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
        {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
          data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
          max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
        {% endif %}
        step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
        value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
        form="{{ product_form_id }}"
        aria-label="Quantity"
      >
      <button
        type="button"
        class="quantity-btn quantity-up"
        aria-label="increase"
        name="increase"
      >
        <svg width="10" height="10" viewBox="0 0 10 10">
          <rect y="4.16675" width="10" height="1.66667" fill="currentColor"/>
          <rect x="4.16602" y="10" width="10" height="1.66667" transform="rotate(-90 4.16602 10)" fill="currentColor"/>
          </svg>
      </button>
    </div>
  </quantity-input>
  {%- liquid
    assign volume_pricing_array = product.selected_or_first_available_variant.quantity_price_breaks | sort: 'quantity' | reverse
    assign current_qty_for_volume_pricing = cart_qty | plus: product.selected_or_first_available_variant.quantity_rule.min
    if cart_qty > 0
      assign current_qty_for_volume_pricing = cart_qty | plus: product.selected_or_first_available_variant.quantity_rule.increment
    endif
  -%}

  {%- if product.quantity_price_breaks_configured? -%}
    <div class="quantity-price-breaks-wrapper">
  {%- endif -%}
  {%- if product.quantity_price_breaks_configured? -%}
    <price-per-item
      id="PricePerItem-{{ section.id }}"
      data-section-id="{{ section.id }}"
      data-variant-id="{{ product.selected_or_first_available_variant.id }}"
    >
      {%- if product.selected_or_first_available_variant.quantity_price_breaks.size > 0 -%}
        {%- assign variant_price_compare = product.selected_or_first_available_variant.compare_at_price -%}
        <div class="price-per-item">
          {%- if variant_price_compare -%}
            <dl class="price-per-item--current">
              <dt class="visually-hidden hidden">
                {{ 'products.product.price.regular_price' | t }}
              </dt>
              <dd>
                <s class="variant-item__old-price">
                  {{ variant_price_compare | money_with_currency }}
                </s>
              </dd>
            </dl>
          {%- endif -%}
          {%- if current_qty_for_volume_pricing < volume_pricing_array.last.minimum_quantity -%}
            {%- assign variant_price = product.selected_or_first_available_variant.price | money_with_currency -%}
            <span class="price-per-item--current">
              {{- 'products.product.volume_pricing.price_at_each' | t: price: variant_price -}}
            </span>
          {%- else -%}
            {%- for price_break in volume_pricing_array -%}
              {%- if current_qty_for_volume_pricing >= price_break.minimum_quantity -%}
                {%- assign price_break_price = price_break.price | money_with_currency -%}
                <span class="price-per-item--current">
                  {{- 'products.product.volume_pricing.price_at_each' | t: price: price_break_price -}}
                </span>
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}
        </div>
      {%- else -%}
        {%- assign variant_price = product.selected_or_first_available_variant.price | money_with_currency -%}
        {%- assign variant_price_compare = product.selected_or_first_available_variant.compare_at_price -%}
        <div class="price-per-item">
          {%- if variant_price_compare -%}
            <dl class="price-per-item--current">
              <dt class="visually-hidden hidden">
                {{ 'products.product.price.regular_price' | t }}
              </dt>
              <dd>
                <s class="variant-item__old-price">
                  {{ variant_price_compare | money_with_currency }}
                </s>
              </dd>
              <dt class="visually-hidden hidden">
                {{ 'products.product.price.sale_price' | t }}
              </dt>
              <dd>
                <span class="price-per-item--current">
                  {{- 'products.product.volume_pricing.price_at_each' | t: price: variant_price -}}
                </span>
              </dd>
            </dl>
          {%- else -%}
            <span class="price-per-item--current">
              {{- 'products.product.volume_pricing.price_at_each' | t: price: variant_price -}}
            </span>
          {%- endif -%}
        </div>
      {%- endif -%}
    </price-per-item>
  {%- endif -%}
  <div class="quantity__rules caption" id="QuantityRules-{{ section.id }}">
    {%- if product.selected_or_first_available_variant.quantity_rule.increment > 1 -%}
      <span class="divider">
        {{-
          'products.product.quantity.multiples_of'
          | t: quantity: product.selected_or_first_available_variant.quantity_rule.increment
        -}}
      </span>
    {%- endif -%}
    {%- if product.selected_or_first_available_variant.quantity_rule.min > 1 -%}
      <span class="divider">
        {{-
          'products.product.quantity.minimum_of'
          | t: quantity: product.selected_or_first_available_variant.quantity_rule.min
        -}}
      </span>
    {%- endif -%}
    {%- if product.selected_or_first_available_variant.quantity_rule.max != null -%}
      <span class="divider">
        {{-
          'products.product.quantity.maximum_of'
          | t: quantity: product.selected_or_first_available_variant.quantity_rule.max
        -}}
      </span>
    {%- endif -%}
  </div>
  {%- if product.quantity_price_breaks_configured? -%}
    {%- if item.variant.quantity_price_breaks.size > 0 -%}
      <volume-pricing class="parent-display" id="Volume-{{ section.id }}">
        <ul class="list-unstyled">
          <li>
            <span>{{ item.variant.quantity_rule.min }}+</span>
            <span>{{ item.variant.price | money_with_currency }}/ea</span>
          </li>
          {%- for price_break in item.variant.quantity_price_breaks -%}
            <li>
              <span>
                {{- price_break.minimum_quantity -}}
                <span aria-hidden="true">+</span>
              </span>
              <span>{{ price_break.price | money_with_currency }}/ea</span>
            </li>
          {%- endfor -%}
        </ul>
      </volume-pricing>
    {%- endif -%}
    <volume-pricing class="parent-display" id="Volume-{{ section.id }}">
      {%- if product.selected_or_first_available_variant.quantity_price_breaks.size > 0 -%}
        <span class="caption-large">{{ 'products.product.volume_pricing.title' | t }}</span>
        <ul class="list-unstyled">
          <li>
            <span>{{ product.selected_or_first_available_variant.quantity_rule.min }}+</span>
            {%- assign price = product.selected_or_first_available_variant.price | money_with_currency -%}
            <span data-text="{{ 'products.product.volume_pricing.price_at_each' | t: price: variant_price }}">
              {{ 'sections.quick_order_list.each' | t: money: price -}}
            </span>
          </li>
          {%- for price_break in product.selected_or_first_available_variant.quantity_price_breaks -%}
            {%- assign price_break_price = price_break.price | money_with_currency -%}
            <li class="price-break-price-li">
              <span>
                {{- price_break.minimum_quantity -}}
                <span aria-hidden="true">+</span>
              </span>
              {%- assign price = price_break.price | money_with_currency -%}
              <span data-text="{{ 'products.product.volume_pricing.price_at_each' | t: price: price_break_price }}">
                {{ 'sections.quick_order_list.each' | t: money: price -}}
              </span>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </volume-pricing>
  {%- endif -%}
  {%- if product.quantity_price_breaks_configured? -%}
    </div>
  {%- endif -%}
</div>
