<ul class="list-inline social-icons-list{% if iconsize != blank %} {{ iconsize }}{% else %} icons-small{% endif %}">
  {%- if settings.social_facebook_link != blank -%}
    <li class="social-icons-item">
      <a
        target="_blank"
        href="{{ settings.social_facebook_link }}"
        class="social-icons-link facebook"
        aria-label="Visit our Facebook page"
      >
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none">
          <path d="M8.9995 0.0024968L7.44339 0C5.69514 0 4.56535 1.15914 4.56535 2.95322V4.31485H3.00075C2.86555 4.31485 2.75607 4.42446 2.75607 4.55966V6.53251C2.75607 6.66771 2.86567 6.77719 3.00075 6.77719H4.56535V11.7553C4.56535 11.8905 4.67484 12 4.81004 12H6.8514C6.9866 12 7.09608 11.8904 7.09608 11.7553V6.77719H8.92547C9.06067 6.77719 9.17016 6.66771 9.17016 6.53251L9.1709 4.55966C9.1709 4.49474 9.14506 4.43257 9.09925 4.38663C9.05343 4.34069 8.99101 4.31485 8.9261 4.31485H7.09608V3.16058C7.09608 2.60579 7.22829 2.32415 7.95098 2.32415L8.99925 2.32377C9.13433 2.32377 9.24381 2.21416 9.24381 2.07909V0.247183C9.24381 0.112231 9.13445 0.00274648 8.9995 0.0024968Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li class="social-icons-item">
      <a
        target="_blank"
        href="{{ settings.social_instagram_link }}"
        class="social-icons-link instagram"
        aria-label="Visit our Instagram page"
      >
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none">
          <path d="M6 4.166C4.988 4.166 4.166 4.988 4.166 6C4.166 7.012 4.988 7.836 6 7.836C7.012 7.836 7.836 7.012 7.836 6C7.836 4.988 7.012 4.166 6 4.166Z"  fill="currentColor"/>
          <path d="M9.3216 0H2.6784C1.2024 0 0 1.2024 0 2.6784V9.3216C0 10.8 1.2024 12 2.6784 12H9.3216C10.8 12 12 10.8 12 9.3216V2.6784C12 1.2024 10.8 0 9.3216 0ZM6 9.888C3.8568 9.888 2.112 8.1432 2.112 6C2.112 3.8568 3.8568 2.1144 6 2.1144C8.1432 2.1144 9.888 3.8568 9.888 6C9.888 8.1432 8.1432 9.888 6 9.888ZM9.9696 2.82C9.516 2.82 9.1464 2.4528 9.1464 1.9992C9.1464 1.5456 9.516 1.176 9.9696 1.176C10.4232 1.176 10.7928 1.5456 10.7928 1.9992C10.7928 2.4528 10.4232 2.82 9.9696 2.82Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li class="social-icons-item">
      <a
        target="_blank"
        href="{{ settings.social_youtube_link }}"
        class="social-icons-link youtube"
        aria-label="Visit our Youtube page"
      >
        <svg width="10" height="12" viewBox="-21 -117 682.66672 682" fill="none">
          <path d="m626.8125 64.035156c-7.375-27.417968-28.992188-49.03125-56.40625-56.414062-50.082031-13.703125-250.414062-13.703125-250.414062-13.703125s-200.324219 0-250.40625 13.183593c-26.886719 7.375-49.03125 29.519532-56.40625 56.933594-13.179688 50.078125-13.179688 153.933594-13.179688 153.933594s0 104.378906 13.179688 153.933594c7.382812 27.414062 28.992187 49.027344 56.410156 56.410156 50.605468 13.707031 250.410156 13.707031 250.410156 13.707031s200.324219 0 250.40625-13.183593c27.417969-7.378907 49.03125-28.992188 56.414062-56.40625 13.175782-50.082032 13.175782-153.933594 13.175782-153.933594s.527344-104.382813-13.183594-154.460938zm-370.601562 249.878906v-191.890624l166.585937 95.945312zm0 0" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_linkedin_link != blank -%}
    <li class="social-icons-item">
      <a
        target="_blank"
        href="{{ settings.social_linkedin_link }}"
        class="social-icons-link linkedin"
        aria-label="Visit our Linkedin page"
      >
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none">
          <path d="M11.997 12L12 11.9995V7.5985C12 5.4455 11.5365 3.787 9.0195 3.787C7.8095 3.787 6.9975 4.451 6.666 5.0805H6.631V3.988H4.2445V11.9995H6.7295V8.0325C6.7295 6.988 6.9275 5.978 8.221 5.978C9.4955 5.978 9.5145 7.17 9.5145 8.0995V12H11.997Z" fill="currentColor"/>
          <path d="M0.197998 3.9885H2.686V12H0.197998V3.9885Z" fill="currentColor"/>
          <path d="M1.441 0C0.6455 0 0 0.6455 0 1.441C0 2.2365 0.6455 2.8955 1.441 2.8955C2.2365 2.8955 2.882 2.2365 2.882 1.441C2.8815 0.6455 2.236 0 1.441 0Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    <li class="social-icons-item">
      <a target="_blank" href="{{ settings.social_tiktok_link }}" class="social-icons-link tiktok" aria-label="Tiktok">
        <svg width="10" height="12" viewBox="0 0 14 14" fill="none">
          <path d="M6.23775 0H8.55552C8.55552 0 8.4233 2.97111 11.7677 3.18889V5.48333C11.7677 5.48333 9.97886 5.59222 8.55552 4.50333L8.57886 9.24778C8.57885 10.0972 8.32686 10.9276 7.85476 11.6338C7.38265 12.34 6.71167 12.8903 5.92671 13.215C5.14175 13.5398 4.27811 13.6243 3.44507 13.458C2.61203 13.2917 1.84705 12.8821 1.24693 12.2809C0.646804 11.6796 0.238518 10.9139 0.0737385 10.0806C-0.0910413 9.24725 -0.00490854 8.38376 0.321237 7.59939C0.647382 6.81502 1.19888 6.14504 1.90594 5.67422C2.61299 5.20339 3.44383 4.9529 4.2933 4.95444H4.89219V7.31111C4.50143 7.19002 4.08243 7.19527 3.69482 7.32609C3.30721 7.45692 2.97074 7.70667 2.73329 8.03979C2.49584 8.37292 2.3695 8.77245 2.37226 9.18153C2.37501 9.59061 2.50672 9.98841 2.74865 10.3183C2.99057 10.6482 3.33038 10.8934 3.71971 11.019C4.10905 11.1446 4.52808 11.1442 4.91717 11.0178C5.30627 10.8915 5.6456 10.6456 5.88688 10.3153C6.12817 9.98491 6.25911 9.58686 6.26108 9.17778L6.23775 0Z" fill="currentColor" />
        </svg>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_twitter_link != blank -%}
    <li class="social-icons-item">
      <a
        target="_blank"
        href="{{ settings.social_twitter_link }}"
        class="social-icons-link twitter"
        aria-label="Visit our Twitter page"
      >
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none">
          <path d="M9.45 0H11.291L7.27 5.08265L12 12H8.2975L5.3955 7.80567L2.0785 12H0.2345L4.5345 6.56225L0 0H3.7965L6.417 3.83369L9.45 0ZM8.8035 10.7826H9.823L3.241 1.15381H2.146L8.8035 10.7826Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    <li class="social-icons-item">
      <a
        target="_blank"
        href="{{ settings.social_snapchat_link }}"
        class="social-icons-link snapchat"
        aria-label="Visit our Snapchat page"
      >
        <svg width="10" height="12" enable-background="new 0 0 24 24" viewBox="0 0 24 24">
          <path d="m20.779 19.685c.912-.143 2.799-.473 3.16-1.304.182-.428-.078-.776-.41-.829v-.001c-3.208-.528-4.654-3.814-4.713-3.954-.889-1.594 1.524-1.326 2.473-2.298.926-.953-.559-1.985-1.488-1.547-.381.179-.952.387-1.332.213.09-1.509.339-4.011-.272-5.377-2.055-4.603-8.115-4.769-10.931-2.097-2.219 2.104-1.947 4.267-1.739 7.474-.69.301-1.372-.297-1.869-.297-.522 0-1.129.339-1.227.85-.124.671.605 1.103 1.236 1.352 1.075.422 2.097.547 1.53 1.699-.005.009-.009.018-.012.027-.803 1.834-2.556 3.597-4.714 3.953-.348.057-.586.424-.412.829v.002c.357.832 2.262 1.165 3.161 1.305.278.52.065 1.547.926 1.547.335 0 .983-.219 1.81-.219 1.205 0 1.616.263 2.582.945.992.701 2.082 1.386 3.437 1.287 1.411.088 2.459-.561 3.487-1.285l.001-.002c1.002-.705 1.718-1.226 3.84-.809 1.57.304 1.112-.759 1.476-1.464z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li class="social-icons-item">
      <a
        target="_blank"
        href="{{ settings.social_pinterest_link }}"
        class="social-icons-link pinterest"
        aria-label="Visit our Pinterest page"
      >
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none">
          <path d="M6.16311 0C2.87422 0 1.12514 2.10759 1.12514 4.4057C1.12514 5.4715 1.72066 6.80056 2.67396 7.22207C2.81871 7.28733 2.89747 7.25958 2.92972 7.12532C2.95822 7.02332 3.08348 6.53204 3.14423 6.30028C3.16298 6.22603 3.15323 6.16153 3.09323 6.09177C2.77671 5.72576 2.52545 5.05898 2.52545 4.43345C2.52545 2.83063 3.79976 1.27431 5.96811 1.27431C7.84319 1.27431 9.155 2.49236 9.155 4.23469C9.155 6.20353 8.1132 7.56559 6.75939 7.56559C6.01011 7.56559 5.45208 6.97756 5.62909 6.25003C5.84285 5.38374 6.26212 4.4522 6.26212 3.82742C6.26212 3.26715 5.9456 2.80363 5.29908 2.80363C4.53629 2.80363 3.91751 3.55891 3.91751 4.57296C3.91751 5.21723 4.14552 5.65225 4.14552 5.65225C4.14552 5.65225 3.39099 8.70039 3.25073 9.26967C3.01372 10.2335 3.28298 11.7943 3.30624 11.9285C3.32049 12.0028 3.40374 12.026 3.45024 11.9653C3.5245 11.8678 4.43654 10.5665 4.6923 9.62593C4.7853 9.28317 5.16707 7.89335 5.16707 7.89335C5.41833 8.34712 6.14361 8.72739 6.91615 8.72739C9.21425 8.72739 10.8748 6.70755 10.8748 4.20094C10.8666 1.79783 8.80998 0 6.16311 0Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li class="social-icons-item">
      <a target="_blank" href="{{ settings.social_tumblr_link }}" class="social-icons-link tumblr" aria-label="Tumblr">
        <svg width="10" height="12" viewBox="0 0 94.955 94.954">
          <g><path d="m70.589 76.04c-1.395.306-16.695 6.845-16.695-9.084-.029-6.011-.006-12.022-.006-18.033 0-2.651 0-5.855 0-8.953h17.932v-15.464c-6.028 0-11.734 0-17.836 0 0-8.038 0-16.277 0-24.506-2.814 0-15.247 0-15.247 0s-.106 2.699-1.094 6.677c-2.577 9.132-9.575 17.751-17.683 20.061v13.438h10.732l-.008 28.769c0 35.523 40.497 25.674 44.309 21.64z" fill="currentColor"/></g><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/>
        </svg>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li class="social-icons-item">
      <a target="_blank" href="{{ settings.social_vimeo_link }}" class="social-icons-link vimeo" aria-label="Vimeo">
        <svg width="10" height="12" viewBox="0 0 24 24">
          <path d="m20.497 1.505c-3.328-.121-5.576 1.787-6.762 5.694.61-.273 1.203-.395 1.777-.395 1.219 0 1.758.697 1.614 2.082-.072.839-.608 2.059-1.612 3.664-1.009 1.605-1.763 2.409-2.265 2.409-1.522 0-2.437-7.284-2.747-9.273-.431-2.765-1.58-4.058-3.447-3.877-1.714.163-4.705 3.249-7.055 5.341l1.129 1.472c1.075-.762 1.702-1.144 1.881-1.144 1.871 0 2.777 6.367 4.23 11.102.975 2.613 2.144 3.92 3.553 3.92 2.264 0 5.022-2.144 8.29-6.434 3.155-4.107 4.789-7.344 4.894-9.705l.013-.01c.134-3.165-1.021-4.785-3.493-4.846z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {%- endif -%}
</ul>
