<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? -%}
      <link
        rel="preconnect"
        href="https://fonts.shopifycdn.com"
        crossorigin>
    {%- endunless -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">
    {% render 'meta-tags' %}
    {{ content_for_header }}

    {% render 'global-style-variables' %}

    {{ 'animation.js' | asset_url | preload_tag: as: 'script' }}

    {{ 'marquee.css' | asset_url | stylesheet_tag }}
    {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
    {{ 'component.css' | asset_url | stylesheet_tag }}
    {{ 'button-common.css' | asset_url | stylesheet_tag }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'pickup-availability.css' | asset_url | stylesheet_tag }}

    {%- unless settings.type_body_font.system? -%}
      <link
        rel="preload"
        as="font"
        href="{{ settings.type_body_font | font_url }}"
        type="font/woff2"
        crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link
        rel="preload"
        as="font"
        href="{{ settings.type_header_font | font_url }}"
        type="font/woff2"
        crossorigin>
    {%- endunless -%}
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
  </head>

  <body class="password gradient">
    <a
      class="skip-to-content-link button visually-hidden hidden"
      href="#MainContent"
      aria-label="Skip content">
      {{ 'accessibility.skip_to_text' | t }}
    </a>
    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    <ul hidden>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>

    {% render 'global-variables' %}

    <script src="{{ 'cookies.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'custom-elements.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'animation.js' | asset_url }}" defer="defer"></script>
    {% comment %} <script src="{{ 'lazyload.min.js' | asset_url }}" defer="defer"></script> {% endcomment %}
    <script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'pubsub.js' | asset_url }}" defer="defer"></script>
    {% comment %} <script src="{{ 'magnet.js' | asset_url }}" defer="defer"></script> {% endcomment %}
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'product-3d-model.js' | asset_url }}" defer="defer"></script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        if (
          document.querySelector('[data-form-error]') &&
          document.querySelector('[data-form-error]').childNodes.length > 0
        ) {
          setTimeout(function () {
            document.querySelector('body').classList.add('overflow-hidden');
            document.querySelector('#password-popup').classList.add('open');
          }, 500);
        }
      });
    </script>
  </body>
</html>