{% if section.index <= 2 %}
  {{ 'collapsible.css' | asset_url | preload_tag: as: 'style' }}
{% endif %}
{{ 'collapsible.css' | asset_url | stylesheet_tag }}

{%- capture corner_style -%}
    {% if section.settings.corner_style == 'top' %}
        round-section round-top
        {% elsif section.settings.corner_style == 'bottom' %}
        round-section round-bottom
        {% elsif section.settings.corner_style == 'both' %}
        round-section round-bottom round-top
    {% endif %}
{%- endcapture -%}

{% liquid
  if section.settings.section_container_width == 'global'
    assign containerClass = settings.container_width
  else
    assign containerClass = section.settings.section_container_width
  endif
%}
<div class="section-wrapper scheme-{{ section.settings.color_scheme }} section-spacing pos-relative section-{{ section.settings.section_background }} {{ corner_style }}">
{% if section.settings.enable_background_animation %}
<rainbow-with-star id="rainbow-with-star-{{ section.id }}">
  <template data-left-svg-item>
    <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" version="1.1" viewBox="0 0 151.47 317.33">
  <!-- Generator: Adobe Illustrator 29.5.0, SVG Export Plug-In . SVG Version: 2.1.0 Build 137)  -->
  <defs>
    <style>
      .rainbowst0 {
        fill: #c3a6f1;
      }

      .rainbowst1 {
        fill: #fff;
      }

      .rainbowst2 {
        fill: #f590a5;
      }

      .rainbowst3 {
        fill: #42210b;
      }

      .rainbowst4 {
        fill: #82f0e9;
      }

      .rainbowst5 {
        fill: #f4e374;
      }

       
  

    </style>
  </defs>
  <g>
    <g>
      <path class="rainbowst2" d="M103.84,67.75c-7.91-11.37-16.97-20.9-27.85-29.46-9.75-7.67-20.65-13.41-32.21-17.88C29.8,15.01,14.93,12.47.08,12.54v37.19c4.36.02,8.72.29,13.06.82,7.7,1.36,15.22,3.54,22.45,6.52,6.84,3.23,13.31,7.16,19.34,11.74,5.74,4.83,10.96,10.22,15.6,16.11,4.38,6.17,8.09,12.75,11.09,19.68,2.71,7.26,4.63,14.76,5.73,22.43.35,3.84.51,7.68.46,11.54l37.32.65h0c.3-25.1-6.9-50.75-21.3-71.46Z"/>
      <path class="rainbowst3" d="M125.75,139.22c.31-26.02-7.29-51.53-21.41-71.83-7.83-11.26-16.99-20.94-27.97-29.59-9.17-7.21-19.76-13.09-32.37-17.97C30.23,14.5,15.22,11.87,0,11.94v1.3c14.84-.11,29.66,2.38,43.55,7.75,12.5,4.83,22.98,10.65,32.05,17.79,10.89,8.57,19.96,18.16,27.72,29.32,13.86,19.93,21.37,44.93,21.19,70.49l-36.07-.62c.02-3.62-.14-7.32-.47-11.01-1.11-7.69-3.05-15.29-5.78-22.59-3.01-6.94-6.76-13.6-11.18-19.82-4.65-5.91-9.93-11.36-15.71-16.22-6.06-4.6-12.61-8.57-19.48-11.81-7.25-2.98-14.84-5.19-22.61-6.56-4.38-.54-8.79-.81-13.22-.83v1.23c4.36.02,8.72.28,13.03.81,7.65,1.35,15.16,3.53,22.29,6.47,6.77,3.2,13.24,7.12,19.21,11.65,5.7,4.78,10.92,10.17,15.5,15.99,4.34,6.13,8.06,12.71,11.02,19.54,2.69,7.19,4.61,14.7,5.7,22.27.35,3.84.5,7.7.46,11.48v.62s38.55.67,38.55.67h0s0-.63,0-.63Z"/>
    </g>
    <g>
      <path class="rainbowst5" d="M69.71,55.41h0c-17.36-14.66-37.94-23.51-60.62-25.7-2.99-.29-6-.42-9.01-.44v31.06c3.77.02,7.54.25,11.3.72,6.59,1.18,13.01,3.05,19.19,5.61,4.48,2.12,8.78,4.58,12.86,7.39,1.18.82,2.33,1.68,3.48,2.53.32.26.64.53.96.8,2.15,1.84,4.21,3.78,6.18,5.82,1.97,2.03,3.84,4.16,5.61,6.36.25.31.49.62.73.93.77,1.1,1.54,2.2,2.27,3.32,2.76,4.24,5.13,8.72,7.15,13.35,2.35,6.25,4.01,12.71,4.96,19.32.36,3.95.46,7.91.32,11.87l31.13.54c.9-31.33-12.26-63.04-36.5-83.49Z"/>
      <path class="rainbowst3" d="M70.11,54.92c-17.71-14.94-38.22-23.64-60.96-25.83-3.03-.29-6.08-.43-9.14-.44v1.24c3.02.01,6.03.15,9.02.44,22.49,2.17,42.77,10.77,60.28,25.55,23.49,19.82,37.03,50.58,36.3,82.39l-29.88-.52c.11-3.77,0-7.57-.35-11.34-.96-6.64-2.64-13.18-5.01-19.48-2.05-4.73-4.47-9.25-7.19-13.44-.71-1.1-1.42-2.12-2.3-3.37l-.15-.2c-.19-.25-.38-.49-.58-.74-1.78-2.21-3.68-4.36-5.65-6.4-1.98-2.04-4.07-4.01-6.22-5.85-.26-.22-.51-.44-.78-.65l-.69-.53c-.98-.73-2-1.48-3.03-2.19-4.02-2.77-8.38-5.28-12.98-7.46-6.2-2.57-12.7-4.47-19.35-5.66-3.79-.48-7.61-.71-11.44-.72v1.24c3.77.01,7.53.24,11.25.71,6.53,1.17,12.94,3.04,19.03,5.56,4.51,2.14,8.81,4.61,12.78,7.34,1.01.7,2.02,1.44,2.99,2.17l.45.33.19.16c.25.21.51.42.76.64,2.12,1.82,4.19,3.76,6.14,5.78,1.95,2.02,3.83,4.14,5.58,6.32.19.24.38.48.57.73l.14.18c.85,1.22,1.56,2.23,2.26,3.31,2.68,4.13,5.07,8.6,7.09,13.23,2.33,6.19,3.99,12.65,4.93,19.16.35,3.9.46,7.86.32,11.78l-.02.63,32.37.56h-.01s.02-.62.02-.62c.93-32.4-12.8-63.79-36.72-83.98Z"/>
    </g>
    <g>
      <path class="rainbowst4" d="M58.95,69.68h0c-14.22-12.04-31.14-19.33-49.74-21.16-3.05-.3-6.12-.41-9.2-.36v24.82c2.8-.05,5.61.05,8.4.31.68.07,1.37.15,2.05.23-.13-.03-.25-.06-.4-.1.24.06.49.1.74.14.15.02.3.04.45.05.28.03.57.1.76.16,1.65.31,3.3.67,4.93,1.1,3.04.79,5.91,2.02,8.85,3.04.22.06.68.21,1.12.37.17.05.34.11.51.17-.14-.04-.27-.08-.39-.12.21.08.4.16.57.24.82.4,1.64.81,2.44,1.23,1.61.85,3.18,1.76,4.72,2.72,1.54.96,3.04,1.98,4.5,3.04.47.34.92.7,1.38,1.04.3.25.61.51.91.76,2.73,2.36,5.29,4.91,7.66,7.63.59.68,1.17,1.37,1.74,2.07.22.27.55.75.8,1.13-.15-.24-.36-.56-.64-.99.97,1.52,2.09,2.95,3.06,4.48,1.94,3.07,3.65,6.28,5.12,9.6.07.15.13.3.19.45.23.78.6,1.55.87,2.31.6,1.74,1.14,3.5,1.61,5.29.47,1.8.88,3.61,1.22,5.44.15.81.28,1.61.41,2.42.04.27.08.54.11.81.29,3.38.4,6.77.27,10.16l24.88.43c.84-25.82-9.96-51.99-29.92-68.9Z"/>
      <path class="rainbowst3" d="M59.34,69.2c-14.52-12.3-31.37-19.47-50.08-21.31-3.07-.3-6.16-.42-9.26-.38v1.26c3.06-.04,6.11.07,9.14.37,18.46,1.82,35.08,8.89,49.4,21.02,19.3,16.35,30.38,41.65,29.72,67.79l-23.63-.41v-.02c.1-3.05,0-6.2-.29-9.64l-.02-.09c-.03-.24-.07-.48-.1-.72-.12-.82-.26-1.63-.41-2.45-.34-1.84-.76-3.69-1.23-5.48-.47-1.77-1.02-3.57-1.62-5.33-.11-.33-.25-.66-.38-.99-.17-.43-.35-.87-.48-1.29l-.22-.52c-1.47-3.33-3.21-6.59-5.16-9.68-.5-.8-1.05-1.57-1.58-2.32-.48-.68-.97-1.38-1.43-2.08l-.05-.07-.04.03c-.06-.08-.11-.15-.17-.22-.57-.7-1.16-1.4-1.75-2.09-2.38-2.73-4.98-5.32-7.72-7.69-.21-.18-.43-.36-.64-.54l-.73-.58c-.32-.24-.63-.48-.95-.72-1.47-1.07-2.99-2.1-4.54-3.07-1.55-.97-3.15-1.89-4.76-2.74-.81-.43-1.64-.85-2.46-1.24-.08-.04-.17-.08-.27-.12v-.03s-.47-.15-.47-.15c-.44-.16-.91-.32-1.13-.38-.95-.33-1.88-.67-2.82-1.02-1.96-.73-3.99-1.48-6.08-2.03-1.57-.41-3.19-.77-4.94-1.1-.21-.06-.53-.14-.84-.17l-.43-.05c-.22-.03-.44-.07-.65-.12h-.04s-.01.04-.01.04c-.58-.07-1.15-.14-1.73-.19-2.8-.26-5.63-.37-8.47-.32v1.24c2.79-.05,5.59.05,8.34.31.67.07,1.33.14,2.04.23h0c.11,0,.22.02.34.04l.45.05c.23.03.49.09.64.14l.07.02c1.74.33,3.34.69,4.89,1.09,2.03.53,4.03,1.27,5.96,1.99.95.35,1.89.7,2.88,1.04.19.05.64.19,1.1.37l.09.03c.19.07.37.15.52.22.81.39,1.62.8,2.42,1.22,1.59.84,3.17,1.75,4.69,2.7,1.52.95,3.02,1.96,4.46,3.02.31.23.62.47.93.7l.69.55c.21.18.42.35.62.53,2.7,2.33,5.26,4.88,7.6,7.57.58.67,1.17,1.36,1.72,2.06.17.21.45.6.77,1.08h.02c.28.4.57.81.85,1.2.52.74,1.06,1.5,1.55,2.27,1.92,3.04,3.62,6.25,5.08,9.52l.18.41c.14.47.33.92.5,1.37.13.32.25.63.36.93.6,1.73,1.14,3.5,1.6,5.24.47,1.77.88,3.59,1.21,5.4.15.8.28,1.6.4,2.4.03.23.07.47.1.71v.06c.32,3.6.4,6.89.28,10.08l-.03.63,26.12.45v-.02l.02-.61c.87-26.73-10.4-52.67-30.14-69.39Z"/>
    </g>
    <g>
      <path class="rainbowst4" d="M51.95,98.19c.38.57.59.91,0,0h0Z"/>
      <path class="rainbowst3" d="M52.26,99.38c-.19,0-.29-.06-.47-.31,0,0-.02-.03-.04-.07-.09-.12-.18-.28-.31-.47l1.04-.68c.15.22.26.39.34.52,0,.01.01.02.01.03.17.29.16.41.05.64l-.16.32-.36.02h-.1Z"/>
      <path class="rainbowst4" d="M25.99,77.91c-.3-.08-.12,0,1.24.41-.04-.01-.08-.03-.12-.04-.38-.12-.75-.24-1.12-.37Z"/>
      <path class="rainbowst3" d="M27.04,78.91c-1.77-.55-1.95-.61-1.77-1.21.03-.1.21-.58.89-.38h.03c.37.14.74.26,1.11.38l.15.06-.41,1.17Z"/>
      <path class="rainbowst0" d="M46.76,83.94h.02c-11.07-9.43-24.29-15.13-38.78-16.62-2.64-.27-5.31-.37-7.98-.31v18.63c2.32-.06,4.63,0,6.94.22.71.07,1.42.16,2.14.23.07,0,.12.01.18.02.05.01.1.02.16.03,1.61.32,3.22.63,4.81,1.06,2.45.65,5.72,1.29,7.87,2.68-.07-.04-.11-.08-.17-.11.18.11.35.21.47.26.62.3,1.23.6,1.84.92,1.41.74,2.79,1.53,4.14,2.38,1.15.73,2.28,1.49,3.38,2.29.27.19.53.4.79.6.16.14.87.69,1.06.86,2.22,1.91,4.31,3.99,6.23,6.21.44.51.88,1.03,1.3,1.56.15.19.62.82.79,1.05.59.84,1.17,1.69,1.72,2.55,1.58,2.5,2.97,5.11,4.16,7.81.05.11.14.29.25.47-.04-.06-.07-.11-.11-.18.33.54.5,1.34.7,1.94.45,1.31.85,2.63,1.21,3.97.36,1.35.67,2.71.93,4.08.13.69.25,1.38.36,2.08.05.3.09.6.13.91,0,.04,0,.08.01.12.19,2.76.3,5.51.17,8.28l18.65.32c.78-20.34-7.66-40.97-23.36-54.33Z"/>
      <path class="rainbowst3" d="M47.18,83.46c-11.31-9.62-24.47-15.26-39.12-16.76-2.61-.27-5.42-.38-8.05-.33v1.23c2.58-.05,5.36.06,7.92.32,14.4,1.47,27.33,7.01,38.44,16.47,15.13,12.88,23.76,32.74,23.16,53.23l-17.41-.3h-.01c.09-2.83-.06-5.59-.2-7.71l-.03-.26c-.04-.27-.07-.55-.12-.82-.11-.7-.23-1.4-.36-2.1-.26-1.38-.58-2.76-.94-4.12-.36-1.34-.77-2.69-1.22-4.01-.05-.16-.11-.34-.17-.53-.13-.43-.27-.91-.48-1.33h0c-.09-.16-.18-.32-.22-.42-1.2-2.72-2.61-5.38-4.2-7.9-.6-.96-1.25-1.88-1.75-2.6l-.27-.36c-.2-.27-.44-.58-.54-.71-.43-.53-.87-1.06-1.32-1.58-1.93-2.24-4.05-4.35-6.29-6.28-.12-.1-.43-.35-.7-.56-.17-.13-.31-.25-.4-.32l-.24-.19c-.18-.14-.37-.29-.56-.42-1.11-.81-2.26-1.59-3.41-2.31-1.36-.86-2.77-1.66-4.18-2.4-.61-.32-1.23-.63-1.86-.93-.1-.05-.26-.14-.41-.23-1.85-1.14-4.35-1.76-6.56-2.31-.45-.11-.89-.22-1.3-.33-1.51-.4-3.05-.71-4.55-1l-.7-.12c-.29-.03-.59-.07-.89-.1-.42-.05-.84-.1-1.26-.14-2.25-.2-4.73-.27-7-.22v1.25c2.23-.05,4.67.02,6.89.22.41.04.82.08,1.23.13.3.03.6.07.9.1l.58.1c1.47.29,3,.6,4.47.99.42.11.86.22,1.32.33,2.2.55,4.68,1.17,6.38,2.27h0c.14.07.27.15.36.19.61.29,1.22.59,1.82.91,1.39.72,2.77,1.51,4.1,2.35,1.13.71,2.25,1.47,3.34,2.27.18.13.36.27.54.4l.22.17c.07.06.22.18.39.32.25.2.55.44.66.54,2.2,1.89,4.27,3.96,6.16,6.15.44.51.87,1.02,1.29,1.54.1.12.32.42.52.67l.26.34c.48.69,1.11,1.59,1.71,2.53,1.56,2.47,2.95,5.07,4.11,7.73.04.1.11.23.19.37h0c.19.32.33.79.47,1.24.06.2.12.4.18.58.45,1.29.85,2.62,1.2,3.93.36,1.33.66,2.69.92,4.04.13.68.25,1.37.35,2.06.04.27.08.53.11.8l.02.18c.15,2.25.31,5.22.17,8.2l-.03.63,19.9.34h0l.02-.6c.81-21.08-8.01-41.57-23.58-54.82Z"/>
    </g>
  </g>
  <path class="rainbowst3 string string-line" d="M112.94,150.86l-2.12,122.25,1.24.02,2.12-122.26-1.24-.02Z"/>
  <path class="rainbowst3 string string-line-2" d="M58.52,141.26l-1.76,101.66,1.24.02,1.76-101.66-1.24-.02Z"/>
  <path class="rainbowst1" d="M47.34,142.85c.05-3.19,1.37-6.11,3.55-8.44-.43-1.31-.66-2.7-.63-4.15.13-7.43,6.75-13.34,14.79-13.2,4.25.07,8.04,1.82,10.66,4.55,2.65-6.42,9.42-10.92,17.29-10.78,8.34.14,15.27,5.45,17.29,12.56.65-.03,1.31-.05,1.98-.04,13.58.23,24.42,9.96,24.21,21.73-.2,11.41-10.72,20.55-23.74,20.87-4.04,8.28-14.01,14.04-25.57,13.84-14.97-.26-26.93-10.41-26.71-22.66,0-.06,0-.11,0-.16-7.63-1.59-13.24-7.35-13.12-14.12h0Z"/>
  <path class="rainbowst3" d="M87.15,180.41c-15.15-.26-27.32-10.52-27.33-22.95-7.86-1.84-13.23-7.79-13.11-14.62.05-3.13,1.25-6.09,3.47-8.58-.39-1.3-.58-2.65-.55-4,.14-7.76,7.05-13.95,15.42-13.8,3.92.07,7.67,1.55,10.44,4.11,3.03-6.34,9.95-10.47,17.5-10.33,8.21.14,15.43,5.27,17.73,12.54.55-.02,1.05-.03,1.53-.02,13.9.24,25.03,10.27,24.82,22.35-.2,11.6-10.7,20.97-23.97,21.47-4.34,8.5-14.72,14.05-25.97,13.86h0ZM65.04,117.68c-7.68-.13-14.03,5.52-14.15,12.59-.02,1.33.18,2.66.6,3.94l.11.35-.25.27c-2.17,2.32-3.33,5.1-3.39,8.03-.11,6.37,5.08,11.93,12.63,13.5l.51.11-.02.62c-.21,11.96,11.5,21.84,26.1,22.09,10.92.19,20.97-5.23,25-13.5l.17-.34h.38c12.78-.32,22.94-9.23,23.14-20.27.2-11.4-10.39-20.87-23.6-21.09-.59-.01-1.22,0-1.94.04l-.49.03-.14-.47c-1.99-7-8.86-11.98-16.7-12.11-7.38-.13-14.09,4.05-16.71,10.4l-.36.88-.66-.69c-2.59-2.71-6.31-4.3-10.22-4.36h0Z"/>
  <g class="star-group star-color-1"> 
  <path class="rainbowst4" d="M52.4,244.92l-1.18,2.28c-.56,1.09-1.62,1.83-2.84,1.98l-2.55.33c-3.07.39-4.35,4.12-2.18,6.31l1.81,1.82c.86.87,1.24,2.11,1.02,3.31l-.48,2.52c-.57,3.03,2.58,5.4,5.34,4.01l2.3-1.15c1.1-.55,2.39-.53,3.47.06l2.25,1.23c2.71,1.48,5.94-.78,5.48-3.82l-.39-2.53c-.19-1.21.23-2.43,1.13-3.27l1.87-1.76c2.25-2.11,1.1-5.88-1.96-6.37l-2.54-.41c-1.21-.2-2.25-.97-2.77-2.08l-1.1-2.32c-1.32-2.79-5.27-2.86-6.68-.11h0Z"/>
  <path class="rainbowst3" d="M61.08,268.69c-.69-.01-1.38-.19-2.02-.54l-2.25-1.23c-.9-.49-1.98-.51-2.89-.05l-2.3,1.15c-1.49.75-3.24.59-4.57-.41-1.33-1-1.97-2.64-1.65-4.27l.48-2.52c.19-1-.12-2.03-.85-2.76l-1.81-1.82c-1.17-1.18-1.57-2.89-1.02-4.46.54-1.57,1.91-2.68,3.56-2.89l2.55-.32c1.01-.13,1.9-.75,2.37-1.65l1.18-2.28c.76-1.48,2.27-2.38,3.94-2.35,1.67.03,3.14.98,3.86,2.48l1.1,2.32c.44.92,1.3,1.57,2.31,1.73l2.54.41c1.65.27,2.97,1.42,3.46,3.01.49,1.59.04,3.28-1.18,4.42l-1.87,1.76c-.75.7-1.1,1.72-.94,2.73l.39,2.53c.25,1.64-.44,3.25-1.8,4.21-.77.54-1.67.8-2.57.79h0ZM55.39,265.3c.7.01,1.39.19,2.02.53l2.26,1.23c1.06.58,2.28.51,3.28-.18.99-.69,1.47-1.82,1.29-3.01l-.39-2.53c-.22-1.41.28-2.84,1.32-3.82l1.87-1.76c.88-.83,1.19-2.01.84-3.16-.35-1.15-1.28-1.96-2.47-2.15l-2.54-.41c-1.41-.23-2.62-1.14-3.23-2.43l-1.1-2.32c-.52-1.09-1.55-1.76-2.76-1.77-1.21-.02-2.26.61-2.82,1.68l-1.18,2.28c-.65,1.27-1.89,2.13-3.32,2.32l-2.55.33c-1.2.15-2.15.92-2.54,2.07-.39,1.14-.12,2.33.73,3.19l1.81,1.82c1.01,1.01,1.45,2.46,1.18,3.86l-.48,2.52c-.23,1.18.22,2.32,1.18,3.05.97.73,2.19.84,3.27.29l2.3-1.15c.64-.32,1.34-.48,2.03-.46h0Z"/>
  </g>
  <g class="star-group star-color-2"> 
  <path class="rainbowst0" d="M107.4,274.92l-1.18,2.28c-.56,1.09-1.62,1.83-2.84,1.98l-2.55.33c-3.07.39-4.35,4.12-2.18,6.3l1.81,1.82c.86.87,1.24,2.11,1.02,3.31l-.48,2.52c-.57,3.03,2.58,5.4,5.34,4.01l2.3-1.15c1.1-.55,2.39-.53,3.47.06l2.25,1.23c2.71,1.48,5.94-.78,5.48-3.82l-.39-2.53c-.19-1.21.23-2.43,1.13-3.27l1.87-1.76c2.25-2.11,1.1-5.88-1.96-6.37l-2.54-.42c-1.21-.2-2.25-.97-2.77-2.08l-1.1-2.32c-1.32-2.79-5.27-2.86-6.68-.12h0Z"/>
  <path class="rainbowst3" d="M116.08,298.7c-.69-.01-1.38-.19-2.02-.54l-2.25-1.23c-.9-.49-1.98-.51-2.89-.05l-2.3,1.15c-1.49.75-3.24.59-4.57-.41-1.33-1-1.97-2.64-1.65-4.27l.48-2.52c.19-1-.12-2.03-.85-2.76l-1.81-1.82c-1.17-1.18-1.57-2.89-1.02-4.46.54-1.57,1.91-2.68,3.56-2.89l2.55-.33c1.01-.13,1.9-.75,2.37-1.65l1.18-2.28c.76-1.48,2.28-2.38,3.94-2.35,1.67.03,3.14.98,3.86,2.48l1.1,2.32c.44.92,1.3,1.57,2.31,1.73l2.54.41c1.65.27,2.97,1.42,3.46,3.01.49,1.59.04,3.28-1.18,4.42l-1.87,1.76c-.75.7-1.1,1.72-.94,2.73l.39,2.53c.25,1.64-.44,3.25-1.8,4.21-.77.54-1.67.8-2.57.79ZM110.39,295.31c.7.01,1.39.19,2.02.53l2.26,1.23c1.06.58,2.28.51,3.28-.18.99-.69,1.47-1.82,1.29-3.01l-.39-2.53c-.22-1.41.27-2.84,1.32-3.82l1.87-1.76c.88-.83,1.19-2.01.84-3.16-.35-1.15-1.28-1.96-2.47-2.15l-2.54-.41c-1.41-.23-2.62-1.14-3.23-2.43l-1.1-2.32c-.52-1.09-1.55-1.75-2.76-1.77-1.21-.02-2.26.61-2.82,1.68l-1.18,2.28c-.65,1.27-1.89,2.13-3.32,2.31l-2.55.33c-1.2.15-2.15.92-2.54,2.07-.39,1.14-.12,2.33.73,3.19l1.81,1.82c1.01,1.01,1.45,2.46,1.18,3.86l-.48,2.52c-.22,1.18.22,2.32,1.18,3.05.97.73,2.19.84,3.27.29l2.3-1.15c.64-.32,1.34-.48,2.03-.46h0Z"/>
  </g>
</svg>
  </template>
  <template data-right-svg-item>
   <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" version="1.1" viewBox="0 0 147.48 290.96">
  <!-- Generator: Adobe Illustrator 29.5.0, SVG Export Plug-In . SVG Version: 2.1.0 Build 137)  -->
  <defs>
    <style>
      .rightrainbowst0 {
        fill: #ffc;
      }

      .rightrainbowst1 {
        fill: #c3a6f1;
      }

      .rightrainbowst2 {
        fill: #fff;
      }

      .rightrainbowst3 {
        fill: #f590a5;
      }

      .rightrainbowst4 {
        fill: #42210b;
      }

      .rightrainbowst5 {
        fill: #82f0e9;
      }

      .rightrainbowst6 {
        fill: #f4e374;
      }
    </style>
  </defs>
  <g>
    <path class="rightrainbowst3" d="M147.95,7.51c-36.06-.27-72.25,15-95.82,42.66-9.05,10.62-15.98,21.84-21.5,34.62-5.03,11.66-7.75,24.05-8.99,36.67-.28,2.79-.44,5.6-.51,8.41l37.35.65c.07-3.79.35-7.58.82-11.36,1.37-7.68,3.55-15.17,6.54-22.38,3.24-6.82,7.18-13.27,11.77-19.28,4.84-5.73,10.25-10.93,16.15-15.56,6.18-4.36,12.79-8.07,19.74-11.06,7.33-2.72,14.91-4.64,22.66-5.74,3.93-.35,7.87-.48,11.8-.41V7.51Z"/>
    <path class="rightrainbowst4" d="M147.95,44.11c-3.96-.07-7.93.06-11.88.42-7.78,1.1-15.44,3.04-22.82,5.78-6.96,3-13.64,6.74-19.87,11.14-5.93,4.64-11.39,9.9-16.26,15.67-4.61,6.04-8.59,12.56-11.85,19.42-2.99,7.22-5.21,14.8-6.58,22.54-.44,3.58-.72,7.21-.81,10.8l-36.11-.62c.08-2.64.24-5.24.49-7.74,1.36-13.75,4.29-25.69,8.94-36.49,5.5-12.76,12.51-24.03,21.4-34.47,23.3-27.33,59.46-42.55,95.35-42.36v-1.29c-10.81-.09-21.74,1.19-32.42,3.88-25.18,6.34-47.86,20.18-63.88,38.96-8.98,10.53-16.04,21.91-21.6,34.78-4.71,10.92-7.67,22.97-9.04,36.85-.27,2.73-.44,5.57-.51,8.46v.62s38.58.67,38.58.67v-.62c.08-3.75.36-7.55.82-11.26,1.36-7.62,3.54-15.11,6.49-22.22,3.21-6.75,7.14-13.2,11.68-19.15,4.8-5.68,10.2-10.88,16.04-15.45,6.14-4.34,12.75-8.03,19.59-10.99,7.27-2.7,14.84-4.62,22.5-5.7,3.9-.35,7.83-.48,11.75-.41v-1.23Z"/>
  </g>
  <g>
    <path class="rightrainbowst6" d="M147.95,24.26c-18.97-.37-38.27,4.68-54.61,14.13-18.09,10.46-33.55,26.51-42.47,45.44-6.96,14.76-10.58,30.42-10.65,46.37l30.97.53c0-3.95.24-7.91.73-11.85,1.18-6.57,3.06-12.97,5.63-19.13,2.12-4.46,4.59-8.76,7.42-12.82.82-1.18,1.68-2.32,2.54-3.47.27-.32.53-.64.81-.95,1.85-2.14,3.79-4.2,5.83-6.16,2.04-1.96,4.17-3.83,6.38-5.6.31-.25.62-.49.93-.73,1.1-.77,2.2-1.53,3.33-2.26,4.26-2.75,8.74-5.12,13.39-7.13,6.27-2.35,12.75-4,19.38-4.95,3.46-.31,6.93-.43,10.4-.36v-31.06Z"/>
    <path class="rightrainbowst4" d="M147.95,54.69c-3.49-.07-7,.05-10.49.36-6.65.95-13.22,2.63-19.54,4.99-4.74,2.05-9.28,4.46-13.48,7.17-1.1.71-2.12,1.42-3.38,2.29l-.16.12c-.26.2-.53.41-.78.61-2.21,1.77-4.37,3.67-6.42,5.64-2.04,1.97-4.02,4.06-5.87,6.21-.22.26-.44.52-.66.78l-.54.7c-.72.97-1.47,1.98-2.18,2.99-2.78,4.01-5.29,8.35-7.48,12.94-2.58,6.19-4.48,12.66-5.67,19.29-.47,3.73-.72,7.53-.74,11.29l-29.72-.51c.16-15.62,3.72-30.92,10.58-45.5,8.66-18.39,23.65-34.43,42.22-45.16,16.53-9.56,35.56-14.45,54.3-14.05v-1.24c-18.96-.39-38.21,4.55-54.93,14.22-18.78,10.86-33.95,27.09-42.72,45.71-7.03,14.93-10.63,30.62-10.71,46.63v.61l32.21.56v-.63c0-3.93.24-7.89.72-11.74,1.17-6.51,3.05-12.9,5.58-18.97,2.14-4.5,4.62-8.79,7.36-12.74.69-1,1.44-2,2.15-2.96l.35-.47.15-.18c.22-.26.43-.52.65-.77,1.82-2.11,3.78-4.17,5.79-6.12,2.02-1.95,4.15-3.82,6.34-5.56.25-.21.51-.4.77-.6l.14-.11c1.22-.85,2.24-1.55,3.32-2.25,4.15-2.68,8.62-5.06,13.27-7.07,6.21-2.32,12.68-3.98,19.22-4.91,3.44-.31,6.9-.43,10.35-.35v-1.24Z"/>
  </g>
  <g>
    <path class="rightrainbowst5" d="M147.95,43.13c-15.18-.06-30.53,4.06-43.6,11.61-14.85,8.58-27.54,21.74-34.89,37.26-5.8,12.26-8.79,25.28-8.8,38.54l24.75.43c-.01-3.39.24-6.75.62-10.12.03-.16.05-.33.08-.48.17-.92.35-1.84.56-2.75.4-1.81.87-3.61,1.41-5.39.53-1.76,1.13-3.51,1.79-5.23.25-.65.54-1.29.79-1.94.12-.26.24-.52.36-.78,1.58-3.27,3.41-6.42,5.45-9.42.92-1.36,1.99-2.62,2.93-3.97.08-.09.15-.18.23-.27.66-.77,1.34-1.52,2.03-2.27,2.46-2.64,5.11-5.1,7.92-7.36.2-.16.39-.31.59-.47.6-.41,1.17-.86,1.76-1.26,1.5-1.02,3.03-1.98,4.6-2.88,1.57-.91,3.18-1.76,4.82-2.55.72-.35,1.44-.69,2.17-1.01.23-.1.47-.21.7-.3,3.49-.86,6.84-2.36,10.39-3.16,1.83-.41,3.67-.75,5.53-1.02.14-.02.29-.04.44-.05.87-.08,1.74-.16,2.62-.21,1.59-.09,3.18-.12,4.76-.12v-24.82ZM124.26,72.49c.17-.07.34-.15.51-.22,1.69-.74.35-.05-.51.22Z"/>
    <path class="rightrainbowst4" d="M147.95,67.32c-1.6,0-3.2.03-4.79.12-.72.04-1.44.11-2.15.17l-.56.05c-.13.02-.27.03-.39.05-1.86.27-3.74.62-5.57,1.03-1.92.43-3.78,1.06-5.59,1.68-.98.33-1.98.67-2.99.98-.27-.18-.47-.1-1.38.3l-.68.3c-.19.08-.39.17-.58.25-.73.33-1.46.66-2.19,1.02-1.64.8-3.28,1.66-4.86,2.58-1.57.91-3.13,1.89-4.64,2.91-.31.21-.61.43-.92.66-.28.21-.56.41-.88.63-.2.15-.4.31-.6.47-2.82,2.27-5.51,4.77-7.99,7.42-.68.73-1.37,1.5-2.05,2.29l-.27.32c-.44.63-.92,1.26-1.38,1.87-.52.68-1.06,1.38-1.55,2.1-2.06,3.02-3.91,6.22-5.5,9.5-.13.26-.25.52-.39.83-.12.33-.26.64-.39.97-.14.32-.27.65-.4.97-.66,1.72-1.27,3.49-1.81,5.27-.54,1.78-1.02,3.62-1.42,5.44-.21.93-.39,1.87-.56,2.78-.03.15-.05.29-.07.44v.08c-.04.29-.07.57-.1.84v.02h.03s-.03,0-.03,0h-.06s.06,0,.06,0h0s-.06,0-.06,0h.06c-.34,3.25-.51,6.04-.53,8.69l-23.51-.41c.1-12.95,3.04-25.62,8.74-37.67,7.14-15.07,19.44-28.21,34.64-36.99,13.2-7.63,28.32-11.61,43.29-11.53v-1.26c-15.19-.08-30.53,3.97-43.92,11.7-15.42,8.91-27.9,22.23-35.14,37.53-5.87,12.4-8.85,25.46-8.86,38.81v.61l26,.45v-.63c-.01-3.02.18-6.21.62-10.08.02-.14.04-.27.07-.41.17-.9.35-1.82.55-2.73.39-1.79.86-3.59,1.4-5.35.53-1.75,1.13-3.49,1.78-5.18.12-.32.25-.63.38-.95.14-.33.28-.66.39-.96.12-.26.24-.51.36-.77,1.56-3.22,3.38-6.37,5.4-9.34.47-.7,1-1.38,1.51-2.05.47-.62.96-1.26,1.38-1.87l.23-.27c.67-.77,1.34-1.53,2.01-2.25,2.43-2.61,5.08-5.06,7.86-7.3.2-.15.39-.31.55-.44.29-.2.59-.42.88-.63.29-.22.58-.43.88-.63,1.48-1,3.02-1.97,4.57-2.86,1.55-.9,3.16-1.75,4.78-2.53.71-.34,1.43-.68,2.15-1,.19-.08.38-.16.57-.25l.08-.04c1.65-.41,3.28-.97,4.86-1.5,1.78-.6,3.61-1.23,5.46-1.64,1.8-.4,3.65-.74,5.48-1.01.12-.02.24-.03.4-.05l.48-.04c.71-.06,1.41-.12,2.12-.16,1.57-.09,3.15-.12,4.73-.12v-1.24Z"/>
  </g>
  <g>
    <path class="rightrainbowst1" d="M147.95,61.99c-11.97-.05-24.07,3.21-34.35,9.19-21.47,12.5-34.07,35.52-34.03,59.69l18.53.32c-.03-2.77.18-5.51.46-8.27,0-.07.01-.12.02-.18.01-.05.02-.1.03-.16.14-.69.26-1.39.4-2.07.34-1.59.75-3.17,1.22-4.73.4-1.32.85-2.63,1.35-3.93.23-.59.42-1.38.77-1.91-.04.07-.08.11-.11.17.11-.18.21-.35.26-.47,1.28-2.66,2.76-5.23,4.43-7.66.58-.85,1.19-1.68,1.81-2.49.18-.22.67-.84.83-1.02.44-.51.89-1.02,1.36-1.51,1.99-2.15,4.15-4.16,6.44-5.99.2-.16.93-.7,1.09-.82.27-.19.54-.38.81-.57,1.12-.76,2.28-1.49,3.45-2.17,1.18-.69,2.38-1.33,3.61-1.94.61-.3,1.23-.59,1.86-.88.53-.24,3.04-1.7.93-.42,2.19-1.32,5.49-1.85,7.96-2.41,1.37-.31,2.75-.57,4.14-.78.11-.02.29-.06.5-.1.86-.17,1.83-.15,2.68-.2,1.18-.07,2.36-.09,3.54-.08v-18.62Z"/>
    <path class="rightrainbowst4" d="M147.95,79.97c-1.2,0-2.39.02-3.58.08-.23.01-.46.02-.7.03-.69.02-1.4.04-2.09.18-.19.04-.36.08-.46.09-1.4.22-2.81.48-4.19.8-.42.1-.86.19-1.31.29-1.85.4-3.91.83-5.64,1.59-.24.02-.54.18-.93.4-.39.22-.94.52-1.13.6-.63.28-1.25.58-1.88.88-1.23.61-2.46,1.27-3.64,1.96-1.18.69-2.35,1.43-3.49,2.2-.2.13-.39.27-.58.41l-.27.19c-.06.05-.21.16-.38.28-.27.21-.6.45-.73.55-2.31,1.85-4.49,3.89-6.5,6.06-.47.5-.92,1.01-1.37,1.53-.1.12-.36.44-.57.7l-.28.35c-.52.68-1.19,1.58-1.83,2.52-1.68,2.46-3.18,5.07-4.47,7.75-.05.1-.14.25-.24.41h0c-.23.41-.39.88-.53,1.31-.06.18-.12.36-.18.52-.5,1.3-.96,2.64-1.36,3.97-.47,1.57-.89,3.17-1.24,4.78-.09.41-.17.83-.25,1.25-.06.28-.11.56-.16.83l-.06.4c-.22,2.12-.46,4.87-.47,7.7l-17.28-.3c.18-24.13,13.05-46.52,33.72-58.55,10.37-6.03,22.25-9.18,34.04-9.12v-1.23c-12-.06-24.11,3.14-34.66,9.29-21.22,12.35-34.37,35.43-34.33,60.23v.61l19.78.34v-.64c-.04-2.99.22-5.95.45-8.19l.04-.28c.06-.28.11-.56.16-.85.08-.41.15-.81.24-1.22.33-1.57.74-3.15,1.21-4.68.4-1.3.85-2.61,1.33-3.88.07-.18.14-.37.2-.57.15-.45.31-.91.51-1.23h0c.08-.14.15-.27.2-.36,1.26-2.62,2.74-5.18,4.38-7.58.62-.92,1.29-1.8,1.78-2.45l.28-.34c.2-.25.44-.55.54-.67.44-.51.89-1.01,1.34-1.5,1.97-2.12,4.11-4.12,6.37-5.93.12-.1.43-.33.69-.52.18-.13.33-.24.37-.28l.25-.18c.18-.13.37-.26.55-.39,1.11-.75,2.26-1.47,3.42-2.15,1.16-.67,2.36-1.32,3.57-1.91.61-.3,1.22-.59,1.84-.87.18-.08.53-.27.96-.51l.03.05c1.73-1.04,4.24-1.58,6.45-2.05.46-.1.9-.19,1.33-.29,1.35-.31,2.73-.57,4.1-.78.12-.02.32-.06.53-.11.57-.11,1.23-.14,1.87-.16.25,0,.49-.02.73-.03,1.17-.07,2.34-.09,3.51-.08v-1.25Z"/>
  </g>
  <g>
    <path class="rightrainbowst0" d="M36.43,152.31l-1.02,58.74,1.24.02,1.02-58.74-1.24-.02Z"/>
    <path class="rightrainbowst0" d="M88.66,145.78l-.77,44.52,1.24.02.77-44.52-1.24-.02Z"/>
    <path class="rightrainbowst0" d="M104.04,144.13c.06-3.18-1.16-6.15-3.26-8.56.48-1.29.75-2.68.78-4.12.13-7.43-6.28-13.56-14.32-13.7-4.25-.07-8.1,1.54-10.81,4.18-2.42-6.51-9.04-11.24-16.9-11.37-8.34-.14-15.45,4.92-17.72,11.96-.65-.06-1.31-.1-1.98-.11-13.58-.24-24.75,9.11-24.95,20.88-.2,11.41,10,20.9,23,21.68,3.75,8.42,13.51,14.52,25.07,14.72,14.97.26,27.27-9.47,27.48-21.73v-.16c7.68-1.33,13.49-6.89,13.6-13.65Z"/>
    <path class="rightrainbowst0" d="M62.94,180.3c-11.25-.19-21.43-6.1-25.47-14.74-13.25-.95-23.41-10.68-23.21-22.28.21-12.08,11.69-21.72,25.58-21.48.48,0,.99.03,1.53.07,2.56-7.18,9.95-12.06,18.16-11.92,7.56.13,14.32,4.49,17.14,10.93,2.86-2.46,6.66-3.81,10.58-3.74,8.37.14,15.06,6.57,14.93,14.33-.02,1.36-.26,2.69-.69,3.98,2.13,2.57,3.23,5.57,3.17,8.7-.12,6.83-5.69,12.6-13.61,14.16-.44,12.42-12.96,22.26-28.11,22h0ZM39.82,123.03c-13.21-.23-24.12,8.86-24.32,20.27-.19,11.04,9.65,20.29,22.42,21.05l.38.02.15.35c3.74,8.39,13.59,14.16,24.51,14.35,14.6.25,26.65-9.22,26.86-21.12v-.68l.51-.09c7.6-1.31,12.98-6.68,13.09-13.06.05-2.94-1.02-5.75-3.11-8.15l-.24-.27.12-.34c.47-1.26.71-2.58.74-3.92.12-7.07-6.03-12.94-13.71-13.07-3.9-.07-7.68,1.39-10.36,4.01l-.68.67-.33-.89c-2.4-6.43-8.96-10.84-16.33-10.97-7.85-.14-14.88,4.6-17.12,11.53l-.15.47-.49-.04c-.71-.06-1.35-.1-1.93-.11h0Z"/>
    <path class="rightrainbowst4 string string-line-2" d="M36.44,152.31l-1.53,88.1,1.24.02,1.53-88.1-1.24-.02Z"/>
    <path class="rightrainbowst4 string string-line" d="M88.66,145.78l-1.2,69.15,1.24.02,1.2-69.15-1.24-.02Z"/>
    <g class="star-group star-color-2">
    <path class="rightrainbowst3" d="M91.96,216.79l1.1,2.32c.52,1.11,1.56,1.88,2.77,2.08l2.54.41c3.05.5,4.21,4.26,1.96,6.37l-1.87,1.76c-.89.84-1.32,2.06-1.13,3.27l.39,2.53c.47,3.05-2.77,5.3-5.48,3.82l-2.25-1.23c-1.08-.59-2.38-.61-3.47-.06l-2.3,1.15c-2.76,1.38-5.92-.99-5.34-4.01l.48-2.52c.23-1.2-.15-2.44-1.01-3.31l-1.81-1.82c-2.18-2.19-.89-5.91,2.18-6.31l2.55-.33c1.22-.15,2.28-.9,2.84-1.98l1.18-2.28c1.42-2.74,5.37-2.67,6.68.12h0Z"/>
    <path class="rightrainbowst4" d="M93.96,240.45c-.69-.01-1.38-.19-2.02-.54l-2.25-1.23c-.9-.49-1.98-.51-2.89-.05l-2.3,1.15c-1.49.75-3.24.59-4.57-.41-1.33-1-1.97-2.64-1.66-4.27l.48-2.52c.19-1-.12-2.03-.85-2.76l-1.81-1.82c-1.17-1.18-1.57-2.89-1.02-4.46.54-1.57,1.91-2.68,3.56-2.89l2.55-.32c1.01-.13,1.9-.75,2.37-1.65l1.18-2.28c.76-1.48,2.27-2.38,3.94-2.35,1.67.03,3.14.98,3.86,2.48l1.1,2.32c.44.92,1.3,1.57,2.31,1.73l2.54.41c1.65.27,2.97,1.42,3.46,3.01.49,1.59.04,3.28-1.18,4.42l-1.87,1.76c-.75.7-1.1,1.72-.94,2.73l.39,2.53c.25,1.64-.44,3.26-1.81,4.21-.77.54-1.67.8-2.57.79h0ZM88.27,237.06c.69.01,1.39.19,2.01.53l2.25,1.23c1.06.58,2.29.51,3.28-.18.99-.69,1.47-1.82,1.29-3.01l-.39-2.53c-.22-1.41.28-2.84,1.32-3.82l1.87-1.76c.88-.83,1.19-2.01.84-3.16-.35-1.15-1.28-1.96-2.47-2.15l-2.54-.41c-1.41-.23-2.62-1.14-3.23-2.43l-1.1-2.32c-.52-1.09-1.55-1.75-2.76-1.77-1.21-.02-2.26.61-2.82,1.68l-1.18,2.28c-.65,1.27-1.89,2.13-3.32,2.32l-2.55.33c-1.2.15-2.15.93-2.54,2.07-.39,1.14-.12,2.33.73,3.19l1.81,1.82c1.01,1.01,1.45,2.46,1.18,3.86l-.48,2.52c-.22,1.18.22,2.32,1.18,3.05.97.73,2.19.84,3.27.29l2.3-1.15c.64-.32,1.34-.48,2.03-.46h0Z"/>
    </g>
    <g class="star-group star-color-1">
    <path class="rightrainbowst6" d="M39.39,243.1l1.1,2.32c.53,1.11,1.56,1.88,2.77,2.08l2.54.41c3.05.49,4.21,4.26,1.96,6.37l-1.87,1.76c-.89.84-1.32,2.06-1.13,3.27l.39,2.53c.47,3.05-2.77,5.3-5.48,3.82l-2.25-1.23c-1.08-.59-2.37-.61-3.47-.06l-2.3,1.15c-2.76,1.39-5.92-.99-5.34-4.01l.48-2.52c.23-1.2-.15-2.44-1.01-3.31l-1.81-1.82c-2.18-2.19-.89-5.91,2.18-6.3l2.55-.33c1.22-.15,2.28-.9,2.84-1.98l1.18-2.28c1.42-2.74,5.37-2.67,6.68.12h0Z"/>
    <path class="rightrainbowst4" d="M41.39,266.75c-.69-.01-1.38-.19-2.02-.54l-2.25-1.23c-.9-.49-1.98-.51-2.89-.05l-2.3,1.15c-1.49.75-3.24.59-4.57-.41-1.33-1-1.97-2.64-1.66-4.27l.48-2.52c.19-1-.12-2.03-.85-2.76l-1.81-1.82c-1.17-1.18-1.57-2.89-1.02-4.46.54-1.57,1.91-2.68,3.56-2.89l2.55-.32c1.01-.13,1.9-.75,2.37-1.65l1.18-2.28c.76-1.48,2.27-2.38,3.94-2.35,1.67.03,3.14.98,3.86,2.49l1.1,2.32c.44.92,1.3,1.57,2.31,1.73l2.54.41c1.65.27,2.97,1.42,3.46,3.01.49,1.59.04,3.28-1.18,4.42l-1.87,1.76c-.75.7-1.1,1.72-.94,2.73l.39,2.53c.25,1.64-.44,3.26-1.81,4.21-.77.54-1.67.8-2.57.79h0ZM35.7,263.36c.69.01,1.39.19,2.01.53l2.25,1.23c1.06.58,2.29.51,3.28-.18.99-.69,1.47-1.82,1.29-3.01l-.39-2.54c-.22-1.41.28-2.84,1.32-3.82l1.87-1.76c.88-.83,1.19-2.01.84-3.16-.35-1.15-1.28-1.96-2.47-2.15l-2.54-.41c-1.41-.23-2.62-1.14-3.23-2.43l-1.1-2.32c-.52-1.09-1.55-1.76-2.76-1.77-1.21-.02-2.26.61-2.82,1.68l-1.18,2.28c-.65,1.27-1.9,2.13-3.32,2.32l-2.55.33c-1.2.15-2.15.93-2.54,2.07-.39,1.14-.12,2.33.73,3.19l1.81,1.82c1.01,1.01,1.45,2.46,1.18,3.86l-.48,2.52c-.22,1.18.22,2.32,1.18,3.05.97.73,2.19.84,3.27.29l2.3-1.15c.64-.32,1.34-.48,2.03-.46h0Z"/>
   </g>
    <path class="rightrainbowst2" d="M104.04,144.12c.06-3.18-1.16-6.15-3.26-8.56.48-1.29.75-2.68.78-4.12.13-7.43-6.28-13.56-14.32-13.7-4.25-.07-8.1,1.54-10.81,4.18-2.42-6.51-9.04-11.24-16.9-11.37-8.34-.14-15.45,4.92-17.72,11.96-.65-.06-1.31-.1-1.98-.11-13.58-.24-24.75,9.11-24.95,20.88-.2,11.41,10,20.9,23,21.68,3.75,8.42,13.51,14.52,25.07,14.72,14.97.26,27.27-9.47,27.48-21.73v-.16c7.68-1.33,13.49-6.89,13.6-13.65Z"/>
    <path class="rightrainbowst4" d="M62.94,180.29c-11.25-.19-21.43-6.1-25.47-14.74-13.25-.95-23.41-10.68-23.21-22.28.21-12.09,11.69-21.72,25.58-21.48.48,0,.99.03,1.53.07,2.56-7.18,9.95-12.06,18.16-11.92,7.56.13,14.32,4.49,17.14,10.93,2.86-2.46,6.66-3.81,10.58-3.74,8.37.14,15.06,6.57,14.93,14.33-.02,1.36-.26,2.69-.69,3.98,2.13,2.57,3.23,5.57,3.17,8.7-.12,6.83-5.69,12.59-13.61,14.16-.44,12.42-12.96,22.26-28.11,22h0ZM39.82,123.02c-13.21-.23-24.12,8.86-24.32,20.27-.19,11.04,9.65,20.29,22.42,21.05l.38.02.15.35c3.74,8.39,13.59,14.16,24.51,14.35,14.6.25,26.65-9.22,26.86-21.12v-.68l.51-.09c7.6-1.31,12.98-6.68,13.09-13.06.05-2.94-1.02-5.75-3.11-8.15l-.24-.27.12-.34c.47-1.26.71-2.58.74-3.92.12-7.07-6.03-12.94-13.71-13.07-3.9-.07-7.68,1.39-10.36,4.01l-.68.67-.33-.89c-2.4-6.43-8.96-10.84-16.33-10.97-7.85-.14-14.88,4.6-17.12,11.53l-.15.47-.49-.04c-.71-.06-1.35-.1-1.93-.11h0Z"/>
  </g>
</svg>
  </template>
  <div class="rainbow-with-star-wrapper left-rainbow-with-star" data-left-content-wrapper>
  </div>
  <div class="rainbow-with-star-wrapper right-rainbow-with-star" data-right-content-wrapper>
  </div>
</rainbow-with-star>
{% endif %}
<div class="{{ containerClass }}">
    {% if section.settings.heading != blank or section.settings.description != blank %}
      <div class="section-header">
        <div class="section-header-content-wrapper text-{{ section.settings.alignment }} m-auto">
          {% if section.settings.heading != blank %}
            <{{ section.settings.seo_heading }} class="section-heading {{ section.settings.heading_font }} {{ section.settings.heading_size }}{% if settings.enable_heading_animation %} animate-element-parent{% endif %}">
              {% if settings.enable_heading_animation %}
                <animate-element data-animate="fade-up-large" data-animate-delay="50">
              {% endif %}
              {%- capture markersPrefix -%}
                <span class="markers-text {{ section.settings.markers_font }}">
              {%- endcapture -%} 
              {%- capture markersSuffix -%}
                </span>
              {%- endcapture -%}
        
              {{- section.settings.heading | replace: '++', '<br/>' | replace: "[", markersPrefix | replace: "]", markersSuffix -}}
              {% if settings.enable_heading_animation %}
                </animate-element>
              {% endif %}
            </{{ section.settings.seo_heading }}>
          {% endif %}
          {% if section.settings.description != blank %}
            <div class="section-description{% if settings.enable_heading_animation %} animate-element-parent{% endif %}">
              {% if settings.enable_heading_animation %}
                <animate-element data-animate="fade-up-large" data-animate-delay="100">
              {% endif %}
              <p class="{{ section.settings.description_size }}">
                {{ section.settings.description | newline_to_br }}
              </p>
              {% if settings.enable_heading_animation %}
                </animate-element>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div> 
    {% endif %}
    {% if section.blocks.size > 0 %}
      <div class="collapsible-content-wrapper" data-collapsible-parent>
        {%- for block in section.blocks -%}
          {% if block.settings.collapsible_content_heading != blank %}
            <details
              class="collapsible-content-block{% unless forloop.last %} border-bottom{% endunless %}"
              data-collapsible-heading 
              {% if forloop.first %}
                open
              {% endif %}
            > 
              <summary class="collapsible-heading" data-collapsible-summary>
                <h6 class="collapsible-text heading-font {{ section.settings.block_heading_size }}">
                  {{ block.settings.collapsible_content_heading }}
                </h6>
                <span class="collapsible-icon">
                  {% render 'svg-icons', icon: 'accordion-icon' %}
                </span>
              </summary>
              <div class="collapsible-content" data-collapsible-content>
                <div class="collapsible-content-body rte {{ section.settings.block_description_size }}">
                  {{ block.settings.collapsible_content_description | replace: '<table', '<div class="table-responsive"><table' | replace: '</table>', '</table></div>' }}
                </div>
              </div>
            </details>
          {% endif %}
        {%- endfor -%}
      </div>
    {% endif %}
  </div>
</div>
<style>
    #shopify-section-{{ section.id }} {
      --top-spacing: {{ section.settings.top_space_desktop }}px;
      --bottom-spacing: {{ section.settings.bottom_space_desktop }}px;
      --round-section-radius: {{ section.settings.corner_radius }}px;
    }
    @media only screen and (max-width: 767px) {
      #shopify-section-{{ section.id }} {
        --top-spacing: {{ section.settings.top_space_mobile }}px;
        --bottom-spacing: {{ section.settings.bottom_space_mobile }}px;
      }
    }

    {% if section.settings.background_animation_visibility == 'large' %}
      @media(max-width: 767px) {
        #rainbow-with-star-{{ section.id }} {
          display: none !important;
        }
      }
    {% elsif section.settings.background_animation_visibility == 'small' %}
    @media(min-width: 768px) {
      #rainbow-with-star-{{ section.id }} {
        display: none !important;
      }
    }
  {% endif %}

    {% if section.settings.section_visibility == 'large' %}
      @media(max-width: 767px) {
        #shopify-section-{{ section.id }} {
          display: none !important;
        }
      }
    {% elsif section.settings.section_visibility == 'small' %}
    @media(min-width: 768px) {
      #shopify-section-{{ section.id }} {
        display: none !important;
      }
    }
  {% endif %}
</style>

{% schema %}
{
  "name": "t:sections.collapsible.name",
  "tag": "section",
  "class": "collapsible-section",
  "disabled_on": {
    "groups": ["header", "footer", "custom.Overlay"]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_visibility",
      "label": "t:sections.all.section_visibility.label",
      "default": "always",
      "options": [
        {
          "label": "t:sections.all.section_visibility.always.label",
          "value": "always"
        },
        {
          "label": "t:sections.all.section_visibility.small.label",
          "value": "small"
        },
        {
          "label": "t:sections.all.section_visibility.large.label",
          "value": "large"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "primary"
    },
    {
      "type": "select",
      "id": "section_background",
      "label": "t:sections.all.section_background.label",
      "default": "solid",
      "options": [
        {
          "label": "t:sections.all.section_background.solid.label",
          "value": "solid"
        },
        {
          "label": "t:sections.all.section_background.gradient.label",
          "value": "gradient"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_container_width",
      "label": "t:sections.all.section_container_width.label",
      "default": "container-sm",
      "options": [
        {
          "label": "t:sections.all.section_container_width.global.label",
          "value": "global"
        },
        {
          "label": "t:sections.all.section_container_width.container-sm.label",
          "value": "container-sm"
        },
        {
              "label": "t:sections.all.section_container_width.container.label",
              "value": "container-md"
            },
            {
              "label": "t:sections.all.section_container_width.container-md.label",
              "value": "container"
            },
        {
          "label": "t:sections.all.section_container_width.container-fullwidth.label",
          "value": "container-fullwidth"
        }
      ]
    },
    {
      "type": "select",
      "id": "corner_style",
      "default": "none",
      "label": "t:sections.all.section_corner_style.label",
      "options": [
        {
          "value": "top",
          "label": "t:sections.all.section_corner_style.top.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.all.section_corner_style.bottom.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.section_corner_style.both.label"
        },
        {
          "value": "none",
          "label": "t:sections.all.section_corner_style.none.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "corner_radius",
      "label": "t:settings_schema.global.settings.corner_radius.label",
      "default": 70,
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "enable_background_animation",
      "label": "t:sections.collapsible.settings.enable_background_animation.label",
      "default": false
    },
    {
      "type": "select",
      "id": "background_animation_visibility",
      "label": "t:sections.collapsible.settings.background_animation_visibility.label",
      "default": "always",
      "options": [
        {
          "label": "t:sections.all.section_visibility.always.label",
          "value": "always"
        },
        {
          "label": "t:sections.all.section_visibility.small.label",
          "value": "small"
        },
        {
          "label": "t:sections.all.section_visibility.large.label",
          "value": "large"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:settings_schema.global.settings.heading.label",
      "default": "Collapsible [content]",
      "info": "t:settings_schema.global.settings.heading.info"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.all.heading_size.label",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.h1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.h2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.h3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.h4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.h5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_size.h6.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "seo_heading",
      "label": "t:sections.all.seo_heading.label",
      "info": "t:sections.all.seo_heading.info",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "div",
          "label": "div"
        },
        {
          "value": "span",
          "label": "span"
        },
        {
          "value": "p",
          "label": "p"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_font",
      "default": "heading-font",
      "label": "t:sections.all.heading_font.label",
      "options": [
        {
          "value": "heading-font",
          "label": "t:sections.all.heading_font.heading-font.label"
        },
        {
          "value": "body-font",
          "label": "t:sections.all.heading_font.body-font.label"
        },
        {
          "value": "accent-font",
          "label": "t:sections.all.heading_font.accent-font.label"
        }
      ] 
    }, 
    {
      "type": "select",
      "id": "markers_font",
      "default": "accent-font",
      "label": "t:sections.all.markers_font.label",
      "options": [
        {
          "value": "heading-font",
          "label": "t:sections.all.markers_font.heading-font.label"
        },
        {
          "value": "body-font",
          "label": "t:sections.all.markers_font.body-font.label"
        },
        {
          "value": "accent-font",
          "label": "t:sections.all.markers_font.accent-font.label"
        }
      ]
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "t:settings_schema.global.settings.description.label",
      "default": "Add short description for this section."
    },
    {
      "type": "select",
      "id": "description_size",
      "label": "t:sections.all.description_size.label",
      "default": "text",
      "options": [
        {
          "label": "t:sections.all.description_size.text-xsmall.label",
          "value": "text-xs"
        },
        {
          "label": "t:sections.all.description_size.text-small.label",
          "value": "text-sm"
        },
        {
          "label": "t:sections.all.description_size.text.label",
          "value": "text"
        },
        {
          "label": "t:sections.all.description_size.text-medium.label",
          "value": "text-md"
        },
        {
          "label": "t:sections.all.description_size.text-large.label",
          "value": "text-lg"
        },
        {
          "label": "t:sections.all.description_size.text-xlarge.label",
          "value": "text-xl"
        }
      ]
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "t:sections.all.headers.alignment",
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection-list.settings.header.block_content"
    },
    {
      "type": "select",
      "id": "block_heading_size",
      "label": "t:sections.all.heading_size.label",
      "default": "h6",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.h1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.h2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.h3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.h4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.h5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_size.h6.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "block_description_size",
      "label": "t:sections.all.description_size.label",
      "default": "text",
      "options": [
        {
          "label": "t:sections.all.description_size.text-xsmall.label",
          "value": "text-xs"
        },
        {
          "label": "t:sections.all.description_size.text-small.label",
          "value": "text-sm"
        },
        {
          "label": "t:sections.all.description_size.text.label",
          "value": "text"
        },
        {
          "label": "t:sections.all.description_size.text-medium.label",
          "value": "text-md"
        },
        {
          "label": "t:sections.all.description_size.text-large.label",
          "value": "text-lg"
        },
        {
          "label": "t:sections.all.description_size.text-xlarge.label",
          "value": "text-xl"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing.section_spacing_heading"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:sections.all.spacing.top_space_desktop",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:sections.all.spacing.bottom_space_desktop",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:sections.all.spacing.top_space_mobile",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:sections.all.spacing.bottom_space_mobile",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "collapse-content",
      "name": "t:sections.collapsible.blocks.collapse-content.name",
      "settings": [
        {
          "type": "text",
          "id": "collapsible_content_heading",
          "label": "Collapse heading",
          "default": "t:sections.collapsible.blocks.collapse-content.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "collapsible_content_description",
          "label": "t:sections.collapsible.blocks.collapse-content.settings.collapsible_content_description.label",
          "default": "<p>Add short description for this block.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collapsible.presets.name",
      "blocks": [
        {
          "type": "collapse-content"
        },
        {
          "type": "collapse-content"
        },
        {
          "type": "collapse-content"
        },
        {
          "type": "collapse-content"
        },
        {
          "type": "collapse-content"
        }
      ]
    }
  ]
}
{% endschema %}
