{{ 'account.css' | asset_url | stylesheet_tag }}
<script src="{{ 'account.js' | asset_url }}" defer></script>
{% liquid
  if section.settings.section_container_width == 'global'
    assign containerClass = settings.container_width
  else
    assign containerClass = section.settings.section_container_width
  endif
%}

{%- capture corner_style -%}
  {% if section.settings.corner_style == 'top' %}
      round-section round-top
      {% elsif section.settings.corner_style == 'bottom' %}
      round-section round-bottom
      {% elsif section.settings.corner_style == 'both' %}
      round-section round-bottom round-top
  {% endif %}
{%- endcapture -%}

<div class="section-wrapper scheme-{{ section.settings.color_scheme }} {{ corner_style }} pos-relative overflow-hidden">
  <div class="account-page-header-wrapper">
    {% if section.settings.background_image != blank %}
      <div class="background-overlay-image media-overlay">
        {% render 'lazy-images'
          , image: section.settings.background_image %}
      </div>
    {% endif %}
    <div class="{{ containerClass }}">
      <div class="account-page-header-content d-grid align-items-end">
        <div class="account-page-header-content-inner">
          <{{ section.settings.seo_heading }} class="account-page-header-heading heading-font {{ section.settings.heading_size }}">
            {% if section.settings.heading != blank %}
              {{ section.settings.heading }}
            {% else %}
              {{ 'customer.account.title' | t }}
            {% endif %}
          </{{ section.settings.seo_heading }}>
          {% if section.settings.description != blank %}
            <p class="account-page-header-description {{ section.settings.description_size }}">
              {{ section.settings.description | newline_to_br }}
            </p>
          {% endif %}
        </div>
        <div class="account-page-header-content-right">
          <a
            href="{{ routes.account_logout_url }}"
            type="button"
            class="button button-sm buttonHover button-secondary"
            aria-label="Account log out">
            <span>
              {{ 'customer.log_out' | t }}
            </span>
          </a>
        </div>
      </div>
    </div>
    {% if section.settings.shape != 'none' %}
      <div class="section-shape-wrapper shape-position-bottom shape-flip-false">
        {% render 'shapes'
          , shape: section.settings.shape %}
      </div>
    {% endif %}
  </div>
</div>

<div class="section-wrapper scheme-{{ section.settings.color_scheme }} section-spacing pos-relative overflow-hidden section-{{ section.settings.section_background }}">
  <div class="{{ containerClass }}">
    <div class="account-orders-section" id="account">
      {%- if customer.orders.size > 0 -%}
        <div class="section-header">
          <h4 class="heading-font">{{ 'customer.orders.title' | t }}</h4>
        </div>
      {% endif %}
      <div class="account-orders-wrapper">
        {% comment %} <div class="account-orders-block"> {% endcomment %}
        {% paginate customer.orders by 20 %}
          {%- if customer.orders.size > 0 -%}
            <div class="account-orders-pagination-wrapper">
              <div class="account-orders-block-inner order-history">
                <div class="account-col-header d-grid pattern-shape-table pos-relative table-header">
                  <h5 class="heading-font text-left text-sm">{{ 'customer.orders.order_number' | t }}</h5>
                  <h5 class="heading-font text-left text-sm">{{ 'customer.orders.date' | t }}</h5>
                  <h5 class="heading-font text-left text-sm">{{ 'customer.orders.payment_status' | t }}</h5>
                  <h5 class="heading-font text-left text-sm">{{ 'customer.orders.fulfillment_status' | t }}</h5>
                  <h5 class="heading-font text-right text-sm">{{ 'customer.orders.total' | t }}</h5>
                </div>
                <div class="order-history-list table-body">
                  {%- for order in customer.orders -%}
                    <div class="order-history-item d-grid">
                      <div class="order-number">
                        <a class="button text-button body-font text-normal text-sm text-underline" href="{{ order.customer_url }}">
                          {{- order.order_name -}}
                        </a>
                      </div>
                      <div class="order-date text-left text-sm">
                        {{ order.created_at | time_tag: format: 'date' }}
                      </div>
                      <div class="order-pay-status text-left text-sm {{ order.financial_status_label | handleize}}">
                        <span class="badge">{{ order.financial_status_label }}</span>
                      </div>
                      <div class="order-fillment-status unfulfilled text-left text-sm">
                        {{ order.fulfillment_status_label }}
                      </div>
                      <div class="order-total text-right text-sm">{{ order.total_price | money_with_currency }}</div>
                    </div>
                  {%- endfor -%}
                </div>
              </div>
              {%- if paginate.pages > 1 -%}
                {% render 'pagination'
                  , paginate: paginate
                  , anchor: '' %}
              {%- endif -%}
            </div>
          {%- else -%}
            <div class="account-orders-empty">
              <div class="orders-empty-text text-center">
                <h4 class="orders-empty-title heading-font">{{ 'customer.orders.title' | t }}</h4>
                <p class="orders-empty-content text-md">{{ 'customer.orders.none' | t }}</p>
              </div>
              <a
                href="{{ routes.all_products_collection_url }}"
                class="button button-sm"
                aria-label="Collection all link">
                {{- 'customer.orders.continue_shopping' | t -}}
              </a>
            </div>
          {%- endif -%}
        {% endpaginate %}
        {% comment %} </div> {% endcomment %}
        <div class="address-block d-grid gap-20">
          <div class="address-block-inner">
            <div class="address-block-header d-flex">
              <h5 class="heading-font text-left text d-flex gap-10 align-items-center">
                <span class="icon-address">{% render 'svg-icons'
, icon: 'address_home' %}</span>
                {{ 'customer.account.my_address' | t }}
              </h5>
              <edit-address class="address-buttons d-flex gap-10">
                <button
                  type="button"
                  data-id="EditAddress_1"
                  data-address-id="{{ customer.default_address.id }}"
                  data-customer-addresses
                  class="button text-button body-font text text-normal d-flex gap-5"
                  aria-label="Update address">
                  {% render 'svg-icons'
                    , icon: 'edit_address' %}
                </button>
              </edit-address>
            </div>
            <div class="address-block-body">
              <div class="address-list">
                <div class="address-item">
                  <span class="text">
                    {{ customer.default_address | format_address }}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <a
            href="{{ routes.account_addresses_url }}"
            type="button"
            class="button button-sm width-100{% if request.path == routes.account_addresses_url %} active{% endif %} buttonHover">
            <span>
              {%- assign button_text = 'customer.account.view_addresses' | t -%}
              {%- assign button_text = button_text
 | append: ' '
 | append: '('
 | append: customer.addresses.size
 | append: ')'
              -%}
              {{- button_text -}}
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% render 'address-drawer'
  , customer: customer
  , section: section %}
<style>
  #shopify-section-{{ section.id }} {
    --top-spacing: {{ section.settings.top_space_desktop }}px;
    --bottom-spacing: {{ section.settings.bottom_space_desktop }}px;
    --round-section-radius: {{ section.settings.corner_radius }}px;
    --media-height: {{ section.settings.banner_height_desktop }};
  }
  @media only screen and (max-width: 767px) {
    #shopify-section-{{ section.id }} {
      --top-spacing: {{ section.settings.top_space_mobile }}px;
      --bottom-spacing: {{ section.settings.bottom_space_mobile }}px;
      --media-height: {{ section.settings.banner_height_mobile }};
    }
  }
</style>
{% schema %}
  {
    "name": "t:sections.main-account.name",
    "tag": "section",
    "class": "main-account-section",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "primary"
      },
      {
        "type": "select",
        "id": "section_background",
        "label": "t:sections.all.section_background.label",
        "default": "solid",
        "options": [
          {
            "label": "t:sections.all.section_background.solid.label",
            "value": "solid"
          },
          {
            "label": "t:sections.all.section_background.gradient.label",
            "value": "gradient"
          }
        ]
      },
      {
        "type": "select",
        "id": "section_container_width",
        "label": "t:sections.all.section_container_width.label",
        "default": "global",
        "options": [
          {
            "label": "t:sections.all.section_container_width.global.label",
            "value": "global"
          },
          {
            "label": "t:sections.all.section_container_width.container-sm.label",
            "value": "container-sm"
          },
          {
            "label": "t:sections.all.section_container_width.container.label",
            "value": "container-md"
          },
          {
            "label": "t:sections.all.section_container_width.container-md.label",
            "value": "container"
          },
          {
            "label": "t:sections.all.section_container_width.container-fullwidth.label",
            "value": "container-fullwidth"
          },
          {
            "label": "t:sections.all.section_container_width.no-container.label",
            "value": "no-container"
          }
        ]
      },
      {
        "type": "select",
        "id": "corner_style",
        "default": "none",
        "label": "t:sections.all.section_corner_style.label",
        "options": [
          {
            "value": "top",
            "label": "t:sections.all.section_corner_style.top.label"
          },
          {
            "value": "bottom",
            "label": "t:sections.all.section_corner_style.bottom.label"
          },
          {
            "value": "both",
            "label": "t:sections.all.section_corner_style.both.label"
          },
          {
            "value": "none",
            "label": "t:sections.all.section_corner_style.none.label"
          }
        ]
      },
      {
        "type": "range",
        "id": "corner_radius",
        "label": "t:settings_schema.global.settings.corner_radius.label",
        "default": 70,
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "t:sections.main-account.settings.header.header"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "t:sections.main-account.settings.background_image.label"
      },
      {
        "type": "select",
        "id": "banner_height_desktop",
        "label": "Desktop height",
        "default": "250px",
        "options": [
          {
            "value": "250px",
            "label": "t:sections.main-account.settings.banner_height_desktop.option__1.label"
          },
          {
            "value": "350px",
            "label": "t:sections.main-account.settings.banner_height_desktop.option__2.label"
          },
          {
            "value": "500px",
            "label": "t:sections.main-account.settings.banner_height_desktop.option__3.label"
          }
        ]
      },
      {
        "type": "select",
        "id": "banner_height_mobile",
        "label": "Mobile height",
        "default": "200px",
        "options": [
          {
            "value": "100px",
            "label": "t:sections.main-account.settings.banner_height_mobile.option__1.label"
          },
          {
            "value": "200px",
            "label": "t:sections.main-account.settings.banner_height_mobile.option__2.label"
          },
          {
            "value": "350px",
            "label": "t:sections.main-account.settings.banner_height_mobile.option__3.label"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.main-account.settings.header.header_shape"
      },
      {
        "type": "select",
        "id": "shape",
        "default": "none",
        "label": "t:sections.all.shape.label",
        "options": [
          {
            "value": "none",
            "label": "t:sections.all.shape.none.label"
          },
          {
            "value": "curve",
            "label": "t:sections.all.shape.curve.label"
          },
          {
            "value": "deep_curve",
            "label": "t:sections.all.shape.deep_curve.label"
          },
          {
            "value": "cloud",
            "label": "t:sections.all.shape.cloud.label"
          },
          {
            "value": "wavelong",
            "label": "t:sections.all.shape.wave_long.label"
          },
          {
            "value": "wave",
            "label": "t:sections.all.shape.wave.label"
          },
          {
            "value": "mountain",
            "label": "t:sections.all.shape.mountain.label"
          },
          {
            "value": "brush-effect",
            "label": "t:sections.all.shape.brush-effect.label"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.all.headers.content"
      },
      {
        "type": "inline_richtext",
        "id": "heading",
        "label": "t:settings_schema.global.settings.heading.label",
        "default": "Welcome to Your Account"
      },
      {
        "type": "select",
        "id": "heading_size",
        "label": "t:sections.all.heading_size.label",
        "default": "h2",
        "options": [
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.h1.label"
          },
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.h2.label"
          },
          {
            "value": "h3",
            "label": "t:sections.all.heading_size.h3.label"
          },
          {
            "value": "h4",
            "label": "t:sections.all.heading_size.h4.label"
          },
          {
            "value": "h5",
            "label": "t:sections.all.heading_size.h5.label"
          },
          {
            "value": "h6",
            "label": "t:sections.all.heading_size.h6.label"
          }
        ]
      },
      {
        "type": "select",
        "id": "seo_heading",
        "label": "t:sections.all.seo_heading.label",
        "info": "t:sections.all.seo_heading.info",
        "default": "h2",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "h5",
            "label": "H5"
          },
          {
            "value": "h6",
            "label": "H6"
          },
          {
            "value": "div",
            "label": "div"
          },
          {
            "value": "span",
            "label": "span"
          },
          {
            "value": "p",
            "label": "p"
          }
        ]
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "t:settings_schema.global.settings.description.label"
      },
      {
        "type": "select",
        "id": "description_size",
        "label": "t:sections.all.description_size.label",
        "default": "text",
        "options": [
          {
            "label": "t:sections.all.description_size.text-xsmall.label",
            "value": "text-xs"
          },
          {
            "label": "t:sections.all.description_size.text-small.label",
            "value": "text-sm"
          },
          {
            "label": "t:sections.all.description_size.text.label",
            "value": "text"
          },
          {
            "label": "t:sections.all.description_size.text-medium.label",
            "value": "text-md"
          },
          {
            "label": "t:sections.all.description_size.text-large.label",
            "value": "text-lg"
          },
          {
            "label": "t:sections.all.description_size.text-xlarge.label",
            "value": "text-xl"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.all.spacing.section_spacing_heading"
      },
      {
        "type": "range",
        "id": "top_space_desktop",
        "label": "t:sections.all.spacing.top_space_desktop",
        "default": 70,
        "min": 0,
        "max": 150,
        "step": 5
      },
      {
        "type": "range",
        "id": "bottom_space_desktop",
        "label": "t:sections.all.spacing.bottom_space_desktop",
        "default": 70,
        "min": 0,
        "max": 150,
        "step": 5
      },
      {
        "type": "range",
        "id": "top_space_mobile",
        "label": "t:sections.all.spacing.top_space_mobile",
        "default": 40,
        "min": 0,
        "max": 100,
        "step": 5
      },
      {
        "type": "range",
        "id": "bottom_space_mobile",
        "label": "t:sections.all.spacing.bottom_space_mobile",
        "default": 40,
        "min": 0,
        "max": 100,
        "step": 5
      }
    ]
  }
{% endschema %}