{% if section.index <= 2 %}
    {{ 'password.css' | asset_url | preload_tag: as: 'style' }}
{% endif %} 
{{ 'password.css' | asset_url | stylesheet_tag }}
  
<div class="section-wrapper scheme-{{ section.settings.color_scheme }} section-spacing pos-relative">
  {% if section.settings.bg_image != blank %}
    <div class="background-overlay-image media-overlay">
      {% render 'lazy-images', image: section.settings.bg_image %}
    </div>
  {% endif %}
  <div class="password-header-wrapper">
    <div class="{{ settings.container_width }}">
      <div class="password-header d-flex align-items-center">
                <div class="password-header-logo-wrapper">
                  {%- if section.settings.logo != blank -%}  
                  {%- assign image_2x_size = section.settings.logo_width | times: 2 | at_most: 2560 -%}
                    <img class="header-logo-img"
                    srcset="{{ section.settings.logo | image_url: width: section.settings.logo_width }} 1x, {{ section.settings.logo | image_url: width: image_2x_size }} 2x"
                    src="{{ section.settings.logo | image_url: width: section.settings.logo_width }}"
                    width="{{ section.settings.logo_width }}"
                    height="{{ section.settings.logo_width | divided_by : section.settings.logo.aspect_ratio | round }}"
                    alt="{{ section.settings.logo.alt | default: shop.name | escape }}" >

                  {% else %}
                    <span class="logo-text">{{ shop.name }}</span>
                  {% endif %}
                </div>
            
            <password-facet class="password-header-button-wrapper">
                    <button id="password-openPopupButton" type="button" class="button password-button button-sm"><span>
                        <svg width="19" height="18" viewBox="0 0 19 18" fill="none">
                          <path d="M13.25 16.5H5.75C3.67892 16.5 2 14.8211 2 12.75V10.875C2 8.80392 3.67892 7.125 5.75 7.125H13.25C15.3211 7.125 17 8.80392 17 10.875V12.75C17 14.8211 15.3211 16.5 13.25 16.5Z" stroke="currentColor" stroke-width="1.875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M5.75 7.125V5.25C5.75 3.17892 7.42892 1.5 9.5 1.5C11.5711 1.5 13.25 3.17892 13.25 5.25V7.125" stroke="currentColor" stroke-width="1.875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M9.5 10.875V12.75" stroke="currentColor" stroke-width="1.875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </span>Enter Using Password</button>
            </password-facet>
      </div>
    </div>
  </div> 

  <div class="{{ settings.container_width }}">
    <div class="password-wrapper">
     
        <div class="password-content-inner pos-relative text-{{ section.settings.content_position }}">
            {%- for block in section.blocks -%}
                {% case block.type %}
                  {% when 'text' %}
                    {% if block.settings.text != blank %}
                        <p class="password-newsletter-text heading-font {{ block.settings.text_size }}" {{ block.shopify_attributes }}>
                          {{ block.settings.text | newline_to_br }}
                        </p>
                      {% endif %}
                      {% when 'heading' %}
                        {% if block.settings.heading != blank %}
                          {%- capture markersPrefix -%}
                            <span class="markers-text {{ block.settings.markers_font }}">
                          {%- endcapture -%} 
                          {%- capture markersSuffix -%}
                            </span>
                          {%- endcapture -%}
                              <{{ block.settings.seo_heading }} class="{{ block.settings.heading_font }} {{ block.settings.heading_size}}">
                                {{- block.settings.heading | replace: '++', '<br/>' | replace: "[", markersPrefix | replace: "]", markersSuffix -}}
                              </{{ block.settings.seo_heading }}>
                        {% endif %}
                        {% when 'password_message' %}
                            {%- if shop.password_message != blank -%}
                                <div class="password-content-msg {{ block.settings.text_size }}" {{ block.shopify_attributes }}>
                                {{ shop.password_message }}
                                </div>
                            {%- endif -%}
                            {% when 'newsletter_form' %}
                                {% form 'customer', class: 'newsletter-form-form-main pos-relative' %}
                                    <input type="hidden" name="contact[tags]" value="newsletter">
                                    <div class="newsletter-form">
                                    <div class="form-newsletter">
                                        <label class="hidden" for="NewsletterForm-{{ section.id }}">{{ 'newsletter.label' | t }}</label>
                                        <input
                                        id="NewsletterForm-{{ section.id }}"
                                        type="email"
                                        name="contact[email]"
                                        class="form-control"
                                        value="{{ form.email }}"
                                        aria-required="true"
                                        autocorrect="off"
                                        autocapitalize="off"
                                        autocomplete="email"
                                        {% if form.errors %}
                                            autofocus
                                            aria-invalid="true"
                                            aria-describedby="Newsletter-error-{{ section.id }}"
                                        {% elsif form.posted_successfully? %}
                                            aria-describedby="Newsletter-success-{{ section.id }}"
                                        {% endif %}
                                        placeholder="{{ block.settings.placeholder_text | default: 'Enter your email' }}"
                                        required
                                        >
                                    </div>
                                    {%- if form.errors -%}
                                        <div class="form-message error" id="Newsletter-error-{{ section.id }}" tabindex="-1"  autofocus>
                                        {{- form.errors.translated_fields.email | capitalize }}
                                        {{ form.errors.messages.email -}}
                                        </div>
                                    {%- endif -%}
                                    {%- if form.posted_successfully? -%}
                                        <div  class="form-message success" id="Newsletter-success-{{ section.id }}"  tabindex="-1"  autofocus >  
                                        {{ 'newsletter.success' | t }}
                                        </div>
                                    {%- endif -%}
                                    <button
                                        type="submit"
                                        class="button medium-button buttonHover"
                                        name="commit"
                                        id="Subscribe"
                                        aria-label="{{ 'newsletter.button_label' | t }}"
                                    >
                                    {{ 'newsletter.button_label' | t }}
                                    </button>                    
                                    </div>
                                {% endform %}
                                {% when 'social_icons' %}
                                <div class="password-footer">
                                    <div class="social-icons password-social-icons" {{ block.shopify_attributes }}>
                                      {% render 'social-icons', iconsize: 'icons-small' %}
                                    </div>
                                </div>
                          {% endcase %}
            {%- endfor -%}
        </div> 
    </div>
  </div>
</div>
{% render 'main-password-popup' , section : section  %}
<style>
  #shopify-section-{{ section.id }}{
    --header-logo-width: {{ section.settings.logo_width }}px;
  }
  @media (max-width: 767px) {
    #shopify-section-{{ section.id }}{
      --header-logo-width: {{ section.settings.logo_width_mobile }}px;
    }
  }
</style>
<script>
  class passwordFacet extends HTMLElement {
  constructor() {
    super();
    this.drawerSelector = '[data-drawer="password-popup"]';
    this.drawerElement = document.querySelector(this.drawerSelector);
    this.drawerCloseButton = this.drawerElement.querySelector('[data-drawer-close]');
    this.addEventListener('click', this.handleClick.bind(this));
  }

  handleClick(event) {
    event.preventDefault();
    this.openDrawer();
  }

  openDrawer() {
    if (this.drawerElement) {
      setTimeout(() => {
        this.drawerElement.classList.add('open');
        document.body.classList.add('overflow-hidden');
      }, 200);
    }
  }
}
customElements.define('password-facet', passwordFacet);
</script>
{% schema %}
    {
      "name": "t:sections.main-password.name",
      "class": "section-password",
      "templates": ["password"],
      "tag": "section",
       "settings": [
        {
           "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:sections.all.colors.label",
            "default": "primary"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "t:sections.header.settings.logo.label"
        },
        {
            "type": "range",
            "id": "logo_width",
            "min": 100,
            "max": 300,
            "step": 10,
            "unit": "px",
            "label": "t:sections.header.settings.logo_width.label",
            "default": 100
            },
            {
            "type": "range",
            "id": "logo_width_mobile",
            "min": 50,
            "max": 100,
            "step": 10,
            "unit": "px",
            "label": "t:sections.header.settings.logo_width_mobile.label",
            "default": 70
            },
            {
            "type": "text_alignment",
            "id": "content_position",
            "label": "t:sections.main-password.settings.content_position.label",
            "default": "center"
            },
            {
            "type": "image_picker",
            "id": "bg_image",
            "label": "t:settings_schema.global.settings.image.label"
            },
        {
          "type": "header",
          "content": "t:sections.all.headers.password-popup"
        },
        {
            "type": "text",
            "id": "popup_heading",
            "label": "t:sections.all.headers.heading",
            "default": "Enter Password"
        },
        {
            "type": "textarea",
            "id": "popup_desc",
            "label": "t:settings_schema.global.settings.description.label",
            "default": "Find out when we open"
        }
     ],
     "blocks": [
    {
      "type": "text",
      "name": "t:sections.main-password.blocks.text.name",
      "limit": 2,
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "t:settings_schema.global.settings.text.label",
          "default": "Add text here"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:sections.main-password.blocks.text.settings.text_size.label",
          "default": "text",
          "options": [
            {
              "label": "t:sections.all.description_size.text-xsmall.label",
              "value": "text-xs"
            },
            {
              "label": "t:sections.all.description_size.text-small.label",
              "value": "text-sm"
            },
            {
              "label": "t:sections.all.description_size.text.label",
              "value": "text"
            },
            {
              "label": "t:sections.all.description_size.text-medium.label",
              "value": "text-md"
            },
            {
              "label": "t:sections.all.description_size.text-large.label",
              "value": "text-lg"
            },
            {
              "label": "t:sections.all.description_size.text-xlarge.label",
              "value": "text-xl"
            }
          ]
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.all.headers.heading",
      "limit": 1,
      "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "label": "t:settings_schema.global.settings.heading.label",
        "info": "t:settings_schema.global.settings.heading.info",
        "default": "Heading"
      },
      {
        "type": "select",
        "id": "heading_size",
        "label": "t:sections.all.heading_size.label",
        "default": "h2",
        "options": [
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.h1.label"
          },
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.h2.label"
          },
          {
            "value": "h3",
            "label": "t:sections.all.heading_size.h3.label"
          },
          {
            "value": "h4",
            "label": "t:sections.all.heading_size.h4.label"
          },
          {
            "value": "h5",
            "label": "t:sections.all.heading_size.h5.label"
          },
          {
            "value": "h6",
            "label": "t:sections.all.heading_size.h6.label"
          }
        ]
      },
    {
      "type": "select",
      "id": "seo_heading",
      "label": "t:sections.all.seo_heading.label",
      "info": "t:sections.all.seo_heading.info",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "div",
          "label": "div"
        },
        {
          "value": "span",
          "label": "span"
        },
        {
          "value": "p",
          "label": "p"
        }
      ]
      },
      {
      "type": "select",
      "id": "heading_font",
      "default": "heading-font",
      "label": "t:sections.all.heading_font.label",
      "options": [
        {
          "value": "heading-font",
          "label": "t:sections.all.heading_font.heading-font.label"
        },
        {
          "value": "body-font",
          "label": "t:sections.all.heading_font.body-font.label"
        },
        {
          "value": "accent-font",
          "label": "t:sections.all.heading_font.accent-font.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "markers_font",
      "default": "accent-font",
      "label": "t:sections.all.markers_font.label",
      "options": [
        {
          "value": "heading-font",
          "label": "t:sections.all.markers_font.heading-font.label"
        },
        {
          "value": "body-font",
          "label": "t:sections.all.markers_font.body-font.label"
        },
        {
          "value": "accent-font",
          "label": "t:sections.all.markers_font.accent-font.label"
        }
      ]
    }
    ]
},
{
      "type": "social_icons",
      "name": "t:sections.main-password.blocks.social_icons.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.all.headers.social-media-icons.info"
        }
      ]
    },
    {
      "type": "password_message",
      "name": "t:sections.main-password.blocks.password_message.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-password.blocks.password_message.settings.pass_msg.content"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:sections.main-password.blocks.password_message.settings.text_size.label",
          "default": "text",
          "options": [
            {
              "label": "t:sections.all.description_size.text-xsmall.label",
              "value": "text-xs"
            },
            {
              "label": "t:sections.all.description_size.text-small.label",
              "value": "text-sm"
            },
            {
              "label": "t:sections.all.description_size.text.label",
              "value": "text"
            },
            {
              "label": "t:sections.all.description_size.text-medium.label",
              "value": "text-md"
            },
            {
              "label": "t:sections.all.description_size.text-large.label",
              "value": "text-lg"
            },
            {
              "label": "t:sections.all.description_size.text-xlarge.label",
              "value": "text-xl"
            }
          ]
        }
      ]
    },
    {
      "type": "newsletter_form",
      "name": "t:sections.main-password.blocks.newsletter_form.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "placeholder_text",
          "label": "t:sections.main-password.blocks.newsletter_form.settings.placeholder_text.label",
          "default": "Enter your email"
        }
      ]
    }
]
}
{% endschema %}
