{% if section.index <= 2 %}
  {{ 'multi-column.css' | asset_url | preload_tag: as: 'style' }}
{% endif %}
{{ 'multi-column.css' | asset_url | stylesheet_tag }}

{%- capture corner_style -%}
  {% if section.settings.corner_style == 'top' %}
      round-section round-top
      {% elsif section.settings.corner_style == 'bottom' %}
      round-section round-bottom
      {% elsif section.settings.corner_style == 'both' %}
      round-section round-bottom round-top
  {% endif %}
{%- endcapture -%}

{% liquid
  if section.settings.section_container_width == 'global'
    assign containerClass = settings.container_width
  else
    assign containerClass = section.settings.section_container_width
  endif
%}

{% liquid
  assign shape_block_count = 0
  for block in section.blocks
    if block.type == 'shape' and block.settings.shape != 'none'
      assign shape_block_count = shape_block_count | plus: 1
    endif
  endfor
%}

{% liquid
  assign check_slider = true
  if section.settings.layout_style == 'grid'
    assign check_slider = false
  endif
%}

<div class="section-wrapper scheme-{{ section.settings.color_scheme }} section-spacing {{ corner_style }} section-{{ section.settings.section_background }}">
  <div class="{{ containerClass }}">
   
      {% if shape_block_count > 0 %}
        <shape-icons class="img-with-shapes-wrapper">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'shape' %}
                {% if block.settings.shape != 'none' %}
                  <div
                    class="shape-icon shape {{ block.settings.shape }}"
                    style="--shape-color:{{ block.settings.shape_color }}"
                    id="icon-shape-{{ block.id }}"
                    data-shape-icon
                  >
                   <template>
                      {% render 'bg-shape'
                        , shape: block.settings.shape %}
                    </template>
                  </div>
                {% endif %}
            {% endcase %}
          {% endfor %}
        </shape-icons>
      {% endif %}
      {% if section.settings.heading != blank or section.settings.description != blank  %}
      <div class="section-header">
        <div class="section-header-content-wrapper text-{{ section.settings.alignment }} m-auto">
          {% if section.settings.heading != blank %}
            <{{ section.settings.seo_heading }} class="section-heading {{ section.settings.heading_font }} {{ section.settings.heading_size }}{% if settings.enable_heading_animation %} animate-element-parent{% endif %}">
            {% if settings.enable_heading_animation %}
                  <animate-element data-animate="fade-up-large" data-animate-delay="50">
                {% endif %}

                {%- capture markersPrefix -%}
                  <span class="markers-text {{ section.settings.markers_font }}">
                {%- endcapture -%} 
                {%- capture markersSuffix -%}
                  </span>
                {%- endcapture -%}

              {{- section.settings.heading | replace: '++', '<br/>' | replace: "[", markersPrefix | replace: "]", markersSuffix -}}
              {% if settings.enable_heading_animation %}
                  </animate-element>
                {% endif %}
            </{{ section.settings.seo_heading }}>
          {% endif %}
          {% if section.settings.description != blank %}
            <div class="section-description{% if settings.enable_heading_animation %} animate-element-parent{% endif %}">
              {% if settings.enable_heading_animation %}
              <animate-element data-animate="fade-up-large" data-animate-delay="100">
              {% endif %}  
                <p class="{{ section.settings.description_size }}">
                  {{ section.settings.description | newline_to_br }}
                </p>
              {% if settings.enable_heading_animation %}
                  </animate-element>
                {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
      {% endif %}
      <div class="multi-column-wrapper">
      {% if check_slider %}
        <swiper-slideshow>
          <div
            class="swiper navigation-{{ section.settings.carousel_navigation }}"
            data-swiper='
              {
                  "loop": false,
                  "speed": 900,
                  "spaceBetween": {{ section.settings.column_gap }},
                  "centeredSlides": false,
                   "navigation": {
                    "enabled": true,
                    "nextEl": ".swiper-button-next-{{ section.id }}",
                    "prevEl": ".swiper-button-prev-{{ section.id }}"
                  },
                  "pagination": {
                        "el": ".swiper-pagination-{{ section.id }}",
                        "type": "bullets",
                        "clickable":true
                    },
                  "breakpoints": {
                      "768": {
                          "speed": 1000,
                          "slidesPerView": 1.5,
                          "grabCursor": false,
                          "scrollbar": false
                      },
                      "992": {
                          "slidesPerView": 2
                      },
                      "1025": {
                          "slidesPerView": {{ section.settings.desktop_column_count }}
                      }
                  }
              }
            '
          >
      {% endif %}
      <div class="multi-column-inner-wrapper{% if check_slider %} is-slider swiper-wrapper d-flex{% else %} d-grid {% if section.settings.mobile_swipe == true %} mobile-swipe{% endif %}{% endif %}">
       
        {% for block in section.blocks %}
          {% if block.type == 'column' %}
            <div
              class="multi-column-item{% if check_slider %} swiper-slide{% endif %} enable-shape-border-{{ section.settings.enable_shape_border }}"
              style="--border-color: {{ block.settings.shape_border }};"
            >
              <div
                class="multi-column-inner m-auto text-center"
              >
                <div class="media-shape media-shape-{{ block.settings.image_shape }}">
                  {% liquid
                    if block.settings.image_shape == 'landscape'
                      assign image_ratio = 75
                    elsif block.settings.image_shape == 'portrait'
                      assign image_ratio = 130
                    elsif block.settings.image_shape == 'square'
                      assign image_ratio = 100
                    elsif block.settings.image_shape == 'auto'
                      if block.settings.image != blank
                        assign image_ratio = 1 | divided_by: block.settings.image.aspect_ratio | times: 100
                      else
                        assign image_ratio = 100
                      endif
                    else 
                      assign image_ratio = 100
                    endif 
                  %}
                  <div class="media" style="--image-ratio: {{ image_ratio }}%;">
                    {% if block.settings.image != blank %}
                      {% render 'lazy-images', image: block.settings.image %}
                    {% else %}
                      {{ 'collection-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    {% endif %}
                  </div>
                </div>
                <div class="media-column-content">
                  {% if block.settings.heading != blank %}
                    <{{ block.settings.seo_heading }} class="heading-font {{ block.settings.heading_size }}">
                      {{- block.settings.heading -}}
                    </{{ block.settings.seo_heading }}>
                  {% endif %}
                  {% if block.settings.description != blank %}
                    <p class="{{ block.settings.description_size }}">
                      {{ block.settings.description | newline_to_br }}
                    </p>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      {% if check_slider %}
        <div class="multi-column-nav swiper-button-wrapper {% if section.blocks.size  < 4 %} d-block d-md-none {% endif %}">
          <div class="slideshow-nav-btn slideshow-prev cursor-pointer swiper-button-prev-{{ section.id }} arrow-style-{{ settings.arrow_style }}">
            {% if settings.arrow_style == 'star' %}
              {% render 'svg-icons', icon: 'star-arrow-prev' %}
            {% else %}
              {% render 'svg-icons', icon: 'arrow-icon-prev' %}
            {% endif %}
          </div>
          <div class="slideshow-nav-btn slideshow-next cursor-pointer swiper-button-next-{{ section.id }} arrow-style-{{ settings.arrow_style }}">
            {% if settings.arrow_style == 'star' %}
              {% render 'svg-icons', icon: 'star-arrow-next' %}
           {% else %}
              {% render 'svg-icons', icon: 'arrow-icon-next' %}
           {% endif %}
          </div>
        </div>
        <div class="slideshow-pagination swiper-pagination-{{ section.id }}"></div>
        </div>
        </swiper-slideshow>
      {% endif %}
    </div>
  </div>
</div>
<style>
    #shopify-section-{{ section.id }}{
      --top-spacing: {{ section.settings.top_space_desktop }}px;
      --bottom-spacing: {{ section.settings.bottom_space_desktop }}px;
      --round-section-radius:{{ section.settings.corner_radius }}px;
      --col-count: {{ section.settings.desktop_column_count }};
      --gap:{{ section.settings.column_gap }}px;
    }
     @media only screen and (max-width:767px) {
        #shopify-section-{{ section.id }}{
          --top-spacing: {{ section.settings.top_space_mobile }}px;
          --bottom-spacing: {{ section.settings.bottom_space_mobile }}px;
         }
    }

   
    {% for block in section.blocks %}
      {% case block.type %}
      {% when 'shape' %}
      #shopify-section-{{ section.id }} #icon-shape-{{ block.id }} {
        --shape-horizontal: {{ block.settings.shape_desktop_horizontal }}%;
        --shape-vertical: {{ block.settings.shape_desktop_vertical }}%;
        --shape-width: {{ block.settings.shape_width }}px;
      }
      @media only screen and (max-width: 767px) {
         #shopify-section-{{ section.id }} #icon-shape-{{ block.id }} {
          --shape-horizontal: {{ block.settings.shape_mobile_horizontal }}%;
          --shape-vertical: {{ block.settings.shape_mobile_vertical }}%;
          {% if block.settings.icon_visibility == 'large' %}
            display: none !important;
          {% endif %}
        }
      }
      {% if block.settings.icon_visibility == 'small' %}
        @media(min-width: 768px) {
          #shopify-section-{{ section.id }} #icon-shape-{{ block.id }} {
            display: none !important;
          }
        }
      {% endif %}
    {% endcase %}
  {% endfor %}

  {% if section.settings.section_visibility == 'large' %}
    @media(max-width: 767px) {
      #shopify-section-{{ section.id }} {
        display: none !important;
      }
    }
  {% elsif section.settings.section_visibility == 'small' %}
  @media(min-width: 768px) {
    #shopify-section-{{ section.id }} {
      display: none !important;
    }
  }
  {% endif %}
</style>

{% schema %}
{
  "name": "t:sections.multicolumn.name",
  "tag": "section",
  "class": "multicolumn-section",
  "disabled_on": {
    "groups": ["header", "footer", "custom.Overlay"]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_visibility",
      "label": "t:sections.all.section_visibility.label",
      "default": "always",
      "options": [
        {
          "label": "t:sections.all.section_visibility.always.label",
          "value": "always"
        },
        {
          "label": "t:sections.all.section_visibility.small.label",
          "value": "small"
        },
        {
          "label": "t:sections.all.section_visibility.large.label",
          "value": "large"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "primary"
    },
    {
      "type": "select",
      "id": "section_background",
      "label": "t:sections.all.section_background.label",
      "default": "solid",
      "options": [
        {
          "label": "t:sections.all.section_background.solid.label",
          "value": "solid"
        },
        {
          "label": "t:sections.all.section_background.gradient.label",
          "value": "gradient"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_container_width",
      "label": "t:sections.all.section_container_width.label",
      "default": "global",
      "options": [
          {
            "label": "t:sections.all.section_container_width.global.label",
            "value": "global"
          },
          {
            "label": "t:sections.all.section_container_width.container-sm.label",
            "value": "container-sm"
          },
          {
              "label": "t:sections.all.section_container_width.container.label",
              "value": "container-md"
            },
            {
              "label": "t:sections.all.section_container_width.container-md.label",
              "value": "container"
            },
          {
            "label": "t:sections.all.section_container_width.container-fullwidth.label",
            "value": "container-fullwidth"
          },
          {
            "label": "t:sections.all.section_container_width.no-container.label",
            "value": "no-container"
          }
      ]
    },
    {
      "type": "select",
      "id": "corner_style",
      "default": "none",
      "label": "t:sections.all.section_corner_style.label",
      "options": [
        {
          "value": "top",
          "label": "t:sections.all.section_corner_style.top.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.all.section_corner_style.bottom.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.section_corner_style.both.label"
        },
        {
          "value": "none",
          "label": "t:sections.all.section_corner_style.none.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "corner_radius",
      "label": "t:settings_schema.global.settings.corner_radius.label",
      "default": 70,
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:settings_schema.global.settings.heading.label",
      "default": "Multicolumn",
      "info": "t:settings_schema.global.settings.heading.info"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.all.heading_size.label",
      "default": "h2",
      "options": [
           {
              "value": "h1",
              "label": "t:sections.all.heading_size.h1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.h2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.h3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.heading_size.h4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.heading_size.h5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.all.heading_size.h6.label"
            }
      ]
    },
    {
      "type": "select",
      "id": "seo_heading",
      "label": "t:sections.all.seo_heading.label",
      "info": "t:sections.all.seo_heading.info",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "div",
          "label": "div"
        },
        {
          "value": "span",
          "label": "span"
        },
        {
          "value": "p",
          "label": "p"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_font",
      "default": "heading-font",
      "label": "t:sections.all.heading_font.label",
      "options": [
        {
          "value": "heading-font",
          "label": "t:sections.all.heading_font.heading-font.label"
        },
        {
          "value": "body-font",
          "label": "t:sections.all.heading_font.body-font.label"
        },
        {
          "value": "accent-font",
          "label": "t:sections.all.heading_font.accent-font.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "markers_font",
      "default": "accent-font",
      "label": "t:sections.all.markers_font.label",
      "options": [
        {
          "value": "heading-font",
          "label": "t:sections.all.markers_font.heading-font.label"
        },
        {
          "value": "body-font",
          "label": "t:sections.all.markers_font.body-font.label"
        },
        {
          "value": "accent-font",
          "label": "t:sections.all.markers_font.accent-font.label"
        }
      ]
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "t:settings_schema.global.settings.description.label",
      "default": "Add short description for this section."
    },
    {
      "type": "select",
      "id": "description_size",
      "label": "t:sections.all.description_size.label",
      "default": "text",
      "options": [
        {
          "label": "t:sections.all.description_size.text-xsmall.label",
          "value": "text-xs"
        },
        {
          "label": "t:sections.all.description_size.text-small.label",
          "value": "text-sm"
        },
        {
          "label": "t:sections.all.description_size.text.label",
          "value": "text"
        },
        {
          "label": "t:sections.all.description_size.text-medium.label",
          "value": "text-md"
        },
        {
          "label": "t:sections.all.description_size.text-large.label",
          "value": "text-lg"
        },
        {
          "label": "t:sections.all.description_size.text-xlarge.label",
          "value": "text-xl"
        }
      ]
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "t:sections.all.headers.alignment",
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.layout"
    },
    {
      "type": "select",
      "id": "layout_style",
      "default": "carousel",
      "label": "t:sections.multicolumn.settings.layout_style.label",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.multicolumn.settings.layout_style.grid.label"
        },
        {
          "value": "carousel",
          "label": "t:sections.multicolumn.settings.layout_style.carousel.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "carousel_navigation",
      "label": "t:sections.multicolumn.settings.carousel_navigation.label",
      "default": "arrows",
      "options": [
        {
          "label": "t:sections.multicolumn.settings.carousel_navigation.arrows.label",
          "value": "arrows"
        },
        {
          "label": "t:sections.multicolumn.settings.carousel_navigation.dots.label",
          "value": "dots"
        },
        {
          "label": "t:sections.multicolumn.settings.carousel_navigation.both.label",
          "value": "both"
        },
        {
          "label": "t:sections.multicolumn.settings.carousel_navigation.none.label",
          "value": "none"
        }
      ]
    },
    {
      "type": "range",
      "id": "desktop_column_count",
      "label": "t:sections.multicolumn.settings.desktop_column_count.label",
      "default": 3,
      "min": 2,
      "max": 4,
      "step": 1
    },
    {
      "type": "range",
      "id": "column_gap",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 30,
      "label": "t:sections.multicolumn.settings.column_gap.label"
    },
    {
      "type": "checkbox",
      "id": "enable_shape_border",
      "label": "t:sections.multicolumn.blocks.column.settings.enable_shape_border.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header.mobile_layout"
    },
    {
      "type": "checkbox",
      "id": "mobile_swipe",
      "label": "t:sections.multicolumn.settings.mobile_swipe.label",
      "info": "t:sections.multicolumn.settings.mobile_swipe.info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing.section_spacing_heading"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:sections.all.spacing.top_space_desktop",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:sections.all.spacing.bottom_space_desktop",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:sections.all.spacing.top_space_mobile",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:sections.all.spacing.bottom_space_mobile",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "limit": 6,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "select",
          "id": "image_shape",
          "label": "t:sections.multicolumn.blocks.column.settings.image_shape.label",
          "default": "square",
          "options": [
            {
              "value": "auto",
              "label": "t:sections.all.image_ratio.auto_ratio.label"
            },
            {
              "value": "landscape",
              "label": "t:sections.all.image_ratio.landscape.label"
            },
            {
              "value": "square",
              "label": "t:sections.multicolumn.blocks.column.settings.image_shape.square.label"
            },
            {
                "value": "portrait",
                "label": "t:sections.all.image_ratio.portrait.label"
            },
            {
              "value": "circle",
              "label": "t:sections.multicolumn.blocks.column.settings.image_shape.circle.label"
            },
            {
              "value": "triangle",
              "label": "t:sections.multicolumn.blocks.column.settings.image_shape.triangle.label"
            }
          ]
        },
        {
          "type": "color",
          "id": "shape_border",
          "label": "t:sections.multicolumn.blocks.column.settings.shape_border.label",
          "default": "#000"
        },
        {
          "type": "header",
          "content": "t:sections.all.headers.content"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.all.headers.content",
          "default": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.all.heading_size.label",
          "default": "h6",
          "options": [
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.h3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.heading_size.h4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.heading_size.h5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.all.heading_size.h6.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "seo_heading",
          "label": "t:sections.all.seo_heading.label",
          "info":  "t:sections.all.seo_heading.info",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            },
            {
              "value": "div",
              "label": "div"
            },
            {
              "value": "span",
              "label": "span"
            },
            {
              "value": "p",
              "label": "p"
            }
          ]
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "t:settings_schema.global.settings.description.label",
          "default": "Add short description for this section."
        },
        {
          "type": "select",
          "id": "description_size",
          "label": "t:sections.all.description_size.label",
          "default": "text",
          "options": [
            {
              "label": "t:sections.all.description_size.text-xsmall.label",
              "value": "text-xs"
            },
            {
              "label": "t:sections.all.description_size.text-small.label",
              "value": "text-sm"
            },
            {
              "label": "t:sections.all.description_size.text.label",
              "value": "text"
            },
            {
              "label": "t:sections.all.description_size.text-medium.label",
              "value": "text-md"
            },
            {
              "label": "t:sections.all.description_size.text-large.label",
              "value": "text-lg"
            },
            {
              "label": "t:sections.all.description_size.text-xlarge.label",
              "value": "text-xl"
            }
          ]
        }
      ]
    },
    {
      "type": "shape",
      "name": "t:sections.all.shape.label",
      "settings": [
         {
            "type": "select",
            "id": "icon_visibility",
            "label": "t:sections.all.icon.icon_visibility.label",
            "default": "always",
            "options": [
              {
                "label": "t:sections.all.section_visibility.always.label",
                "value": "always"
              },
              {
                "label": "t:sections.all.section_visibility.small.label",
                "value": "small"
              },
              {
                "label": "t:sections.all.section_visibility.large.label",
                "value": "large"
              }
            ]
          },
        {
          "type": "select",
          "id": "shape",
          "label": "t:sections.all.icon.label",
          "default": "none",
          "options": [
            {
                "value": "none",
                "label": "t:sections.all.icon.none.label"
              },
              {
                "label": "t:sections.all.icon.star_top.label",
                "value": "star-top"
              },
              {
                "label": "t:sections.all.icon.sun.label",
                "value": "sun"
              },
              {
                "value": "asterisk",
                "label": "t:sections.all.icon.asterisk.label"
              },
              {
                "label": "t:sections.all.icon.flower.label",
                "value": "flower"
              },
              {
                  "label": "t:sections.all.icon.emoji-flower.label",
                  "value": "emoji-flower"
                },
              {
                "label": "t:sections.all.icon.astronaut_with_balloon.label",
                "value": "astronaut_with_balloon"
              },
              {
                "label": "t:sections.all.icon.cloud_gear.label",
                "value": "cloud_gear"
              },
              {
                "label": "t:sections.all.icon.bubble_star.label",
                "value": "bubble_star"
              },
              {
                "label": "t:sections.all.icon.rainbow.label",
                "value": "rainbow"
              },
              {
                "label": "t:sections.all.icon.snail.label",
                "value": "snail"
              },
              {
                "label": "t:sections.all.icon.unicorn.label",
                "value": "unicorn"
              },
              {
                "label": "t:sections.all.icon.crown.label",
                "value": "crown"
              }
          ]
        },
        {
          "type": "color",
          "id": "shape_color",
          "label": "t:settings_schema.global.settings.color.label",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "shape_desktop_horizontal",
          "label": "t:sections.all.icon.shape_desktop_horizontal.label",
          "default": 0,
          "min": 0,
          "max": 95,
          "step": 1,
          "unit": "%"
        },
        {
          "type": "range",
          "id": "shape_desktop_vertical",
          "label": "t:sections.all.icon.shape_desktop_vertical.label",
          "default": 0,
          "min": 0,
          "max": 95,
          "step": 1,
          "unit": "%"
        },
        {
          "type": "range",
          "id": "shape_mobile_horizontal",
          "label": "t:sections.all.icon.shape_mobile_horizontal.label",
          "default": 0,
          "min": 0,
          "max": 95,
          "step": 1,
          "unit": "%"
        },
        {
          "type": "range",
          "id": "shape_mobile_vertical",
          "label": "t:sections.all.icon.shape_mobile_vertical.label",
          "default": 0,
          "min": 0,
          "max": 95,
          "step": 1,
          "unit": "%"
        },
        {
          "type": "range",
          "id": "shape_width",
          "label": "t:sections.all.icon.shape_width.label",
          "default": 50,
          "min": 10,
          "max": 150,
          "step": 5,
          "unit": "px"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multicolumn.presets.name",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
