{{ 'newsletter-popup.css' | asset_url | stylesheet_tag }}

{% liquid
  assign size = 'small'
  if section.settings.image != blank
    if section.settings.image_position == 'top'
      assign size = 'small'
    elsif section.settings.image_position == 'left'
      assign size = 'large'
    elsif section.settings.image_position == 'right'
      assign size = 'large'
    endif
  endif

  assign imageRatio = 50
  if section.settings.image_position == 'left'
    assign imageRatio = 85
  elsif section.settings.image_position == 'right'
    assign imageRatio = 85
  endif
%}

<newsletter-popup
  class="popup newsletter-popup scheme-{{ section.settings.color_scheme }} position-{{ section.settings.popup_position }}"
  id="newsletterPopup"
  data-drawer="newsletter-drawer"
  data-section-id="{{ section.id }}"
  newsletter-drawer-section
  data-id="{{ section.id }}"
  tabindex="0"
  data-onclose-focus=""
>
<div class="close-drawer" data-close-drawer is="data-moving-cursor-area">
  <div class="data-moving-cursor" data-moving-cursor>
    <svg class="icon icon-cursor" stroke="currentColor" viewBox="0 0 40 40" fill="none">
      <path d="M10 30L30 10M10 10L30 30" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </div>
</div>
  <div class="popup-content popup-dialog modal-size-{{ size }}">
    <div
      class="popup-content-body{% if section.settings.image != blank %} image-position-{{ section.settings.image_position }}{% endif %} text-{{ section.settings.alignment }}"
      newsletter-popup-content
    >
      <input
        type="hidden"
        name="newsletterCookieValue"
        value="{% if section.settings.show_once_to_visitors %}30{% else %}{{ section.settings.newsletter_popup_cookie }}{% endif %}"
      >
      {% capture imageHtml %} 
            {% if section.settings.image != blank %}
                <div class="newsletter-popup-image">
                <div class="media media-overlay" style="--image-ratio:{{ imageRatio }}%">
                    {% comment %} {%- render 'lazy-image', image: section.settings.image -%} {% endcomment %}            
                    {% liquid
                    assign height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio | round
                    assign sizes = '100vw'
                    assign widths = '180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2160, 2376, 2592, 2808, 3024'
                    echo section.settings.image | image_url: width: 3840 | image_tag: height: height, sizes: sizes, widths: widths, fetchpriority: 'high'				
                    %}
                </div>
                </div>
            {%-  endif -%}
            {% endcapture %}

      {% if section.settings.image_position == 'left' or section.settings.image_position == 'top' %}
        {{ imageHtml }}
      {%- endif -%}

      <div class="newsletter-popup-text">
        {% if section.settings.heading != blank %}
          <{{ section.settings.seo_heading }} class="heading_news {{ section.settings.heading_font }} {{ section.settings.heading_size }}">
         
          {%- capture markersPrefix -%}
            <span class="markers-text {{ section.settings.markers_font }}">
          {%- endcapture -%} 
          {%- capture markersSuffix -%}
            </span>
          {%- endcapture -%}

            {{- section.settings.heading | replace: '++', '<br/>' | replace: "[", markersPrefix | replace: "]", markersSuffix -}}

          </{{ section.settings.seo_heading }}>
        {% endif %}
        {% if section.settings.description != blank %}
          <p class="newsletter-popup-desc {{ section.settings.description_size }}">
            {{ section.settings.description | newline_to_br }}
          </p>
        {% endif %}

        {%- form 'customer', class: 'newsletter-form pos-relative' -%}
          <input
            type="hidden"
            name="contact[tags]"
            value="newsletter"
          >
          <div class="newsletter-form">
            {% if form.posted_successfully? %}
              <script>
                localStorage.setItem('theme:popup-filled', 'true');
              </script>
            {% endif %}
            <div class="form-group">
              <label class="hidden" for="Email-{{ section.id }}">Quantity</label>
              <input
                id="Email-{{ section.id }}"
                type="email"
                name="contact[email]"
                class="form-control input-sm"
                value="{{ form.email }}"
                aria-required="true"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                {% if form.errors %}
                  autofocus
                  aria-invalid="true"
                  aria-describedby="Newsletter-error-{{ section.id }}"
                {% elsif form.posted_successfully? %}
                  aria-describedby="Newsletter-success-{{ section.id }}"
                {% endif %}
                placeholder="{% if section.settings.placeholder != blank %}{{ section.settings.placeholder }}{% else %}{{ 'newsletter.label' | t }}{% endif %}"
                pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)*[a-zA-Z]{2,}))$"
                required
              >
            </div>
            <button
              type="submit"
              name="commit"
              id="Subscribe-{{ section.id }}"
              class="button button-block buttonHover"
              aria-label="Newsletter"
            >
              <span>
                {{ section.settings.button_text | default: 'Subscribe' }}
              </span>
            </button>
          </div>
          {%- if form.errors -%}
            <div
              class="form-message error"
              id="Newsletter-error-{{ section.id }}"
              tabindex="-1"
            >
              {{- form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email -}}
            </div>
          {%- endif -%}

          {%- if form.posted_successfully? -%}
            <p
              class="form-message success"
              id="Newsletter-success-{{ section.id }}"
              tabindex="-1"
            >
              {{- 'newsletter.success' | t -}}
            </p>
          {%- endif -%}
        {% endform %}
      </div>
      {% if section.settings.image_position == 'right' %}
        {{ imageHtml }}
      {%- endif -%}
    </div>
    <close-drawer class="drawer-close-main pos-absolute right-0 top-0 p-10" data-drawer-close>
      <button class="close-button" aria-label="Close drawer" aria-hidden="true">
        {% render 'svg-icons'
        , icon: 'close' %}
        {% render 'svg-icons'
          , icon: 'close-bg' %}
      </button>
    </close-drawer>
  </div>
</newsletter-popup>

<script type="text/javascript">
  let login_customer_id = '';
</script>
{% if customer %}
  <script type="text/javascript">
    login_customer_id = '{{ customer.id }}';
  </script>
{% endif %}
{% schema %}
{
  "name": "t:sections.newsletter-popup.name",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "class": "newsletter-popup",
  "settings": [
    {
      "type": "select",
      "id": "newsletter_display_mode",
      "label": "t:sections.newsletter-popup.settings.newsletter_display_mode.label",
      "default": "enable",
      "info": "t:sections.newsletter-popup.settings.newsletter_display_mode.info",
      "options": [
        {
          "label": "t:sections.newsletter-popup.settings.newsletter_display_mode.enable.label",
          "value": "enable"
        },
        {
          "label": "t:sections.newsletter-popup.settings.newsletter_display_mode.test_mode.label",
          "value": "test_mode"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "primary",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "select",
      "id": "popup_position",
      "label": "t:sections.newsletter-popup.settings.popup_position.label",
      "default": "center",
      "options": [
        {
          "label": "t:sections.newsletter-popup.settings.popup_position.position.left",
          "value": "center-left",
          "group": "t:sections.newsletter-popup.settings.popup_position.group.middle"
        },
        {
          "label": "t:sections.newsletter-popup.settings.popup_position.position.center",
          "value": "center",
          "group": "t:sections.newsletter-popup.settings.popup_position.group.middle"
        },
        {
          "label": "t:sections.newsletter-popup.settings.popup_position.position.right",
          "value": "center-right",
          "group": "t:sections.newsletter-popup.settings.popup_position.group.middle"
        },
        {
          "label": "t:sections.newsletter-popup.settings.popup_position.position.left",
          "value": "bottom-left",
          "group": "t:sections.newsletter-popup.settings.popup_position.group.bottom"
        },
        {
          "label": "t:sections.newsletter-popup.settings.popup_position.position.center",
          "value": "bottom-center",
          "group": "t:sections.newsletter-popup.settings.popup_position.group.bottom"
        },
        {
          "label": "t:sections.newsletter-popup.settings.popup_position.position.right",
          "value": "bottom-right",
          "group": "t:sections.newsletter-popup.settings.popup_position.group.bottom"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.all.headers.image"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "t:sections.newsletter-popup.settings.popup_position.label",
      "default": "left",
      "options": [
        {
          "label": "t:sections.newsletter-popup.settings.image_position.left",
          "value": "left"
        },
        {
          "label": "t:sections.newsletter-popup.settings.image_position.top",
          "value": "top"
        },
        {
          "label": "t:sections.newsletter-popup.settings.image_position.right",
          "value": "right"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.all.headers.content",
      "default": "Newsletter",
      "info": "t:settings_schema.global.settings.heading.info"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.all.heading_size.label",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.h1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.h2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.h3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.h4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.h5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_size.h6.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "seo_heading",
      "label": "t:sections.all.seo_heading.label",
      "info": "t:sections.all.seo_heading.info",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "div",
          "label": "div"
        },
        {
          "value": "span",
          "label": "span"
        },
        {
          "value": "p",
          "label": "p"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_font",
      "default": "heading-font",
      "label":  "t:sections.all.heading_font.label",
      "options": [
        {
          "value": "heading-font",
          "label": "t:sections.all.heading_font.heading-font.label"
        },
        {
          "value": "body-font",
          "label": "t:sections.all.heading_font.body-font.label"
        },
        {
          "value": "accent-font",
          "label": "t:sections.all.heading_font.accent-font.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "markers_font",
      "default": "accent-font",
      "label": "t:sections.all.markers_font.label",
      "options": [
        {
          "value": "heading-font",
          "label": "t:sections.all.markers_font.heading-font.label"
        },
        {
          "value": "body-font",
          "label": "t:sections.all.markers_font.body-font.label"
        },
        {
          "value": "accent-font",
          "label": "t:sections.all.markers_font.accent-font.label"
        }
      ]
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "t:settings_schema.global.settings.description.label",
      "default": "Add newsletter description here"
    },
    {
      "type": "select",
      "id": "description_size",
      "label": "t:sections.all.description_size.label",
      "default": "text",
      "options": [
        {
          "label": "t:sections.all.description_size.text-xsmall.label",
          "value": "text-xs"
        },
        {
          "label": "t:sections.all.description_size.text-small.label",
          "value": "text-sm"
        },
        {
          "label": "t:sections.all.description_size.text.label",
          "value": "text"
        },
        {
          "label": "t:sections.all.description_size.text-medium.label",
          "value": "text-md"
        },
        {
          "label": "t:sections.all.description_size.text-large.label",
          "value": "text-lg"
        },
        {
          "label": "t:sections.all.description_size.text-xlarge.label",
          "value": "text-xl"
        }
      ]
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "t:sections.all.content_alignment.label",
      "default": "center"
    },
    {
      "type": "text",
      "id": "placeholder",
      "label": "t:sections.newsletter-popup.settings.placeholder.label"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:sections.newsletter-popup.settings.button_text.label",
      "default": "Subscribe"
    },
    {
      "type": "range",
      "id": "newsletter_popup_delay",
      "min": 1,
      "step": 1,
      "max": 20,
      "unit": "sec",
      "label": "t:sections.newsletter-popup.settings.newsletter_popup_delay.label",
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "show_on_home_page",
      "label": "t:sections.newsletter-popup.settings.show_on_home_page.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "disable_for_account_holders",
      "label": "t:sections.newsletter-popup.settings.disable_for_account_holders.label"
    },
    {
      "type": "checkbox",
      "id": "show_once_to_visitors",
      "label": "t:sections.newsletter-popup.settings.show_once_to_visitors.label"
    },
    {
      "type": "range",
      "id": "newsletter_popup_cookie",
      "min": 1,
      "max": 30,
      "step": 1,
      "label": "t:sections.newsletter-popup.settings.newsletter_popup_cookie.label",
      "default": 10 
    }
  ]
}
{% endschema %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
  var get_cookie_value = Cookies.get('is_newsletter_popup_closed');
  if (!Shopify.designMode && '{{ section.settings.newsletter_display_mode }}' == 'enable') {
    let show_newsletter_popup = true;
    if({{ section.settings.show_on_home_page }} && ('{{ template.name }}') != 'index' ){
      show_newsletter_popup = false;
    }
    if({{ section.settings.disable_for_account_holders }} && login_customer_id != '' ){
      show_newsletter_popup = false;
    }
    if(show_newsletter_popup){
      if (get_cookie_value != 'newsletter_popup_closed' && window.location.pathname.indexOf('/challenge') < 0) {
        setTimeout(function () {
          localStorage.setItem('theme:popup-filled', 'false');

          const newsletterPopupModal = document.querySelector('newsletter-popup');
          if (newsletterPopupModal) {
              newsletterPopupModal.classList.add('open');
              newsletterPopupModal.querySelector('close-drawer button').setAttribute('tabindex', '0');
              document.body.classList.add('overflow-hidden');
              if(document.querySelector('age-verification-drawer') && document.querySelector('age-verification-drawer').classList.contains('open')){
              }else{
                newsletterPopupModal.querySelector('close-drawer button').focus();
                trapFocus(newsletterPopupModal); 
              }
          }
        }, '{{ section.settings.newsletter_popup_delay }}000');
      }
    }
  }
  if(localStorage.getItem("theme:popup-filled") === "true"){
    if (get_cookie_value != 'newsletter_popup_closed'){
      let newsletterCookiesTime = document.getElementsByName('newsletterCookieValue');
      setCookieValue('newsletter_popup_closed', newsletterCookiesTime);
      const newsletterPopupModal = document.querySelector('newsletter-popup');
      if (newsletterPopupModal) {
          newsletterPopupModal.querySelector('close-drawer button').setAttribute('tabindex', '-1');
          newsletterPopupModal.classList.remove('open');
          document.body.classList.remove('overflow-hidden');
      }
    }
  }

  function setCookieValue(cookieValue, expireTime) {
    let date = new Date();
    date.setTime(date.getTime() + parseInt(expireTime) * 24 * 60 * 60 * 1000);
    Cookies.set(`is_${cookieValue}`, cookieValue, { expires: date, path: '/' });
  }
});
</script>
