{%- capture corner_style -%}
{% if section.settings.corner_style == 'top' %}
    round-section round-top
    {% elsif section.settings.corner_style == 'bottom' %}
    round-section round-bottom
    {% elsif section.settings.corner_style == 'both' %}
    round-section round-bottom round-top
{% endif %}
{%- endcapture -%}
{% liquid
  if section.settings.section_container_width == 'global'
    assign containerClass = settings.container_width
  else
    assign containerClass = section.settings.section_container_width
  endif
%}
<div class="section-wrapper scheme-{{ section.settings.color_scheme }} section-spacing {{ corner_style }} section-{{ section.settings.section_background }}">
  <div class="{{ containerClass }}">
    <product-recommendations
      class="d-block related-products--main"
      data-url="{{ routes.product_recommendations_url }}?limit={{ section.settings.products_to_show }}&product_id={{ product.id }}&section_id={{ section.id }}"
      data-section-id="{{ section.id }}"
      data-product-id="{{ product.id }}"
    >
      {% if recommendations.performed and recommendations.products_count > 0 %}
        <div class="section-header d-grid align-items-end">
          <div class="section-header-content-wrapper text-{{ section.settings.alignment }}">
            {% if section.settings.heading != blank %}
              <{{ section.settings.seo_heading }} class="section-heading {{ section.settings.heading_font }} {{ section.settings.heading_size }}">
              {%- capture markersPrefix -%}
                <span class="markers-text {{ section.settings.markers_font }}">
              {%- endcapture -%} 
              {%- capture markersSuffix -%}
                </span>
              {%- endcapture -%}
        
                {{- section.settings.heading | replace: '++', '<br/>' | replace: "[", markersPrefix | replace: "]", markersSuffix -}}
              </{{ section.settings.seo_heading }}>
            {% endif %}
          </div>
          <div class="section-header-right-content d-md-grid align-items-center d-none d-md-flex">
            <div class="section-header-slideshow-nav-wrapper gap-10 d-grid align-items-center">
              <div class="slideshow-nav-btn section-header-slideshow-prev cursor-pointer swiper-button-prev-{{ section.id }} arrow-style-{{ settings.arrow_style }}">
                {% if settings.arrow_style == 'star' %}
                  {% render 'svg-icons', icon: 'star-arrow-prev' %}
                {% else %}
                  {% render 'svg-icons', icon: 'arrow-icon-prev' %}
                {% endif %}
              </div>
              <div class="slideshow-nav-btn section-header-slideshow-next cursor-pointer swiper-button-next-{{ section.id }} arrow-style-{{ settings.arrow_style }}">
                {% if settings.arrow_style == 'star' %}
                  {% render 'svg-icons', icon: 'star-arrow-next' %}
                {% else %}
                  {% render 'svg-icons', icon: 'arrow-icon-next' %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        <swiper-slideshow>
          <div
            class="swiper"
            data-swiper='
              {
                "loop": false,
                "speed": 600,
                "slidesPerView": 1.4,
                "freeMode": true,
                "centeredSlides": false,
                "spaceBetween": 15,
                "grabCursor": false,
                "navigation": {
                  "enabled": true,
                  "nextEl": ".swiper-button-next-{{ section.id }}",
                  "prevEl": ".swiper-button-prev-{{ section.id }}"
                },
                 "breakpoints": {
                    "768": {
                        "slidesPerView": 2.5,
                        "speed": 850,
                        "mousewheel": false,
                        "grabCursor": true,
                        "scrollbar": false
                    },
                    "992": {
                          "slidesPerView": 3.5,
                           "spaceBetween": 28
                      },
                      "1025": {
                          "slidesPerView": {{ section.settings.desktop_to_show }},
                           "spaceBetween": 28
                    }
              }
              }
            '
          >
            <div class="related-products-wrapper swiper-wrapper">
              {% for recommendation in recommendations.products %}
                <div class="swiper-slide">
                  {% render 'product-card',
                    cardproduct: recommendation,
                    section: section,
                    cardImageSize: section.settings.image_ratio
                  %}
                </div>
              {% endfor %}
            </div>
            <div class="slideshow-pagination swiper-pagination-{{ section.id }}"></div>
          </div>
        </swiper-slideshow>
      {% endif %}
    </product-recommendations>
  </div>
</div>
<style>
    #shopify-section-{{ section.id }} {
      --top-spacing: {{ section.settings.top_space_desktop }}px;
      --bottom-spacing: {{ section.settings.bottom_space_desktop }}px;
      --round-section-radius: {{ section.settings.corner_radius }}px;
    }

    #shopify-section-{{ section.id }} .product-card-media-inner {
      padding-bottom: 120% !important;
    }

    #shopify-section-{{ section.id }} .product-card-media-inner img {
      object-fit: contain;
      object-position: center;
    }

    @media only screen and (max-width: 767px) {
      #shopify-section-{{ section.id }} {
        --top-spacing: {{ section.settings.top_space_mobile }}px;
        --bottom-spacing: {{ section.settings.bottom_space_mobile }}px;
      }
    }
    {% if section.settings.section_visibility == 'large' %}
      @media(max-width: 767px) {
        #shopify-section-{{ section.id }} {
          display: none !important;
        }
      }
    {% elsif section.settings.section_visibility == 'small' %}
    @media(min-width: 768px) {
      #shopify-section-{{ section.id }} {
        display: none !important;
      }
    }
  {% endif %}
</style>
{% schema %}
{
  "name": "t:sections.related-products.name",
  "tag": "section",
  "class": "related-products-section",
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_visibility",
      "label": "t:sections.all.section_visibility.label",
      "default": "always",
      "options": [
        {
          "label": "t:sections.all.section_visibility.always.label",
          "value": "always"
        },
        {
          "label": "t:sections.all.section_visibility.small.label",
          "value": "small"
        },
        {
          "label": "t:sections.all.section_visibility.large.label",
          "value": "large"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "primary"
    },
    {
      "type": "select",
      "id": "section_background",
      "label":  "t:sections.all.section_background.label",
      "default": "solid",
      "options": [
        {
          "label": "t:sections.all.section_background.solid.label",
          "value": "solid"
        },
        {
          "label": "t:sections.all.section_background.gradient.label",
          "value": "gradient"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_container_width",
      "label": "t:sections.all.section_container_width.label",
      "default": "global",
      "options": [
        {
          "label": "t:sections.all.section_container_width.global.label",
          "value": "global"
        },
        {
          "label": "t:sections.all.section_container_width.container-sm.label",
          "value": "container-sm"
        },
        {
              "label": "t:sections.all.section_container_width.container.label",
              "value": "container-md"
            },
            {
              "label": "t:sections.all.section_container_width.container-md.label",
              "value": "container"
            },
        {
          "label": "t:sections.all.section_container_width.container-fullwidth.label",
          "value": "container-fullwidth"
        }
      ]
    },
    {
      "type": "select",
      "id": "corner_style",
      "default": "none",
      "label": "t:sections.all.section_corner_style.label",
      "options": [
        {
          "value": "top",
          "label": "t:sections.all.section_corner_style.top.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.all.section_corner_style.bottom.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.section_corner_style.both.label"
        },
        {
          "value": "none",
          "label": "t:sections.all.section_corner_style.none.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "corner_radius",
      "label": "t:settings_schema.global.settings.corner_radius.label",
      "default": 70,
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.card"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:sections.all.image_ratio.label",
      "default": "square",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.all.image_ratio.auto_ratio.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.image_ratio.landscape.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.image_ratio.square.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.image_ratio.portrait.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 3,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "t:sections.related-products.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "desktop_to_show",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.related-products.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:settings_schema.global.settings.heading.label",
      "default": "Related products",
      "info": "t:settings_schema.global.settings.heading.info"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.all.heading_size.label",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.h1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.h2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.h3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.h4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.h5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_size.h6.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "seo_heading",
      "label": "t:sections.all.seo_heading.label",
      "info": "t:sections.all.seo_heading.info",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "div",
          "label": "div"
        },
        {
          "value": "span",
          "label": "span"
        },
        {
          "value": "p",
          "label": "p"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_font",
      "default": "heading-font",
      "label": "t:sections.all.heading_font.label",
      "options": [
        {
          "value": "heading-font",
          "label": "t:sections.all.heading_font.heading-font.label"
        },
        {
          "value": "body-font",
          "label": "t:sections.all.heading_font.body-font.label"
        },
        {
          "value": "accent-font",
          "label": "t:sections.all.heading_font.accent-font.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "markers_font",
      "default": "accent-font",
      "label": "t:sections.all.markers_font.label",
      "options": [
        {
          "value": "heading-font",
          "label": "t:sections.all.markers_font.heading-font.label"
        },
        {
          "value": "body-font",
          "label": "t:sections.all.markers_font.body-font.label"
        },
        {
          "value": "accent-font",
          "label": "t:sections.all.markers_font.accent-font.label"
        }
      ]
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "t:sections.all.headers.alignment",
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing.section_spacing_heading"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:sections.all.spacing.top_space_desktop",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:sections.all.spacing.bottom_space_desktop",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:sections.all.spacing.top_space_mobile",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:sections.all.spacing.bottom_space_mobile",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ]
}
{% endschema %}
