{% if section.index <= 2 %}
  {{ 'video.css' | asset_url | preload_tag: as: 'style' }}
{% endif %}
{{ 'video.css' | asset_url | stylesheet_tag }}

{% liquid
  if section.settings.section_container_width == 'global'
    assign containerClass = settings.container_width
  else
    assign containerClass = section.settings.section_container_width
  endif

  if section.settings.video_height == 'adapt_image'
   assign mediaDesktopClass = "d-media-adapt"
  else
   assign mediaDesktopClass = "d-media-fixed"
  endif

  if section.settings.mobile_video_height == 'adapt_image'
   assign mediaMobileClass = "m-media-adapt"
   else
  assign mediaMobileClass = "m-media-fixed"
  endif


%}
{%- capture corner_style -%}
  {% if section.settings.corner_style == 'top' %}
      round-section round-top
      {% elsif section.settings.corner_style == 'bottom' %}
      round-section round-bottom
      {% elsif section.settings.corner_style == 'both' %}
      round-section round-bottom round-top
  {% endif %}
{%- endcapture -%}
<div class="section-wrapper scheme-{{ section.settings.color_scheme }} section-spacing {{ corner_style }} section-{{ section.settings.section_background }} pos-relative {% if section.settings.shape != 'none' %} section-shape-{{ section.settings.shape_position }} shape-{{ section.settings.shape }}{% endif %}" data-video-banner>
  <div class="{{ containerClass }}">
    <deferred-media-video class="media media-overlay overlay-style-{{ section.settings.overlay_style }} video-container autoplay-{{ section.settings.autoplay }} autoplay-content-visibility-{{ section.settings.autoplay_content_visibility }} video-{% if section.settings.video == blank and section.settings.video_url == blank %}false{% else %}true{% endif %}" data-video-main-wrapper
    data-autoplay-content-visibility="{{ section.settings.autoplay_content_visibility }}">
      <div class="video-wrapper" data-video-wrapper>
        {% if section.settings.autoplay == false %}
          <div class="video-thumbnail">
            <div class="media {{ mediaDesktopClass }} {{ mediaMobileClass }}">
              {%- liquid
                assign video_poster_image = section.settings.video.preview_image
                assign cover_image = section.settings.cover_image
                if cover_image != null
                  assign video_poster_image = cover_image
                endif
              -%}

              {% if video_poster_image != null %}
                {% render 'lazy-images'
                  , image: video_poster_image %}
              {% else %}
                {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
              {% endif %}
            </div>
          </div>
        {% endif %}
        {% if section.settings.video != blank %}
          <video
            class="videoBackgroundFile{% if section.settings.autoplay == false %} hidden{% endif %}"
            {% if section.settings.autoplay %}
            autoplay
            muted
            loop
            playsinline
            {% else %}
            controls
            {% endif %}
            data-autoplay="{{ section.settings.autoplay }}"
            data-video-image-wrapper>
            <source src="{% if section.settings.video.sources[0].url contains 'mp4' %}{{ section.settings.video.sources[0].url -}}{% else %}{{ section.settings.video.sources[1].url -}}{% endif %}" type="video/mp4">
          </video>
        {% elsif section.settings.video_url != blank %}
          {%- if section.settings.video_url.type == 'youtube' -%}
            <iframe
              src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?autoplay={% if section.settings.autoplay %}1{% else %}0{% endif %}&mute={% if section.settings.autoplay %}1{% else %}0{% endif %}&loop=1&controls={% if section.settings.autoplay %}0{% else %}1{% endif %}&rel=0&showinfo=0&enablejsapi=1&playlist={{ section.settings.video_url.id }}"
              class="youtube_video{% if section.settings.autoplay == false %} hidden{% endif %}"
              {% if section.settings.autoplay %}
              allow="autoplay; encrypted-media"
              {% endif %}
              frameborder="0"
              allowfullscreen
              data-autoplay="{{section.settings.autoplay}}"
              title="{{ section.settings.heading | escape }}"></iframe>
          {%- elsif section.settings.video_url.type == 'vimeo' -%}
            <iframe
              src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?{% if section.settings.autoplay %}autoplay=1&loop=1&autopause=0&muted=1{% else %}&autoplay=0{% endif %}{% if section.settings.autoplay ==false%}&background=0{% endif %}"
              class="vimeo_video{% if section.settings.autoplay == false %} hidden{% endif %}"
              {% if section.settings.autoplay %}
              allow="autoplay; fullscreen encrypted-media"
              {% endif %}
              data-autoplay="{{ section.settings.autoplay }}"
              allowfullscreen
              title="{{ section.settings.heading | escape }}"></iframe>
          {%- elsif section.settings.video_url.type == 'mp4' -%}
            <video
              class="videoBackgroundFile{% if section.settings.autoplay == false %} hidden{% endif %}"
              {% if section.settings.autoplay %}
              autoplay
              muted
              loop
              playsinline
              {% else %}
              controls
              {% endif %}
              data-autoplay="{{ section.settings.autoplay }}"
              data-video-image-wrapper>
              <source src="{{ section.settings.videourl }}" type="video/mp4">
            </video>
          {%- endif -%}
        {% endif %}
      </div>
      <div class="video-content-wrapper {{ section.settings.content_position }}-position{% if section.settings.autoplay == true and section.settings.autoplay_content_visibility == 'none' %} hidden{% endif %}" data-video-content-wraper>
        {% if section.settings.heading != blank %}
          <{{ section.settings.seo_heading }} class="{{ section.settings.heading_font }} {{ section.settings.heading_size}} video-content-heading{% if settings.enable_heading_animation %} animate-element-parent{% endif %}">
            {% if settings.enable_heading_animation %}
              <animate-element data-animate="fade-up-large" data-animate-delay="50">
            {% endif %}
            
              {%- capture markersPrefix -%}
                <span class="markers-text {{ section.settings.markers_font }}">
              {%- endcapture -%} 
              {%- capture markersSuffix -%}
                </span>
              {%- endcapture -%}

            {{- section.settings.heading | replace: '++', '<br/>' | replace: "[", markersPrefix | replace: "]", markersSuffix  -}}

            {% if settings.enable_heading_animation %}
              </animate-element>
            {% endif %}

            </{{ section.settings.seo_heading }}>
          {% endif %}
          {% if section.settings.description != blank %}
            <p class="video-content-description {{ section.settings.description_size }}">
            {{ section.settings.description | newline_to_br }}
            </p>
          {% endif %}

          {% if section.settings.autoplay == false %}
            {% if section.settings.video != blank or section.settings.video_url != blank %}
              <video-move-effect>
                <div class="video-content-button" data-video-content>
                  <div class="video-play-button video-play-animated-icon" data-video-play-button tabindex="0">
                    {% render 'svg-icons'
                      , icon: 'video-icon' %}
                  </div>
                </div>
              </video-move-effect>
            {% endif %}
          {% endif %}
        </div>
      </deferred-media-video>
      {% if section.settings.shape != 'none' %}
        <div class="section-shape-wrapper shape-position-{{ section.settings.shape_position }} shape-flip-{{ section.settings.flip_shape }}">
          {% render 'shapes'
            , shape: section.settings.shape %}
        </div>
      {% endif %}
    </div>
  </div>
  <style>
    {% assign content_alignment = section.settings.content_alignment | split: '_' %}
    #shopify-section-{{ section.id }} {
      --top-spacing: {{ section.settings.top_space_desktop }}px;
      --bottom-spacing: {{ section.settings.bottom_space_desktop }}px;
      --content-position: {{ section.settings.content_position }};
      --content-alignment1: {{ content_alignment[0] }};
      --content-alignment2: {{ content_alignment[1] }};
      --round-section-radius: {{ section.settings.corner_radius }}px;
      --video-section-radius: {{ section.settings.video_corner_radius }}px;
    }
    #shopify-section-{{ section.id }}
    .video-container.autoplay-true.video-true .video-thumbnail {
      display: none;
    }
    {% if section.settings.video_height == 'adapt_image' %}
      #shopify-section-{{ section.id }}{
        --image-ratio: 56.25%;
        --media-height: 100%;
      }
    {% else %}
    #shopify-section-{{ section.id }} {
      --media-height: {{ section.settings.video_height }};
    }
  {% endif %}

  @media only screen and (max-width: 767px) {
    #shopify-section-{{ section.id }} {
      --top-spacing: {{ section.settings.top_space_mobile }}px;
      --bottom-spacing: {{ section.settings.bottom_space_mobile }}px;
    }
    {% if section.settings.mobile_video_height == 'adapt_image' %}
      #shopify-section-{{ section.id }}{
        --image-ratio: 56.25%;
        --media-height: 100%;
      }
    {% else %}
    #shopify-section-{{ section.id }} {
      --media-height: {{ section.settings.mobile_video_height }}
    }
  {% endif %}
}
{% if section.settings.section_visibility == 'large' %}
  @media(max-width: 767px) {
    #shopify-section-{{ section.id }} {
      display: none !important;
    }
  }
{% elsif section.settings.section_visibility == 'small' %}
@media(min-width: 768px) {
  #shopify-section-{{ section.id }} {
    display: none !important;
  }
}
{% endif %}
  </style>

  {% schema %}
    {
      "name": "t:sections.video.name",
      "tag": "section",
      "class": "video-section",
      "disabled_on": {
        "groups": ["header", "footer", "custom.Overlay"]
      },
      "settings": [
        {
          "type": "select",
          "id": "section_visibility",
          "label": "t:sections.all.section_visibility.label",
          "default": "always",
          "options": [
            {
              "label": "t:sections.all.section_visibility.always.label",
              "value": "always"
            },
            {
              "label": "t:sections.all.section_visibility.small.label",
              "value": "small"
            },
            {
              "label": "t:sections.all.section_visibility.large.label",
              "value": "large"
            }
          ]
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "primary"
        },
        {
          "type": "select",
          "id": "section_background",
          "label": "t:sections.all.section_background.label",
          "default": "solid",
          "options": [
            {
              "label": "t:sections.all.section_background.solid.label",
              "value": "solid"
            },
            {
              "label": "t:sections.all.section_background.gradient.label",
              "value": "gradient"
            }
          ]
        },
        {
          "type": "select",
          "id": "section_container_width",
          "label": "t:sections.all.section_container_width.label",
          "default": "container-fullwidth",
          "options": [
            {
              "label": "t:sections.all.section_container_width.global.label",
              "value": "global"
            },
            {
              "label": "t:sections.all.section_container_width.container-sm.label",
              "value": "container-sm"
            },
            {
              "label": "t:sections.all.section_container_width.container.label",
              "value": "container-md"
            },
            {
              "label": "t:sections.all.section_container_width.container-md.label",
              "value": "container"
            },
            {
              "label": "t:sections.all.section_container_width.container-fullwidth.label",
              "value": "container-fullwidth"
            },
            {
              "label": "t:sections.all.section_container_width.no-container.label",
              "value": "no-container"
            }
          ]
        },
        {
          "type": "select",
          "id": "corner_style",
          "default": "none",
          "label": "t:sections.all.section_corner_style.label",
          "options": [
            {
              "value": "top",
              "label": "t:sections.all.section_corner_style.top.label"
            },
            {
              "value": "bottom",
              "label": "t:sections.all.section_corner_style.bottom.label"
            },
            {
              "value": "both",
              "label": "t:sections.all.section_corner_style.both.label"
            },
            {
              "value": "none",
              "label": "t:sections.all.section_corner_style.none.label"
            }
          ]
        },
        {
          "type": "range",
          "id": "corner_radius",
          "label": "t:settings_schema.global.settings.corner_radius.label",
          "default": 40,
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "video_corner_radius",
          "label": "t:sections.video.settings.video_corner_radius.label",
          "default": 30,
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "t:sections.video.settings.header.general"
        },
        {
          "type": "checkbox",
          "id": "autoplay",
          "label": "t:sections.video.settings.autoplay.label",
          "info": "t:sections.video.settings.autoplay.info",
          "default": false
        },
        {
          "type": "select",
          "id": "autoplay_content_visibility",
          "label": "t:sections.video.settings.autoplay_content_visibility.label",
          "default": "always",
          "options": [
            {
              "label": "t:sections.video.settings.autoplay_content_visibility.always.label",
              "value": "always"
            },
            {
              "label": "t:sections.video.settings.autoplay_content_visibility.none.label",
              "value": "none"
            }
          ]
        },
        {
          "type": "select",
          "id": "video_height",
          "label": "t:sections.video.settings.video_height.label",
          "default": "750px",
          "options": [
            {
              "value": "550px",
              "label": "550px"
            },
            {
              "value": "665px",
              "label": "665px"
            },
            {
              "value": "750px",
              "label": "750px"
            },
            {
              "value": "850px",
              "label": "850px"
            },
            {
              "value": "100vh",
              "label": "t:sections.video.settings.video_height.fullscreen.label"
            },
            {
              "value": "adapt_image",
              "label": "t:sections.video.settings.video_height.adapt_image.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "mobile_video_height",
          "label": "t:sections.video.settings.mobile_video_height.label",
          "default": "300px",
          "options": [
            {
              "value": "300px",
              "label": "300px"
            },  
            {
              "value": "450px",
              "label": "450px"
            },
            {
              "value": "550px",
              "label": "550px"
            },
            {
              "value": "650px",
              "label": "650px"
            },
            {
              "value": "100vh",
              "label": "t:sections.video.settings.mobile_video_height.fullscreen.label"
            },
            {
              "value": "adapt_image",
              "label": "t:sections.video.settings.mobile_video_height.adapt_image.label"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.video.settings.header.video"
        },
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "t:sections.video.settings.cover_image.label",
          "info": "t:sections.video.settings.cover_image.info"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "label": "t:sections.video.settings.video_url.label",
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "accept": ["youtube", "vimeo"]
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.video.settings.video.label"
        },
        {
          "type": "select",
          "id": "overlay_style",
          "label": "t:sections.all.overlay_style.label",
          "default": "solid",
          "options": [
            {
          "value": "solid",
          "label": "t:sections.all.overlay_style.solid.label"
        },
        {
          "value": "gradient",
          "label": "t:sections.all.overlay_style.gradient.label"
        }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.all.headers.content"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:settings_schema.global.settings.heading.label",
          "info": "t:settings_schema.global.settings.heading.info"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.all.heading_size.label",
          "default": "h3",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.h1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.h2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.h3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.heading_size.h4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.heading_size.h5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.all.heading_size.h6.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "seo_heading",
          "label": "t:sections.all.seo_heading.label",
          "info": "t:sections.all.seo_heading.info",
          "default": "h3",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            },
            {
              "value": "div",
              "label": "div"
            },
            {
              "value": "span",
              "label": "span"
            },
            {
              "value": "p",
              "label": "p"
            }
          ]
        },
        {
          "type": "select",
          "id": "heading_font",
          "default": "heading-font",
          "label":  "t:sections.all.heading_font.label",
          "options": [
            { 
              "value": "heading-font",
              "label": "t:sections.all.heading_font.heading-font.label"
            },
            {
              "value": "body-font",
              "label": "t:sections.all.heading_font.body-font.label"
            },
            {
              "value": "accent-font",
              "label": "t:sections.all.heading_font.accent-font.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "markers_font",
          "default": "accent-font",
          "label": "t:sections.all.markers_font.label",
          "options": [
            {
              "value": "heading-font",
              "label": "t:sections.all.markers_font.heading-font.label"
            },
            {
              "value": "body-font",
              "label": "t:sections.all.markers_font.body-font.label"
            },
            {
              "value": "accent-font",
              "label": "t:sections.all.markers_font.accent-font.label"
            }
          ]
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "t:settings_schema.global.settings.description.label"
        },
        {
          "type": "select",
          "id": "description_size",
          "label": "t:sections.all.description_size.label",
          "default": "text",
          "options": [
            {
              "label": "t:sections.all.description_size.text-xsmall.label",
              "value": "text-xs"
            },
            {
              "label": "t:sections.all.description_size.text-small.label",
              "value": "text-sm"
            },
            {
              "label": "t:sections.all.description_size.text.label",
              "value": "text"
            },
            {
              "label": "t:sections.all.description_size.text-medium.label",
              "value": "text-md"
            },
            {
              "label": "t:sections.all.description_size.text-large.label",
              "value": "text-lg"
            },
            {
              "label": "t:sections.all.description_size.text-xlarge.label",
              "value": "text-xl"
            }
          ]
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "t:sections.video.settings.content_position.label",
          "default": "flex-end",
          "options": [
            {
              "value": "flex-start",
              "label": "t:sections.video.settings.content_position.flex-start.label"
            },
            {
              "value": "center",
              "label": "t:sections.video.settings.content_position.center.label"
            },
            {
              "value": "flex-end",
              "label": "t:sections.video.settings.content_position.flex-end.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "t:sections.all.content_alignment.label",
          "default": "center_center",
          "options": [
            {
              "value": "flex-start_left",
              "label": "t:sections.all.content_alignment.options.left.label"
            },
            {
              "value": "center_center",
              "label": "t:sections.all.content_alignment.options.center.label"
            },
            {
              "value": "flex-end_right",
              "label": "t:sections.all.content_alignment.options.right.label"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.all.headers.background_shape"
        },
        {
          "type": "select",
          "id": "shape",
          "default": "none",
          "label": "t:sections.all.shape.label",
          "options": [
            {
            "value": "none",
            "label": "t:sections.all.shape.none.label"
          },
          {
            "value": "curve",
            "label": "t:sections.all.shape.curve.label"
          },
          {
            "value": "deep_curve",
            "label": "t:sections.all.shape.deep_curve.label"
          },
          {
            "value": "cloud",
            "label": "t:sections.all.shape.cloud.label"
          },
          {
            "value": "wavelong",
            "label": "t:sections.all.shape.wave_long.label"
          },
          {
            "value": "wave",
            "label": "t:sections.all.shape.wave.label"
          },
          {
            "value": "mountain",
            "label": "t:sections.all.shape.mountain.label"
          },
          {
            "value": "brush-effect",
            "label": "t:sections.all.shape.brush-effect.label"
          }
          ]
        },
        {
          "type": "checkbox",
          "id": "flip_shape",
          "label": "t:sections.all.shape_position.flip_shape.label",
          "default": false
        },
        {
          "type": "select",
          "id": "shape_position",
          "default": "top",
          "label": "t:sections.all.shape_position.label",
          "options": [
            {
              "value": "top",
              "label": "t:sections.all.shape_position.top.label"
            },
            {
              "value": "bottom",
              "label": "t:sections.all.shape_position.bottom.label"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.all.spacing.section_spacing_heading"
        },
        {
          "type": "range",
          "id": "top_space_desktop",
          "label": "t:sections.all.spacing.top_space_desktop",
          "default": 30,
          "min": 0,
          "max": 150,
          "step": 5
        },
        {
          "type": "range",
          "id": "bottom_space_desktop",
          "label": "t:sections.all.spacing.bottom_space_desktop",
          "default": 30,
          "min": 0,
          "max": 150,
          "step": 5
        },
        {
          "type": "range",
          "id": "top_space_mobile",
          "label": "t:sections.all.spacing.top_space_mobile",
          "default": 20,
          "min": 0,
          "max": 100,
          "step": 5
        },
        {
          "type": "range",
          "id": "bottom_space_mobile",
          "label": "t:sections.all.spacing.bottom_space_mobile",
          "default": 20,
          "min": 0,
          "max": 100,
          "step": 5
        }
      ],
      "presets": [
        {
          "name": "t:sections.video.presets.name"
        }
      ]
    }
  {% endschema %}